.about
  &__prev
    position: relative
    &-bg
      background: #FFFFFF
      opacity: .2
      background: url("../upload/about-header.jpg") no-repeat top center
      -webkit-background-size: cover
      background-size: cover
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
  &__header
    padding-top: 110px
    background: url("../img/about-icon.svg") no-repeat top center
    -webkit-background-size: 100px
    background-size: 100px
    & h2
      color: #000
      &:before
        width: 100px
        background: #ff6600
    &-description
      font-size: 18px
      display: block
      font-weight: normal
      padding: 5px 0
    &-content
      color: #363636
      text-align: center
      max-width: 840px
      margin: 0 auto
      font-size: 16px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      padding-bottom: 50px
  &__content
    padding: 20px 0
    &-head
      border-bottom: 1px solid #dcdcdc
      padding: 15px 0
      font-size: 26px
    &-img
      display: inline-block
      width: 48%
      overflow: hidden
      padding-right: 20px
      @media (max-width: 1145px)
        width: 47%
      @media (max-width: 758px)
        width: 100%
        padding: 0
      & img
        width: 100%
        height: auto
    &-text
      padding: 10px 20px
      color: #2e2e2e
  &__why
    h2::before
      background: #FFFFFF
    .mainWhy
      background: url("../upload/about-why-bg.gif") no-repeat bottom
      -webkit-background-size: cover
      background-size: cover
    .mainWhy__items .mainWhy__items_item:hover .cls-1
      fill: #ff6600
    .mainWhy__items .mainWhy__items_item .cls-1
      fill: #ffffff
      opacity: 1
    &-bg2
      .mainWhy
        background: url("../img/abaut-why_bg.jpg") no-repeat center
        -webkit-background-size: cover
        background-size: cover
  &__head
    background: url(../img/about_head.jpg) no-repeat right center
    -webkit-background-size: cover
    background-size: cover
    &-content
      max-width: 650px
      width: 100%
      float: right
      color: #ffffff
      &--blue
        color: #1c63b8
        font-size: .9em
      &--orange
        color: #ff6600
        font-size: .9em
      & h2
        text-align: left
        margin-bottom: 16px
        &:before
          background: #ff6600
          left: 0
          transform: none
    &-link
      padding: 10px 20px
      background: #ff6600
      display: inline-block
      border: 2px solid #ff6600
      text-transform: uppercase
      color: #ffffff
      border-radius: 20px
      font-weight: 500
      margin-top: 10px
      margin-bottom: 30px
  &__map
    background: url("../img/map-img.jpg") no-repeat 40% center
    -webkit-background-size: cover
    background-size: cover
    padding-top: 50px
    padding-bottom: 50px
  &__contacts
    background: #ffffff
    max-width: 420px
    width: 100%
    padding: 30px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    & h2
      color: #000
      text-align: left
      margin-bottom: 20px
      &:before
        left: 0
        transform: none
  &__cost
    background: url("../img/about-cost-bg.jpg") no-repeat center
    -webkit-background-size: cover
    background-size: cover
    &-left
      float: left
      width: 66%
    &-list
      float: left
      width: 50%
      &--blue
        color: #1c63b8
        font-weight: 500
      & ul
        & li
          padding: 2px 5px 2px 10px
          color: #666666
          position: relative
          &:before
            content: ''
            width: 5px
            height: 5px
            border-radius: 50%
            background: #666666
            position: absolute
            left: 0
            top: 7px
      &-head
        font-size: 18px
        font-weight: 600
        position: relative
        padding-left: 50px
        line-height: 35px
        padding-bottom: 10px
        padding-top: 10px
        &:after
          content: ''
          width: 40px
          height: 35px
          position: absolute
          left: 0
          top: 10px
          background: url("../img/tick.svg") no-repeat center
    &-head
      padding-top: 30px
      & h2
        text-transform: uppercase
        font-size: 24px
        color: #000000
        text-align: left
        margin-bottom: 10px
        padding-bottom: 10px
        font-weight: 500
        &:before
          left: 0
          transform: none
  &__callback
    background: #ffffff url("../img/zoom.svg") no-repeat center 20px
    padding: 20px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    float: left
    width: 33%
    -webkit-box-shadow: 0px 0px 70px -10px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 0px 70px -10px rgba(0,0,0,0.75)
    box-shadow: 0px 0px 70px -10px rgba(0,0,0,0.75)
    margin: 90px 0
    position: relative
    & h4
      padding-top: 100px
      font-size: 20px
      text-transform: uppercase
      text-align: center
    & p
      font-size: 15px
      color: #333333
      text-align: center
    & input
      width: 100%
      display: inline-block
      padding: 10px 20px
      border-radius: 20px
      border: 1px solid #aaabab
      margin: 5px 0
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
    & button
      background: #1760ad
      text-transform: uppercase
      width: 100%
      display: inline-block
      border: none
      padding: 10px 20px
      border-radius: 20px
      margin: 10px 0
      font-weight: 600
      color: #ffffff
  &__footer
    background: url("../img/about-foot-bg.jpg") no-repeat center
    -webkit-background-size: cover
    background-size: cover
    color: #ffffff
    padding: 50px 0
    & h2
      text-align: left
      margin-bottom: 20px
      &:before
        left: 0
        transform: none
        background: #ff6600
    &-list
      padding: 30px 0
      & li
        padding: 12px 10px 12px 60px
        position: relative
        line-height: 20px
        &:before
          content: ''
          position: absolute
          width: 40px
          height: 40px
          background: url("../img/ix_tube.svg") no-repeat center
          left: 0