.answer
  &__question
    max-width: 650px
    width: 100%
    display: inline-block
    vertical-align: top
    &-item
      background: url("../img/answer/arrow.svg") no-repeat 20px 13px
      border: 1px solid #efeff3
      padding: 5px 45px
      font-size: 16px
      overflow: hidden
      margin: 3px 0
      cursor: pointer
      +animate-delay(.2s)
      & p
        padding: 5px 0
      &--more
        display: none
        +animate-delay(.2s)
      &--active
        background: #edf2f9 url("../img/answer/arrow.svg") no-repeat 20px 13px
        .answer__question-item--more
          display: block
    &-contact
      padding: 20px 20px 20px 70px
      background: url("../img/answer/question.svg") no-repeat left center
    &-header
      font-size: 24px
      color: #000
      font-weight: 500
    &-tel
      font-size: 24px
      color: #333333
      & a
        color: #ff6600
      &--underline
        text-decoration: underline
  &__header
    font-size: 28px
    font-weight: bold
  &__form
    max-width: 400px
    width: 100%
    display: inline-block
    vertical-align: top
    position: relative
    box-sizing: border-box
    padding: 24px
    text-align: center
    &-border
      border: 4px solid #ffd1b2
      width: 100%
      height: calc(100% - 50px)
      position: absolute
      bottom: 0
      left: 0
      box-sizing: border-box
      z-index: -1
    &-header
      font-size: 22px
      color: #1c63b8
      font-weight: bold
      text-align: center
      background: #FFFFFF
      display: inline-block
      padding: 0 20px
    &-description
      font-size: 20px
      color: #1a1a1a
      text-align: center
    &-input
      height: 40px
      padding: 10px 20px
      box-sizing: border-box
      border-radius: 20px
      border: 1px solid #b6b7b7
      width: 100%
      font-size: 16px
      margin: 7px 0
    &-textarea
      padding: 10px 20px
      box-sizing: border-box
      resize: none
      width: 100%
      border-radius: 20px
      margin: 7px 0
      font-size: 16px
      font-family: Roboto
    &-submit
      background: #1760ad
      color: #FFFFFF
      text-transform: uppercase
      font-weight: 500