.card
  &__slider
    display: inline-block
    vertical-align: top
    &-nav
      display: inline-block
      vertical-align: middle
      width: 80px
      padding-top: 40px
      padding-bottom: 40px
      & .slick-arrow
        position: absolute
        left: 50%
        width: 30px
        height: 30px
        margin-left: -15px
        z-index: 100
        border-radius: 50%
      & .slick-prev
        top: 20px
        background: #ffffff url("../img/card/str1.svg") no-repeat center
      & .slick-next
        bottom: 0
        top: auto
        background: #ffffff url("../img/card/str2.svg") no-repeat center
      &-item
        width: 100%
        margin: 5px 0
        &.slick-slide
          border: 2px solid #e9e9e9
        &.slick-current
          border: 2px solid #ff6600
        & img
          width: 100%
          height: auto
    &-content
      width: 330px
      display: inline-block
      vertical-align: middle
      &-item
        width: 100%
        overflow: hidden
        & img
          width: 100%
          height: auto
  &__description
    width: calc(100% - 420px)
    display: inline-block
    padding-bottom: 20px
    @media (max-width: 1000px)
      width: 100%
    &-more
      display: table-cell
      vertical-align: top
      @media (max-width: 800px)
        display: block
      &-wrap
        display: table
        width: 100%
        border-top: 2px solid #e7e7e7
        border-bottom: 2px solid #e7e7e7
        padding: 20px 0
      &-inner
        display: table-row
      &--border
        border-left: 2px solid #e7e7e7
        padding-left: 20px
        @media (max-width: 800px)
          border: none
          padding-left: 0
          padding-top: 20px
      &-link
        font-size: 16px
        color: #ff6600
        text-decoration: underline
        padding-top: 10px
        display: inline-block
      &-head
        color: #2d2d28
        font-size: 15px
        font-weight: 600
    &-head
      padding-bottom: 20px
      & h2
        margin: 0
        padding: 0
        color: #2d2d28
        font-size: 26px
        text-align: left
        &:before
          display: none
      &--blue
        font-size: 20px
        color: #568bca
    &-left
      width: calc(100% - 260px)
      display: inline-block
      vertical-align: top
    &-right
      width: 250px
      display: inline-block
      text-align: center
      vertical-align: top
      padding: 0 20px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      border-left: 2px solid #e7e7e7
    &-number
      font-size: 16px
      color: #1c63b8
      font-weight: 500
      padding-top: 10px
      padding-bottom: 20px
    &-list
      & li
        position: relative
        font-size: 15px
        padding: 2px 0 2px 15px
        &:before
          content: ''
          position: absolute
          width: 5px
          height: 5px
          display: block
          background: #666666
          top: 50%
          left: 2px
          margin-top: -2px
          border-radius: 50%
      &--blue
        color: #2368ba
      &--checked
        & li
          padding-left: 30px
          &:before
            margin-top: -7px
            width: 20px
            height: 15px
            background: url("../img/card/tick.svg") no-repeat center
    &-green
      text-transform: uppercase
      color: #328951
      font-size: 11px
      font-weight: 500
      text-align: center
    &-oldprice
      text-align: center
      font-size: 22px
      color: #535353
      position: relative
      &:before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        width: 120px
        height: 2px
        background: #ff6600
        margin-left: -60px
        z-index: -1
    &-price
      font-weight: 600
      font-size: 26px
      text-align: center
      color: #1760ad
    &-price-min
      font-size: 20px
      color: #4781c5
      text-align: center
      font-weight: 500
      &-descr
        font-size: 11px
        color: #505050
        text-align: center
  &__add-item
    padding: 10px 30px
    background: #ff6600
    border: 2px solid #ff6600
    color: #ffffff
    text-transform: uppercase
    border-radius: 20px
    font-size: 16px
    margin: 5px 0
    font-weight: 600
    &:hover
      background: transparent
      color: #000
  &__fast-buy
    border: 2px solid #1C63B8
    background: transparent
    padding: 10px 20px
    border-radius: 20px
    text-transform: uppercase
    font-weight: 600
    margin: 5px 0
    display: inline-block
  &__contact
    display: block
    text-align: left
    font-size: 13px
    text-decoration: underline
    color: #ff6600
    padding: 2px 0
  &__add-favor
    color: #ff6600
    display: block
    text-decoration: underline
    font-weight: 500
    text-transform: uppercase
    padding: 10px 0 10px 30px
    background: url("../img/card/serdce.svg") no-repeat center left
  &__simples
    padding: 20px 0
    &-head
      font-size: 24px
      font-weight: 500
    &-slide
      padding: 20px 50px
      position: relative
      &-head
        font-size: 16px
        color: #2d2d28
        font-weight: bold
        &--blue
          color: #1C63B8
          display: inline-block
      &-description
        font-size: 14px
        color: #737373
        &--black
          color: #2d2d28
          font-weight: 600
          padding-top: 10px
      &-price
        color: #1c63b8
        font-weight: 600
        font-size: 17px
        padding-top: 10px
      &-img
        display: inline-block
        vertical-align: top
        width: 120px
        height: 120px
        overflow: hidden
        border: 1px solid #e7e7e7
        padding: 5px
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        & img
          width: 100%
          height: auto
      & .slick-arrow
        background: url("../img/card/str_big.svg") no-repeat center
        width: 40px
        height: 40px
        top: 50%
        margin-left: 0
        margin-top: -20px
        z-index: 10000
        transform: none
      & .slick-prev
        left: 0
      & .slick-next
        right: 0
        margin-right: 0
        transform: rotate(180deg)
    &-content
      display: inline-block
      width: calc(100% - 135px)
      padding-left: 10px
      vertical-align: top
