.catalog
  &__header
    padding-top: 20px
    & h2
      font-size: 30px
      text-transform: none
      color: #2d2d28
      text-align: left
      margin: 0
      padding: 0
      &:before
        display: none
  &__drop-down
    display: none
  &__sidebar
    border-right: 2px solid #f0f0f0
    width: 280px
    display: inline-block
    vertical-align: top
    &-search
      margin: 8px 20px 8px 0
      position: relative
      & input
        width: 100%
        border: 1px solid #bbbbbb
        border-radius: 20px
        padding: 10px 20px
        box-sizing: border-box
        font-size: 16px
      &-btn
        position: absolute
        top: 0
        right: 0
        width: 40px
        height: 100%
        border: none
        border-top-right-radius: 20px
        border-bottom-right-radius: 20px
        background: url("../img/catalog/zoom.svg") no-repeat center center
        -webkit-background-size: cover
        background-size: cover
    &-menu
      color: #1c63b8
      position: relative
      +animate-delay(.3s)
      &:before
        content: ''
        width: 8px
        height: 8px
        position: absolute
        display: block
        top: 14px
        left: 0
        background-color: #1c63b8
        +animate-delay(.3s)
      &--ic
        position: absolute
        top: 5px
        right: 0
        fill: #1c63b8
        +animate-delay(.3s)
      &:hover
        color: #ff6600
        .catalog__sidebar-menu--ic
          fill: #ff6600
        &:before
          background: #ff6600
      &.active
        color: #ff6600
        .catalog__sidebar-menu--ic
          top: 8px
          fill: #ff6600
          transform: rotate(180deg)
        &:before
          background: #ff6600
    &-list
      font-size: 18px
      margin-right: 20px
      color: #333333
      & a
        color: #4d4d4d
      &>li
        padding: 8px 20px
      &--small
        &>li
          font-size: 14px
          margin-left: -12px
          color: #6d6d6d
          &>a
            border-radius: 11px
            display: inline-block
            color: inherit
            padding: 2px 12px
            border: 1px solid transparent
            &:hover
              border-color: #ff6600
      &>li
        border-bottom: 2px solid #f0f0f0
        cursor: pointer
  &__right-container
    display: inline-block
    width: calc(100% - 290px)
    vertical-align: top
    padding-left: 25px
    box-sizing: border-box
  &__banner
    position: relative
    height: 66px
    padding-left: 110px
    margin-right: 66px
    background: #eaeaea url("../img/catalog/lupa.svg") no-repeat 20px center
    &::before
      content: ''
      position: absolute
      top: 0
      right: -66px
      width: 0
      height: 0
      border-style: solid
      border-width: 66px 66px 0 0
      border-color: #eaeaea transparent transparent transparent
    &-text
      font-size: 20px
      text-align: center
      display: inline-block
      width: 400px
      padding-top: 8px
      &--blue
        color: #1c63b8
    &-btn
      position: absolute
      top: 50%
      margin-top: -15px
      right: 100px
      padding: 5px 25px
      text-transform: uppercase
      color: #000
      border: 2px solid #ff6600
      border-radius: 20px
      font-weight: 500
      +animate-delay(.2s)
      &:hover
        background: #ff6600
        color: #FFFFFF
  &__border
    border-top: 2px solid #eaeaea
    margin-top: 12px
    padding-top: 12px
  &__filter
    &-header
      font-size: 22px
      font-weight: 500
      &--count
        color: #1c63b8
        text-decoration: underline
        font-size: 18px
        font-weight: normal
    &-control
    &-select
      display: inline-block
      & select
        color: #878787
        border: 1px solid #878787
        border-radius: 5px
        padding: 5px 10px
        margin: 3px
        font-weight: 500
        &:hover
          color: #1b62ae
          border-color: #ff6600
    &-reset
      background: transparent
      border: none
      color: #1b62ae
      text-decoration: underline
      &:hover
        color: #ff6600
      &:after
        content: ''
        display: inline-block
        vertical-align: middle
        width: 20px
        height: 20px
        margin-left: 5px
        background: url("../img/catalog/iks.svg") no-repeat center
    &-item
      border: 1px solid #e4e4e4
      padding: 15px 0
      position: relative
      &-banner
        position: absolute
        top: -1px
        right: -8px
        background: #f74c00
        padding: 6px 10px 6px 10px
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        text-transform: uppercase
        font-size: 24px
        color: #fff
        height: 40px
        font-weight: bold
        &:before
          content: ''
          position: absolute
          right: 0
          bottom: -8px
          width: 0
          height: 0
          border-style: solid
          border-width: 8px 8px 0 0
          border-color: #842c00 transparent transparent transparent
        &:after
          content: ''
          position: absolute
          top: 0
          left: -15px
          width: 0
          height: 0
          border-style: solid
          border-width: 20px 15px 20px 0
          border-color: transparent #f74c00 transparent transparent
        &.active
          .catalog__filter-item-banner--descript
            opacity: 1
        &--descript
          +animate-delay(.2s)
          position: absolute
          top: 0
          left: 0
          padding: 7px 5px
          -webkit-box-sizing: border-box
          -moz-box-sizing: border-box
          box-sizing: border-box
          height: 40px
          width: 100%
          font-size: 11px
          background: #f74c00
          text-transform: none
          opacity: 0
      & h3
        font-size: 22px
        color: #2d2d28
      &-name
        font-size: 16px
        font-weight: 600
        color: #4781c5
      &-text
        & h4
          color: #2d2d28
          font-size: 15px
          line-height: 1.5em
        & p
          font-size: 13px
          color: #666666
          line-height: 16px
      &--right
        display: inline-block
        width: calc(100% - 220px)
        padding-left: 15px
        box-sizing: border-box
        vertical-align: middle
      &-img
        display: inline-block
        vertical-align: middle
        overflow: hidden
        width: 210px
        & img
          width: 100%
          height: auto
      &-description
        display: inline-block
        vertical-align: middle
        width: calc(100% - 170px)
        padding-right: 15px
        padding-top: 15px
      &-buy
        display: inline-block
        vertical-align: top
        width: 149px
        text-align: center
        border-left: 1px solid #e4e4e4
      &-have
        color: #328951
        text-transform: uppercase
        font-weight: 600
        font-size: 12px
      &-oldprice
        color: #585858
        font-size: 22px
        position: relative
        z-index: 100
        &:before
          content: ''
          position: absolute
          top: 50%
          left: 0
          width: 100%
          height: 2px
          background: #ff6600
          transform: rotate(-2deg)
          z-index: -1
      &-more
        color: #ff6600
        text-decoration: underline
      &-newprice
        font-size: 20px
        color: #1760ad
        font-weight: 600
        padding: 5px 0
      &-addbasket
        padding: 10px 25px
        background: #ff6600
        color: #FFFFFF
        text-transform: uppercase
        font-weight: 600
        border-radius: 20px
        display: inline-block
      &-ranked
        padding-top: 10px
        &--star
          width: 20px
          height: 20px
          display: inline-block
          background: url("../img/catalog/stra2.svg") no-repeat center
          cursor: pointer
          &-active
            background: url("../img/catalog/star.svg") no-repeat center
          &:hover
            background: url("../img/catalog/star.svg") no-repeat center
      &-coments
        color: #3c3c3b
        text-decoration: underline
        font-size: 16px
