.contact
  padding-bottom: 30px
  text-align: center
  &__content
    display: inline-block
    vertical-align: top
    width: 49%
    padding-right: 40px
    min-width: 400px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    text-align: left
    &>h2
      position: relative
      margin: 0
      padding: 15px 0
      color: #000
      text-align: left
      text-transform: none
      &:before
        left: 25px
  &__form
    text-align: left
    display: inline-block
    vertical-align: top
    min-width: 400px
    width: 49%
    position: relative
    padding: 10px 30px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    &--border:after
      content: ''
      position: absolute
      top: 30px
      left: 0
      right: 0
      bottom: 30px
      border: 4px solid #ff6600
      opacity: .2
      z-index: -1
    &-head
      display: inline-block
      background: #FFFFFF
      padding: 10px 12px
      z-index: 100
      font-size: 24px
    &-input
      padding: 10px 15px
      border: 1px solid #bdbdbd
      border-radius: 20px
      width: 100%
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      margin: 7px 0
      color: #666666
    &-textarea
      border: 1px solid #bdbdbd
      width: 100%
      border-radius: 20px
      resize: none
      padding: 10px 15px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      font-family: inherit
      margin: 7px 0
      color: #666666
    &-submit
      width: 100%
      padding: 10px 15px
      text-transform: uppercase
      font-weight: 600
      border-radius: 20px
      border: 2px solid #1760ad
      background: #FFFFFF
      color: #000000
      +animate-delay(.1s)
      &:hover
        background: #1760ad
        color: #FFFFFF
  &__text
    position: relative
    font-size: 18px
    padding-left: 40px
    padding-top: 7px
    padding-bottom: 7px
    &--grey
      color: #666666
    &-icon
      position: absolute
      left: 0
      top: 6px
      width: 26px
      height: 26px
      display: block
      &--house
        background: url("../img/contact/home.svg") no-repeat center center
      &--time
        background: url("../img/contact/time.svg") no-repeat center center
  &__number
    font-size: 24px
    position: relative
    color: #ff6600
    padding: 15px 0 15px 60px
    &>a
      color: inherit
      font-weight: 900
    &-description
      font-size: 14px
      color: #666666
    &-icon
      position: absolute
      top: 50%
      margin-top: -25px
      left: 0
      width: 50px
      height: 50px
      -webkit-background-size: 50px
      background-size: 50px
      &--tel
        background: url('../img/contact/phone.svg') no-repeat center center
      &--viber
        background: url('../img/contact/whats_up.svg') no-repeat center center
  &__mail
    padding: 10px 10px 10px 60px
    font-size: 16px
    color: #666666
    position: relative
    &>a
      color: inherit
    &-icon
      width: 40px
      height: 30px
      position: absolute
      top: 50%
      left: 0
      margin-top: -15px
      background: url("../../img/contact/mail.svg") no-repeat center center
  &__callback
    padding: 10px 70px
    display: inline-block
    border: 2px solid #ff6600
    color: #000000
    text-transform: uppercase
    font-size: 14px
    font-weight: 600
    border-radius: 20px
