.delivery
  &__footer
    &-ic
      background: url("../img/delivery/ic5.svg") no-repeat center 30px
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
  &__item
    position: relative
    font-size: 20px
    color: #000
    border-bottom: 2px solid #f6f6f6
    padding: 20px 20px 20px 130px
    min-height: 80px
    & p
      color: #333333
    &:last-child
      border: none
    &-ic
      position: absolute
      top: 20px
      left: 0
      background: transparent no-repeat center top
      width: 100px
      height: 100%
      &--marker
        background-image: url(../img/delivery/ic1.svg)
      &--box
        background-image: url(../img/delivery/ic2.svg)
      &--moto
        background-image: url(../img/delivery/ic3.svg)
      &--travel
        background-image: url(../img/delivery/ic4.svg)
      &--car
        background-image: url(../img/delivery/ic5.svg)
      &--post
        background-image: url(../img/delivery/ic6.svg)
      &--rub
        background-image: url(../img/delivery-pay/ic1.svg)
      &--visa
        background-image: url(../img/delivery-pay/ic_visa.svg)
      &--wm
        background-image: url(../img/delivery-pay/ic-web_mon.svg)
      &--yandex
        background-image: url(../img/delivery-pay/ic_yandex.svg)
      &--bank
        background-image: url(../img/delivery-pay/ic_bank.svg)
      &--qiwi
        background-image: url(../img/delivery-pay/ic_qiwi.svg)
    &-head
      font-size: 20px
      color: #1c63b8
      font-weight: 600
  &__list
    color: #333333
    font-size: 18px
    & li
      padding-left: 12px
      position: relative
      padding-bottom: 20px
      &:before
        content: ''
        width: 5px
        height: 5px
        border-radius: 50%
        display: block
        position: absolute
        top: 8px
        left: 2px
        background: #1c63b8


