.garant
  .container
    padding-left: 150px
  &__header
    font-size: 22px
    color: #000
    font-weight: 500
  &__sheld
    font-size: 16px
    color: #000
    font-weight: 500
    background: url("../img/garant/sheld.svg") no-repeat top left
    padding-left: 90px
    padding-top: 10px
    min-height: 70px
  &__calend
    padding-top: 10px
    padding-left: 90px
    background: url("../img/garant/calendar.svg") no-repeat top left
    font-size: 16px
    color: #333333
    min-height: 70px
  &__dabble-line
    padding-left: 40px
    background: url("../img/garant/line.svg") no-repeat center left
    font-size: 18px
    font-weight: bold
    color: #1a1a1a
  &__list
    font-size: 16px
    color: #333333
    & li
      padding: 10px 40px
      display: block
      position: relative
      &:before
        content: ''
        width: 25px
        height: 20px
        position: absolute
        top: 10px
        left: 0
        background-repeat: no-repeat
        background-position: center
    &--tick li
      &:before
        background-image: url("../img/garant/tick.svg")
    &--iks li
      &:before
        background-image: url("../img/garant/iks.svg")
  &__warning
    font-size: 25px
    text-transform: uppercase
    color: #1c63b8
    font-weight: 600
    padding: 10px 0
  &__footer
    position: relative
    font-size: 32px
    color: #1a1a1a
    text-align: center
    font-weight: 800
    line-height: 50px
    margin-top: 50px
    &--blue
      color: #1c63b8
    &--blur
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: #FFFFFF
      opacity: 0.8
      z-index: -1
    &-btn
      padding: 10px 40px
      text-transform: uppercase
      font-size: 16px
      color: #FFFFFF
      border-radius: 20px
      background-color: #ff6600
    &-bg
      background: url("../img/garant/footer-bg.jpg") no-repeat center
      -webkit-background-size: cover
      background-size: cover
      z-index: -2
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
    &-content
      padding: 140px 20px 90px 20px
    &-ic
      background: url("../img/garant/question.svg") no-repeat center 30px
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0