.header
  &__top
    display: flex
    flex-flow: wrap row
    align-items: center
    justify-content: space-between
    &-wrap
      background-color: #f4f4f4
    ul.social
      display: flex
      flex-flow: wrap row
      align-items: center
      li
        margin: 0 2px
        a
          display: block
          width: 31px
          height: 31px
          .cls-1
            opacity: 1
          &:hover
            .cls-1
              fill: #4781c5
    .address
      font-size: 15px
      color: #a9a9a9
      position: relative
      padding-left: 30px
      & a
        color: inherit
        font-size: inherit
        text-decoration: none
      &::before
        content: ""
        position: absolute
        top: 50%
        left: 0
        +transformY
        width: 21px
        height: 20px
        background: url('../img/header/home.svg') no-repeat center
    .workTime
      color: #a9a9a9
      font-size: 17px
      position: relative
      padding-left: 30px
      &::before
        content: ""
        position: absolute
        top: 50%
        left: 0
        +transformY
        width: 24px
        height: 24px
        background: url('../img/header/workTimeGrey.svg') no-repeat center
  &__bottom
    background-color: #FFFFFF
    padding: 10px 0
  &__logo
    display: inline-block
    vertical-align: middle
    margin: 0 5px
    &-inner
      background: url("../img/header/logo.svg") no-repeat left center
      padding: 10px 10px 10px 70px
      display: inline-block
    &-header
      text-transform: uppercase
      color: #000066
      font-size: 27px
      display: inline-block
      &--black
        color: #000000
    &-description
      color: #ababab
      font-size: 12px
      display: block
  &__contact
    display: inline-block
    vertical-align: middle
    margin: 0 5px
    &-phoneIcon
      background: url("../img/header/phone.svg") no-repeat center center
      width: 45px
      height: 45px
      display: inline-block
      vertical-align: middle
    &-number
      color: #ff6600
      font-size: 29px
      line-height: 48px
      display: inline-block
      vertical-align: middle
      font-family: Roboto
      font-weight: 500
    &-callback
      font-family: Roboto
      font-weight: 500
      font-size: 14px
      color: #000000
      border: 3px solid #1f77c3
      background-color: #FFFFFF
      text-transform: uppercase
      border-radius: 3px
      padding: 15px
      margin: 0 5px
      +animate-delay(.2s)
      &:hover
        background-color: #1f77c3
        color: #f2f9ff
  &__notify
    display: inline-block
    vertical-align: middle
    margin: 0 5px
    &-icon
      background: url("../img/header/ic-notify.png") no-repeat center center
      width: 40px
      height: 40px
      position: relative
    &-count
      position: absolute
      top: 0
      right: -10px
      width: 20px
      height: 20px
      border-radius: 50%
      color: #FFFFFF
      background-color: #1f77c3
      text-align: center
      line-height: 20px
  &__basket
    display: inline-block
    vertical-align: middle
    margin: 0 5px
    &--icon
      background: url("../img/header/korzina.svg") no-repeat center left
      -webkit-background-size: 50px auto
      background-size: 50px auto
      padding-left: 60px
      height: 50px
    &-count
      color: #ff7e15
      font-size: 17px
    &-price
      color: #000
      font-size: 23px
  &__nav
    background-color: #1f77c3
    font-family: Roboto
    font-size: 16px
    color: #FFFFFF
    &-menu
      display: inline-block
    &-link
      display: inline-block
      vertical-align: middle
      text-transform: uppercase
      border-bottom: 2px solid transparent
      margin: 0 5px
      +animate-delay(.2s)
      & a
        color: #FFFFFF
        padding: 10px 0
        display: block
      &:hover
        border-bottom: 2px solid #FFFFFF
  &__catalog
    display: inline-block
    font-size: 15px
    text-transform: uppercase
    position: relative
    &:hover
      .header__catalog-sub-menu
        display: block
    &-btn
      background: url("../img/header/menu.svg") no-repeat center center
      -webkit-background-size: contain
      background-size: contain
      padding: 0 60px
      display: inline-block
      vertical-align: middle
      line-height: 44px
      height: 44px
    &-sub-menu
      position: absolute
      left: 0
      z-index: 999999
      width: 100%
      background: #FFFFFF
      display: none
      overflow: hidden
      & li
        &:hover
          background: #4781c5
          & a
            color: #ffffff
        & a
          color: #000
          display: block
          padding: 15px
          border: 1px solid #f0f0f0
  &__search
    display: inline-block
    height: 32px
    position: relative
    margin-top: 5px
    float: right
    &-submit
      position: absolute
      width: 20px
      height: 20px
      top: 50%
      margin-top: -10px
      right: 8px
      background: url("../img/header/poisk.svg") no-repeat center center
      -webkit-background-size: contain
      background-size: contain
      border: none
    &-input
      height: 100%
      display: block
      padding: 0 40px 0 15px
      border-radius: 16px
      border: none
.sticky
  .header__nav
    position: fixed
    top: 0
    width: 100%
    z-index: 1000000
.sticky + .content
  padding-top: 44px