@media (max-width: 1200px)
  .hidden-1200
    display: none
  .header__search
    display: none

@media (max-width: 1100px)
  .hidden-1100
    display: none
  .header__contact-callback
    display: none

@media (max-width: 1000px)
  .hidden-1000
    display: none
  .promo-block .left, .promo-block .right
    width: 100%
    & .inner
      padding: 15px
      float: right
  .promo-block .right
    justify-content: flex-end
    background: url("../upload/right.png") no-repeat center right
    -webkit-background-size: cover
    background-size: cover
    & .inner
      width: 630px
  .footer__top .category
    display: none
  footer .footer__top h3
    display: none
  footer .footer__top a.all_contacts
    display: none
  footer .footer__top a.showCallBack
    display: none
  footer .footer__bottom
    text-align: center
  footer .footer__bottom ul.social
    margin: 0 auto
  footer .footer__bottom p.copyright
    margin: 0 auto
  .main__logo
    margin: 0 auto
  .catalog__right-container
    width: 100%
  .header__top-wrap
    display: none
  .header__nav-link a
    font-size: 13px
  .header__catalog
    font-size: 13px
  .catalog__sidebar
    display: none
  .catalog__right-container
    padding-left: 0

@media (max-width: 900px)
  .hidden-900
    display: none
  .header__logo
    display: block
    text-align: center
  .header__nav-link
    display: block
  .header__nav
    text-align: center
  .header__catalog
    width: 100%
  .header__catalog-btn
    width: 100%
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
  .header__catalog-sub-menu
    position: relative
  .pull-right
    display: block
    float: none
    text-align: center
  .header__contact
    display: block
    text-align: center
  .catalog__banner-btn
    right: 0
  .header__nav-menu
    display: none
  .header__show-menu
    display: block
  .header__catalog-btn
    background: transparent

@media (max-width: 800px)
  .hidden-800
    display: none
  .bread-crumbs
    display: none
  .catalog__filter-item-banner
    display: none
  .catalog__filter-item-description
    display: none
  .catalog__filter-item-buy
    border: none
  .about__cost-left
    width: 100%
  .about__callback
    width: 100%
  .header__contact-phoneIcon
    display: none
  .mainSlider__slide_inner .searchBlock
    width: 100%
  .mainSlider__slide_inner p
    text-align: center
  .mainSlider__slide_inner p a
    display: block
    margin: 0 auto
    width: 100%
    text-align: center
    -webkit-background-size: contain
    background-size: contain
  .mainSlider__slide_inner .searchBlock button
    font-size: 0
    width: 42px
  .mainSlider__slide_inner h1
    font-size: 27px
  .mainSlider__slide_inner h3
    font-size: 20px
  .mainCatalog .mainCatalog__items .mainCatalog__items_item
    height: auto
    width: 49%
  .mainCatalog .mainCatalog__items .mainCatalog__items_item--big
    width: 100%
  .mainWhy__items .mainWhy__items_item
    width: 48%
  .mainWhy__items .mainWhy__items_item:last-child
    display: none
  .about__head-content h2
    font-size: 24px
    margin-top: 15px
  .about__contacts h2
    font-size: 26px
  .contact__text
    font-size: 14px
  .contact__number
    font-size: 18px
  .contact__callback
    padding: 10px 20px
    width: 100%
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    text-align: center
  .mainWhy h2
    font-size: 21px
  .catalog__banner
    padding-left: 0
    background: none
    margin: 0
    height: auto
    &:before
      display: none
  .catalog__banner-btn
    position: relative
    display: inline-block
    margin-top: 5px
  .catalog__banner-text
    text-align: left
    width: 100%
  .catalog__filter-control
    position: relative
  .catalog__filter-reset
    position: absolute
    top: -20px
    right: 0
  .catalog__filter-header
    padding-right: 80px
  .garant .container
    padding: 0 15px

@media (max-width: 600px)
  .hidden-600
    display: none
  .about__cost-list
    width: 100%
  .card__slider-content
    width: 200px
  .card__description-left
    width: 100%
  .card__description-right
    width: 100%
    border-left: none
    border-top: 2px solid #e7e7e7
    padding-top: 15px
  .card__description-more--border
    border-top: 2px solid #e7e7e7
    margin-top: 15px
  .card__simples-head
    font-size: 20px
  .card__simples-slide
    padding: 20px 0 50px
  .card__simples-slide .slick-prev
    top: auto
    bottom: 5px
  .card__simples-slide .slick-next
    top: auto
    bottom: 5px
  .card__simples-slide-head
    font-size: 14px
  .card__simples-slide-description
    font-size: 11px
  .catalog__filter-select
    width: 49%
    & select
      width: 100%
  .catalog__filter-item
    padding-top: 40px
    border: none
  .catalog__filter-item-img
    width: 130px
  .catalog__filter-item--right
    width: calc(100% - 135px)
    & h3
      position: absolute
      top: 5px
      left: 10px
      font-size: 18px
    & .catalog__filter-item-name
      position: absolute
      top: 25px
      left: 10px
  .contact__content
    width: 100%
    min-width: auto
  .contact__form
    width: 100%
    min-width: auto
  .delivery__item
    padding: 20px 0 20px 50px
    font-size: 14px
  .delivery__item-ic
    width: 40px
    -webkit-background-size: contain
    background-size: contain
  .delivery__item-head
    font-size: 16px
  .delivery__list
    font-size: 14px
  .garant__footer
    line-height: 37px
    font-size: 28px
  .garant__sheld
    padding-left: 75px
  .garant__calend
    padding-left: 75px
  .answer__question-contact
    padding: 0 0 0 70px
  .answer__question-header
    font-size: 22px
  .answer__question-tel
    font-size: 22px
  .news-detail__img:before
    top: 10px
    left: 10px
    right: 10px
    bottom: 10px
  .news-detail__header h2
    font-size: 34px
  .order__table-total
    padding-top: 40px
  .order__table-remove
    position: absolute
    top: 0
    right: 0
  .order__table-total .order__table-price--old
    display: block
    top: 0
  .order__delivery-container
    padding-right: 0
  .order__table-charter-head
    display: none
  .order__table-charter
    display: none
  .order__header
    font-size: 18px
  .order__header--count:after
    border-width: 13px 0 13px 8px
  .order__promo-code
    margin: 5px 0
  .order__promo-success
    margin: 5px 0
  .order__total
    font-size: 22px
  .search__list-img
    display: none
  .search__list-content
    width: 100%
  .search__list-discount
    display: none
  .search__list-rate
    display: none
  .search__header
    font-size: 16px
  .search__header-count
    font-size: 14px
  .online-search__type
    justify-content: space-around
  .online-search__brand
    justify-content: space-around
  .online-search__model table thead td
    padding: 5px 2px
  .online-search__model table thead td:after
    left: 2px
    right: 2px
  .online-search__success
    padding: 10px
  .online-search__model table .icon-car
    display: none

@media (max-width: 500px)
  .online-search__nav-item
    width: 100%
  .search-icon__description
    position: fixed
    top: 30%
    left: 20px
    right: 20px
    width: auto
    padding: 0
  .search-icon__content:before
    display: none
  .search-icon__close
    top: 0
