.news-detail
  padding-bottom: 60px
  &__date
    font-size: 18px
    color: #575757
    &--icon
      padding: 5px 10px 5px 40px
      background: url("../img/news-detail/timer.svg") no-repeat left center
  &__header
    & h2
      text-align: left
      color: #2d2d28
      text-transform: none
      margin: 15px 0
      padding: 2px 0
      border-bottom: 2px solid #dfdfdf
      &:before
        display: none
  &__img
    position: relative
    & img
      width: 100%
      height: auto
      z-index: 0
    &:before
      content: ''
      position: absolute
      display: block
      top: 23px
      left: 23px
      bottom: 23px
      right: 23px
      z-index: 1000
      border: 4px solid rgba(0, 97, 212, .3)
  &__text
    color: #333333
    margin: 8px 0
    font-size: 14px
    line-height: 18px
    &--blue
      color: #1c63b8
      padding-left: 5px
      border-left: 4px solid #1c63b8
    &--suffix
      color: #717171
      font-style: italic
      padding: 0 40px 30px
      position: relative
      &:after
        content: ''
        width: 40px
        height: 40px
        background: url("../img/news-detail/k1.svg") no-repeat
        position: absolute
        top: 0
        left: 0
      &:before
        content: ''
        width: 40px
        height: 40px
        background: url("../img/news-detail/k2.svg") no-repeat
        position: absolute
        bottom: 0
        right: 0
  &__btn-back
    padding: 8px 25px
    display: inline-block
    border: 2px solid #ff6600
    border-radius: 20px
    text-transform: uppercase
    color: #000
    font-weight: 500