.order
  &__header
    font-size: 30px
    font-weight: 600
    color: #252625
    padding: 20px 0
    &--count
      background: #1c63b8
      color: #FFFFFF
      padding: 2px 5px 2px 10px
      margin-right: 20px
      position: relative
      &:after
        content: ''
        position: absolute
        right: -8px
        top: 0
        width: 0
        height: 0
        border-style: solid
        border-width: 20px 0 20px 8px
        border-color: transparent transparent transparent #1c62b8
    &--total
      color: #4781c5
      font-size: 30px
      text-transform: uppercase
      font-weight: 600
      padding: 20px 0
  &-success
    &__header
      background: url("../img/order/icon.svg") no-repeat top center
      padding-top: 120px
      font-size: 28px
      font-weight: 500
      color: #4781c5
      text-align: center
      margin-top: 40px
      line-height: 36px
      &-number
        color: #000066
    &__description
      color: #1a1a1a
      font-size: 15px
      text-align: center
      padding: 5px 0
    &__back
      text-align: center
      height: 40px
      display: inline-block
      line-height: 40px
      padding: 0 50px
      border-radius: 20px
      border: 1px solid #ff6600
      text-transform: uppercase
      margin-top: 40px
      margin-bottom: 90px
      color: #000000
      font-weight: bold
      +animate-delay(.2s)
      &:hover
        background: #ff6600
        color: #FFFFFF
      &-wrap
        text-align: center
  &__rub-ic
    width: 30px
    height: 30px
    display: inline-block
    vertical-align: middle
    background: url("../img/order/rub.svg") no-repeat center
  &__table
    margin-left: -20px
    margin-right: -20px
    padding-bottom: 50px
    & table
      width: 100%
      border-spacing: 20px  10px
    & thead
      font-size: 14px
      text-transform: uppercase
      color: #666666
      & tr
        & td
          border-bottom: 2px solid #81a9d7
    &-img
      width: 140px
      display: block
      margin: 0 auto
      border: 1px solid #e3e3e3
      padding: 6px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      overflow: hidden
      & img
        display: block
        width: 100%
        height: auto
    &-head
      font-size: 16px
      font-weight: 600
      padding-bottom: 10px
      &--blue
        color: #1e64b9
    &-charter
      font-size: 12px
      color: #666
      &-head
        font-size: 14px
        color: #2d2d28
        font-weight: 600
        padding: 5px 0
    &-input
      display: inline-block
      text-align: center
      & input
        display: inline-block
        border-radius: 3px
        height: 35px
        width: 80px
        border: 1px solid #949494
        color: #949494
        text-align: center
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        font-size: 16px
        margin: 0 6px
      &-btn
        display: inline-block
        border: none
        background: transparent
        width: 35px
        height: 35px
        border-radius: 50%
        vertical-align: middle
        font-size: 0
        -webkit-background-size: cover
        background-size: cover
        &.dec
          background: url("../img/order/minus.svg") no-repeat center
        &.inc
          background: url("../img/order/plus.svg") no-repeat center
    &-price
      font-size: 18px
      color: #000
      position: relative
      text-align: left
      font-weight: 500
      white-space: nowrap
      &--old
        position: absolute
        top: -24px
        width: 100%
        text-align: left
        color: #767676
        font-size: 16px
        font-weight: normal
        display: inline-block
        &:after
          content: ''
          width: 80px
          position: absolute
          top: 50%
          margin-top: -1px
          left: 0
          height: 2px
          background: #f95454
          z-index: -1
    &-remove
      background: url("../img/order/iks.svg") no-repeat bottom center
      display: inline-block
      font-size: 10px
      color: #919191
      padding-bottom: 30px
      vertical-align: top
      margin-top: -15px
      margin-left: 5px
      border: none
  &__promo-code
    padding: 10px 20px
    border-radius: 20px
    border: 1px solid #cccccc
    color: #666
    font-size: 16px
    font-weight: 500
    margin-right: 10px
  &__promo-success
    font-weight: 600
    font-size: 17px
    padding: 8px 25px
    border-radius: 20px
    border: 2px solid #ff6600
    background: none
    text-transform: uppercase
    margin-right: 10px
  &__total
    text-transform: uppercase
    font-size: 26px
    font-weight: 600
    vertical-align: middle
    padding: 5px 0
    &--blue
      color: #1c63b8
      font-size: 32px
      vertical-align: baseline
      &>.order__rub-ic
        vertical-align: top
        padding-top: 8px
    &-description
      font-size: 16px
      padding: 0 0 20px
      color: #383938
      font-weight: 500
  &__delivery
    border-top: 2px solid #8db1db
    background: #fafafa
    &-container
      width: 100%
      max-width: 450px
      display: inline-block
      vertical-align: top
      padding-right: 80px
    &-header
      font-size: 18px
      font-weight: 500
      &--icon
        height: 40px
        width: 70px
        vertical-align: middle
        background: url("../img/order/car.svg") no-repeat center center
        display: inline-block
        margin-left: 10px
    &-radio
      position: relative
      padding-left: 30px
      color: #1a1a1a
      padding-top: 15px
      padding-bottom: 15px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      &--blue
        color: #2066b9
      & label>a
        display: block
        text-decoration: underline
        color: #2066b9
        padding-top: 5px
      &--border
        border-bottom: 1px solid #e1e1e1
      &-wrap
        display: block
        position: absolute
        top: 15px
        left: 0
        padding-left: 35px
        margin-bottom: 12px
        cursor: pointer
        font-size: 22px
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        .checkmark:after
          top: 50%
          left: 50%
          margin-left: -4px
          margin-top: -4px
          width: 8px
          height: 8px
          border-radius: 50%
          background: #1760ad
        &:hover input ~ .checkmark
          background-color: #ccc
        & input
          position: absolute
          opacity: 0
          &:checked ~ .checkmark
            background-color: #f6f6f6
            &:after
              display: block
        .checkmark
          position: absolute
          top: 0
          left: 0
          height: 22px
          width: 22px
          background-color: #f6f6f6
          border-radius: 50%
          border: 1px solid #bdbebe
          box-sizing: border-box
          &:after
            content: ""
            position: absolute
            display: none
    &-select
      padding: 8px 20px
      font-size: 14px
      border-radius: 20px
      border: 1px solid #c6c6c6
      width: 100%
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      position: relative
      &--wrap
        position: relative
        margin: 3px 0
        &:after
          content: ''
          position: absolute
          top: 0
          right: 0
          height: 100%
          width: 40px
          background: #ff7e15
          border-top-right-radius: 20px
          border-bottom-right-radius: 20px
          display: block
          background: url("../img/order/down.svg") no-repeat center
          cursor: pointer
          z-index: 0
    &-input
      margin: 3px 0
      padding: 8px 20px
      font-size: 14px
      border-radius: 20px
      border: 1px solid #c6c6c6
      width: 100%
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      &--small
        width: calc(25% - 3px)
  &__footer
    border-top: 1px solid #ebebeb
    &-total
      color: #4781c5
      font-size: 30px
      text-transform: uppercase
      font-weight: 600
      position: relative
      padding-bottom: 40px
      &--black
        color: #000
      &--icon
        position: absolute
        top: 20px
        left: 0
        width: 40px
        height: 40px
        background: #1c63b8
    &-description
      color: #666
      text-transform: none
      font-size: 14px
      display: block
      font-weight: normal
      padding: 5px 0 0 45px
    &-submit
      background: #ff7e15
      padding: 5px 30px
      font-size: 20px
      text-transform: uppercase
      color: #FFFFFF
      font-weight: 500
      border: none
      border-radius: 20px
      margin-left: 55px
      margin-top: 10px