.search
  &__header
    font-size: 20px
    color: #000
    font-weight: 600
    margin-bottom: 10px
    margin-top: 10px
    &-count
      font-size: 16px
      color: #1b62ae
      text-decoration: underline
      font-weight: normal
  &__input
    position: relative
    & input
      display: block
      border: 2px solid #1b62ae
      font-size: 18px
      color: #333333
      border-radius: 20px
      width: 100%
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      padding: 8px 20px
    &-submit
      position: absolute
      right: 0
      top: 0
      border-bottom-right-radius: 20px
      border-top-right-radius: 20px
      width: 60px
      height: 100%
      background: url("../../img/search/search.svg") no-repeat center
      display: block
      border: none
  &__list
    border-top: 1px solid #e7e7e7
    margin: 10px 0
    padding: 5px 0
    display: block
    &-item
      padding: 5px
      position: relative
      &:hover
        background: #fff0e6
    &-content
      display: inline-block
      width: calc(100% - 160px)
      vertical-align: middle
      margin-left: 10px
    &-discount
      position: absolute
      top: 5px
      right: 5px
      color: #FFFFFF
      font-size: 20px
      font-weight: bold
      padding: 3px 10px
      z-index: 1000
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        -webkit-transform: skew(-20deg)
        -moz-transform: skew(-20deg)
        -o-transform: skew(-20deg)
        background: #ff6600
        z-index: -1
    &-img
      display: inline-block
      vertical-align: middle
      overflow: hidden
      width: 140px
      height: 140px
      border: 1px solid #e7e7e7
      background: #FFFFFF
      & img
        width: 100%
        height: auto
    &-head
      font-size: 22px
      font-weight: 600
      &--blue
        color: #1c63b8
    &-price
      font-weight: 600
      font-size: 30px
      vertical-align: middle
      color: #1c63b8
      position: relative
      padding-top: 20px
    &-oldprice
      position: absolute
      top: 0
      left: 0
      font-size: 18px
      color: #767676
      font-weight: normal
      z-index: 1000
      &:before
        content: ''
        position: absolute
        top: 50%
        left: 0
        margin-top: -2px
        height: 2px
        background: #f71c1c
        z-index: -1
        width: 100%
    &-charter
      color: #686868
      &-head
        font-weight: 600
        color: #3c3c3b
        font-size: 16px
        padding: 5px 0
    &-rate
      float: right
      color: #000
  &__star
    width: 20px
    height: 20px
    display: inline-block
    background: url("../img/search/star.svg") no-repeat center
    &--half
      background: url("../img/search/star-half.svg") no-repeat center
    &--active
      background: url("../img/search/star-active.svg") no-repeat center
    &-container
      display: inline-block
      vertical-align: middle
      & li
        display: inline-block
  &__online
    padding: 10px 0 0 0
    &-header
      & h2
        text-transform: none
        padding: 0
        margin: 0
        color: #000
        text-align: left
        &:before
          display: none
      & p
        color: #333333
        font-size: 20px
        padding: 10px 0
.online-search
  &__nav ul
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: row
    -ms-flex-direction: row
    flex-direction: row
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-justify-content: space-between
    -ms-flex-pack: justify
    justify-content: space-between
    -webkit-align-content: flex-start
    -ms-flex-line-pack: start
    align-content: flex-start
    -webkit-align-items: baseline
    -ms-flex-align: baseline
    align-items: baseline
  &__nav-item
    background: #e1e1e1
    color: #1a1a1a
    padding: 10px 10px
    font-weight: 500
    border-top-right-radius: 3px
    border-top-left-radius: 3px
    font-size: 15px
    width: 250px
    &.active
      background: #1c63b8
      color: #ffffff
      position: relative
      &:before
        content: ''
        position: absolute
        bottom: -10px
        left: 50%
        margin-left: -10px
        width: 0
        height: 0
        border-style: solid
        border-width: 10px 10px 0 10px
        border-color: #1c62b8 transparent transparent transparent
      & .online-search__nav-item--count
        background: #ffffff
        color: #1c63b8
        &:after
          border-color: transparent transparent transparent #ffffff
    &--count
      background: #1c63b8
      color: #ffffff
      padding: 3px 5px
      margin-right: 10px
      position: relative
      &:after
        content: ''
        position: absolute
        top: 0
        right: -5px
        width: 0
        height: 0
        border-style: solid
        border-width: 11px 0 11px 5px
        border-color: transparent transparent transparent #1c63b8
  &__wrap
    background: #ecf2fa
    border-top: 2px solid #1c63b8
  &__item
    padding: 13px 0
  &__type
    padding: 60px 0
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: row
    -ms-flex-direction: row
    flex-direction: row
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-justify-content: space-between
    -ms-flex-pack: justify
    justify-content: space-between
    -webkit-align-content: flex-start
    -ms-flex-line-pack: start
    align-content: flex-start
    -webkit-align-items: baseline
    -ms-flex-align: baseline
    align-items: baseline
    &-option
      width: 240px
      align-self: stretch
      padding-bottom: 45px
      position: relative
      &-img
        width: 100%
        overflow: hidden
        & svg
          width: 100%
          height: auto
      & p
        display: block
        text-align: center
        color: #4b4c4d
        font-size: 18px
      &:hover
        .online-search__type-btn
          background: #ff6600
          color: #ffffff
        svg
          .fil0
            fill: #ff6600
          .fil1
            fill: #ffffff
          .fil2
            fill: #ffffff
          .str0
            stroke: #ffffff
          .fil02
            fill: #ff6600
          .fil12
            fill: #ffffff
          .fil22
            fill: #ffffff
          .str02
            stroke: #ffffff
          .fil03
            fill: #ff6600
          .fil13
            fill: #ff6600
          .fil23
            fill: #ff6600
            display: none
          .str03
            stroke: #ff6600
          .fil43
            fill: #ffffff
          .str13
            stroke: #ffffff
          .fil04
            fill: #ff6600
          .fil14
            fill: #ff6600
          .fil24
            fill: #ffffff
          .str04
            stroke: #ffffff
          .fil44
            fill: #ffffff
          .str14
            stroke: #ffffff
    &-btn
      position: absolute
      bottom: 0
      left: 50%
      margin-left: -100px
      width: 200px
      font-size: 14px
      text-transform: uppercase
      font-weight: 600
      background-color: transparent
      border: 2px solid #ff6600
      border-radius: 20px
      padding: 10px 0
      color: #000
  &__brand
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: row
    -ms-flex-direction: row
    flex-direction: row
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-justify-content: space-between
    -ms-flex-pack: justify
    justify-content: space-between
    -webkit-align-content: flex-start
    -ms-flex-line-pack: start
    align-content: flex-start
    -webkit-align-items: baseline
    -ms-flex-align: baseline
    align-items: baseline
    &-item
      width: 205px
      text-align: center
      margin: 12px 0
      &:hover
        .online-search__brand-img:before
          content: ''
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          background: #ff6600
          opacity: .3
        .online-search__brand-btn
          background: #ff6600
          color: #ffffff
    &-img
      width: 100%
      height: 158px
      background: #ffffff
      overflow: hidden
      position: relative
      & img
        width: 100%
        height: auto
    &-btn
      border: none
      background: transparent
      font-size: 18px
      text-transform: uppercase
      font-weight: 500
      padding: 5px 20px
      border-radius: 20px
      margin: 5px 0
    &-back
      padding: 10px 20px 10px 50px
      background: #ff6600 url("../img/online-search/arrow.png") no-repeat 10px center
      color: #ffffff
      font-weight: 600
      border: none
      border-radius: 20px
  &__item
  &__model
    &-head
      font-weight: 600
      font-size: 20px
      color: #1c63b8
    & table
      width: 100%
      border-spacing: 0
      margin: 20px 0
      & td
        padding: 10px
        &:first-child
          padding-left: 0
        &:last-child
          padding-right: 0
      .icon-car
        display: inline-block
        width: 60px
        height: 40px
        background: url("../img/online-search/car.svg") no-repeat center center
        -webkit-background-size: contain
        background-size: contain
        vertical-align: middle
        margin-right: 10px
        color: #2d2d28
        margin-left: 10px
      & thead
        & td
          font-weight: 600
          font-size: 14px
          text-transform: uppercase
          padding: 5px 10px
          position: relative
          &:after
            content: ''
            height: 3px
            position: absolute
            bottom: 0
            left: 10px
            right: 10px
            background: #1C63B8
          &:first-child:after
            left: 0
          &:last-child:after
            right: 0
      & tbody
        font-size: 18px
        tr:hover
          background: #d4e1f2
  &__success
    font-size: 14px
    font-weight: 600
    padding: 10px 25px
    background: transparent
    text-transform: uppercase
    color: #000000
    border: 2px solid #ff6600
    border-radius: 20px
    margin-right: 10px
    &:hover
      background: #ff6600
      color: #ffffff