.shares
  &__header
    color: #000
    &:before
      background: #ff6600
  &__item
    +flex-center-item
    margin: 15px
    width: 340px
    position: relative
    &-notify
      background: #ff6600
      position: absolute
      top: 20px
      left: 0
      font-size: 24px
      color: #FFFFFF
      padding: 5px 5px 5px 12px
      text-transform: uppercase
      font-weight: bold
      +animate-delay(.1s)
      &:before
        position: absolute
        top: 0
        right: -20px
        content: ''
        width: 0
        height: 0
        border-style: solid
        border-width: 38px 20px 0 0
        border-color: #ff6600 transparent transparent transparent
    &:hover
      .shares__img
        border: 4px solid #ff6600
      .shares__item-header
        border-color: #ff6600
      .shares__item-icon
        fill: #ff6000
      .shares__item-notify
        display: block
    &-wrap
      +flex-center-container
    &-header
      border-left: 3px solid #1c63b8
      font-size: 21px
      color: #000
      padding: 5px 15px
      margin: 10px 0
    &-date
      position: relative
      padding: 0 0 0 25px
      font-size: 19px
      color: #2d2d2d
    &-icon
      position: absolute
      top: 0
      left: 0
      fill: #000054
      &-change
        fill: #ff6600
    &-read-more
      text-align: center
      text-transform: uppercase
      padding: 0 15px
      height: 30px
      border-radius: 15px
      color: #FFFFFF
      font-size: 14px
      display: inline-block
      background: #ff6600
      line-height: 30px
      margin: 15px 0
  &__img
    width: 100%
    overflow: hidden
    box-sizing: border-box
    height: 190px
    border: 1px solid transparent
    +animate-delay(.1s)
    & img
      width: 100%
      height: auto
      display: block
  &__nav
    display: block
    width: 100%
    position: relative
    text-align: center
    padding: 10px 55px
    box-sizing: border-box
    &-list
      display: inline-block
    &-btn
      -webkit-background-size: contain
      background-size: contain
      width: 54px
      height: 44px
      position: absolute
      top: 50%
      margin-top: -22px
      border: none
      &--prev
        background: url("../img/shares/nav-prev.svg") no-repeat center center
        left: 0
      &--next
        background: url("../img/shares/nav-next.svg") no-repeat center center
        right: 0
    &-item
      display: inline-block
      font-size: 19px
      color: #2d2d2d
      border: 2px solid transparent
      border-radius: 3px
      padding: 5px
      & a
        color: inherit
      &:hover
        text-decoration: underline
        cursor: pointer
      &--active
        border-color: #ff6600
        color: #ff6600
        text-decoration: underline
  &__preloader
    text-align: center
    &--inner
      background: url("../img/shares/preloader.svg") no-repeat center center
      -webkit-background-size: contain
      background-size: contain
      width: 55px
      height: 55px
      display: inline-block
      margin-top: 20px
      animation-name: rotation
      animation-duration: 2s
      animation-iteration-count: infinite
      animation-timing-function: linear
      @keyframes rotation
        0%
          transform: rotate(0deg)
        100%
          transform: rotate(360deg)
  &__more
    text-align: center
    display: block
    font-size: 20px
    color: #2d2d2d
    text-decoration: underline
    text-transform: capitalize
    padding: 10px 0