=clearfix
  &::after
    content: ""
    display: block
    width: 100%
    clear: both
    height: 0
    overflow: hidden

=transform
  -moz-transform: translateX(-50%) translateY(-50%)
  -webkit-transform: translateX(-50%) translateY(-50%)
  -o-transform: translateX(-50%) translateY(-50%)
  -ms-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)

=transformX
  -moz-transform: translateX(-50%)
  -webkit-transform: translateX(-50%)
  -o-transform: translateX(-50%)
  -ms-transform: translateX(-50%)
  transform: translateX(-50%)

=transformY
  -moz-transform: translateY(-50%)
  -webkit-transform: translateY(-50%)
  -o-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

=placeholder()
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

=animate-delay($time-animation)
  -webkit-transition: ease-in $time-animation
  -moz-transition: ease-in $time-animation
  -o-transition: ease-in $time-animation
  transition: ease-in $time-animation

=flex-center-container
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  -ms-flex-direction: row
  flex-direction: row
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-align-content: stretch
  -ms-flex-line-pack: stretch
  align-content: stretch
  -webkit-align-items: flex-start
  -ms-flex-align: start
  align-items: flex-start

=flex-center-item
  -webkit-order: 0
  -ms-flex-order: 0
  order: 0
  -webkit-flex: 0 1 auto
  -ms-flex: 0 1 auto
  flex: 0 1 auto
  -webkit-align-self: auto
  -ms-flex-item-align: auto
  align-self: auto
