<div class="about">
    <div class="about__prev">
        <div class="about__prev-bg"></div>
        <div class="container">
            <div class="bread-crumbs">
                <ul class="bread-crumbs-container">
                    <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                    <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                    <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">О магазине</a></li>
                </ul>
            </div>
            <div class="about__header">
                <h2>магазин стартеров и генераторов <span class="about__header-description">для вашего авто в москве и с доставкой по россии</span></h2>
            </div>
            <p class="about__header-content">
                На нашем сайте вы можете заказать лучшие стартеры по доступным ценам.
                Стартер практически на любой автомобиль иностранного производства вы найдете
                в нашем каталоге на сайте. Информацию о том сколько стоит стартер и какова
                цена на него, вы моете узнать по телефону
            </p>
        </div>
    </div>
    <div class="about__content">
        <div class="container">
            <div class="about__content-img"><img src="upload/about-content-1.gif" alt="магазин запчастей"></div>
            <div class="about__content-img"><img src="upload/about-content-2.gif" alt="автомастерская"></div>
            <div class="about__content-head">
                <h3>Магазин стартеров и генераторов</h3>
            </div>
            <p class="about__content-text">
                Представляем роскошные напольные покрытия, которые производятся по уникальной технологии, объединяющей воедино мрамор, металл и дерево - каменные модули с инкрустацией деревом и металлом. Благодаря богатой цветовой гамме, фактуре материалов и шикарным художественным узорам модули не только напоминают, но и превосходят художественный паркет.
            </p>
            <p class="about__content-text">
                Весь новый ассортимент модулей вы можете посмотреть в каталоге.
                Камень и древесина — прекрасный материал для создания напольных покрытий. Но, используясь по отдельности, дерево, к примеру, подвержено короблению из-за изменений влажности и требует создание искусственного микроклимата с поддержанием в помещении влажности в диапазоне 45-60%. Напольные покрытия из чистого камня, а именно каменные модули с инкрустацией камнем, производятся с помощью гидрорезки, при которой не возможно идеальное сопряжение фрагментов, что приводит к образованию щелей. Кроме того, пол из чистого камня достаточно холодный, что не очень комфортно.
            </p>
            <p class="about__content-text">
                В результате многолетнего опыта работы с паркетом и камнем, разработана уникальная технология изготовления нового вида экологичных напольных покрытий в виде каменных модулей, художественно инкрустированных деревом и металлом. Дерево, запрессованное в камень и дополнительно покрытое специальным экологичным маслом, не подвержено короблению и абсолютно стабильно в течение долгих лет.
                Каменные модули за счет художественной инкрустации деревом получают теплоту и особую эстетическую привлекательность.
            </p>
        </div>
    </div>
    <div class="about__why">
        <div class="mainWhy">
            <div class="container">
                <h2>ПОЧЕМУ ВЫБИРАЮТ НАС?</h2>
                <div class="mainWhy__items">
                    <div class="mainWhy__items_item">
                        <div class="icon"><svg id="Layer-57" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.29 37.78"><defs><style>.cls-1{fill:#fff;opacity:0.1;}.cls-2{fill:#4781c5;}.cls-2,.cls-3{fill-rule:evenodd;}.cls-3{fill:none;stroke:#1c63b8;stroke-miterlimit:22.93;stroke-width:0.57px;}</style></defs><title>why1</title><rect class="cls-1" width="45.29" height="37.78"/><path class="cls-2" d="M135.73,3794.25v-10.18a2,2,0,0,0-2-2H115.88a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2h1.24v1.74a1.19,1.19,0,0,0-.81,1.13v0.81a0.38,0.38,0,0,0,.38.38h1.62a0.38,0.38,0,0,0,.38-0.38v-0.81a1.19,1.19,0,0,0-.81-1.13v-1.74h13a4.43,4.43,0,1,0,4.8-4.8h0Zm-1.62-4.88v-3.3H135v3.3H134.1Zm0.86,0.76v4.12a4.43,4.43,0,0,0-3,1.53,1.19,1.19,0,0,0-1.1-.73h0v-0.86h2.46a0.79,0.79,0,0,0,.78-0.78v-3.27H135Zm-20.33-6.06a1.24,1.24,0,0,1,1.24-1.24h17.84a1.24,1.24,0,0,1,1.24,1.24v1.24h-2.46a0.38,0.38,0,1,0,0,.76h0.84v7.33a0,0,0,0,1,0,0h-4a0.84,0.84,0,0,1-.56-0.21l-3-2.63a1.59,1.59,0,0,0-1.06-.4h-8.46a0,0,0,0,1,0,0v-4.08h14.62a0.38,0.38,0,1,0,0-.76H114.64v-1.24h0Zm15.46,10.11V3795h-0.86v-0.87h0.86Zm-2.24-.76h-2.27v-2l2.27,2h0Zm-4.68-.41h-2.46v0a0.38,0.38,0,0,0-.76,0v2.43a0,0,0,0,1,0,0h-1.62a0,0,0,0,1,0,0v-4.49H120v0.43a0.38,0.38,0,0,0,.76,0v-0.43h4.11V3795a0,0,0,0,1,0,0H124v-1.24a0.79,0.79,0,0,0-.78-0.78h0Zm0,0.78V3795h-2.49v-1.27h2.46a0,0,0,0,1,0,0h0Zm-5.68-.49-0.54-.13a0.43,0.43,0,0,1-.33-0.42v-1.83h0.86v2.38h0Zm-2.89-7.25h0.86v3.3h-0.86v-3.3h0Zm3.3,15.84v0.43h-0.86v-0.43a0.43,0.43,0,1,1,.86,0h0Zm0.81-3.62h-2.86a1.24,1.24,0,0,1-1.24-1.24v-6.92h0.86v0a0.79,0.79,0,0,0,.41.69v1.92a1.19,1.19,0,0,0,.9,1.15l0.72,0.18v1.33a0.79,0.79,0,0,0,.79.78h0.43v2.08h0Zm7.38,0H119.5v-2.08h0.43a0.79,0.79,0,0,0,.69-0.41h4.18a0.79,0.79,0,0,0,.78-0.78v-0.84h2.89V3795h-1.24a1.19,1.19,0,0,0-1.19,1.19v1.62a1.19,1.19,0,0,0,.08.43h0Zm5.19-1.47a4.41,4.41,0,0,0-.39,1.47h-3.69a0.43,0.43,0,0,1-.43-0.43v-1.62a0.43,0.43,0,0,1,.43-0.43h3.65a0.43,0.43,0,0,1,.43.43v0.58h0Zm4,5.53a3.68,3.68,0,1,1,3.68-3.68A3.68,3.68,0,0,1,135.35,3802.35Z" transform="translate(-102 -3773.01)"/><path class="cls-2" d="M137.59,3797.79a0.38,0.38,0,1,0-.71.28,1.65,1.65,0,1,1-.93-0.93,0.38,0.38,0,0,0,.28-0.71A2.41,2.41,0,1,0,137.59,3797.79Z" transform="translate(-102 -3773.01)"/><path class="cls-2" d="M123.59,3786.94a1.19,1.19,0,1,0,1.19,1.19,1.19,1.19,0,0,0-1.19-1.19h0Zm0,1.62a0.43,0.43,0,1,1,.43-0.43A0.43,0.43,0,0,1,123.59,3788.56Z" transform="translate(-102 -3773.01)"/><path class="cls-2" d="M130.07,3786.94a2.41,2.41,0,1,0,2.41,2.41,2.41,2.41,0,0,0-2.41-2.41h0Zm0,4.06a1.65,1.65,0,1,1,1.65-1.65A1.65,1.65,0,0,1,130.07,3791Z" transform="translate(-102 -3773.01)"/><path class="cls-2" d="M120.34,3786.94a1.19,1.19,0,1,0,1.19,1.19,1.19,1.19,0,0,0-1.19-1.19h0Zm0,1.62a0.43,0.43,0,1,1,.43-0.43A0.43,0.43,0,0,1,120.34,3788.56Z" transform="translate(-102 -3773.01)"/><path class="cls-2" d="M117.91,3786.94H117.5a0.38,0.38,0,1,0,0,.76h0.41A0.38,0.38,0,1,0,117.91,3786.94Z" transform="translate(-102 -3773.01)"/><path class="cls-2" d="M117.91,3788.56H117.5a0.38,0.38,0,1,0,0,.76h0.41A0.38,0.38,0,1,0,117.91,3788.56Z" transform="translate(-102 -3773.01)"/><path class="cls-2" d="M130.75,3788.67a0.38,0.38,0,0,0-.54,0l-0.41.41a0.38,0.38,0,1,0,.54.54l0.41-.41A0.38,0.38,0,0,0,130.75,3788.67Z" transform="translate(-102 -3773.01)"/><polyline class="cls-3" points="2.68 9.76 2.68 2.73 9.28 2.73"/></svg></div>
                        <p>Огромный выбор стартеров и генераторов</p>
                    </div>
                    <div class="mainWhy__items_item">
                        <div class="icon"><svg id="Layer-58" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.29 37.78"><defs><style>.cls-1{fill:#fff;opacity:0.1;}.cls-2{fill:#4781c5;}.cls-2,.cls-3{fill-rule:evenodd;}.cls-3{fill:none;stroke:#1c63b8;stroke-miterlimit:22.93;stroke-width:0.57px;}</style></defs><title>why2</title><rect class="cls-1" width="45.29" height="37.78"/><path class="cls-2" d="M171.71,3784c0.43-.08,1-0.57,2.07-0.91,1.57-.5.85-0.1,1.09-1.88l1.81,0c1.07,0.06.16,1,.63,1.55a3.26,3.26,0,0,0,1.19.44c1.39,0.5,1.61,1.14,2.18.6a4.93,4.93,0,0,1,.78-0.73,7.45,7.45,0,0,1,1.61,1.6c-0.49,1-1.4.57-.63,1.91,0.43,0.75.6,1.74,0.92,2.32a3.47,3.47,0,0,0,1.72-.08v-0.47a1.91,1.91,0,0,0-1.09-.13,3,3,0,0,1-.53-1.22c-0.17-.38-0.39-0.74-0.51-1.07,1.13-1.19,1.23-1.3-.11-2.64-1.59-1.58-1.54-1-2.64-.1-0.36-.17-0.71-0.37-1.14-0.55a2.59,2.59,0,0,1-1.14-.51c0-1.71-.33-1.65-2-1.64a2.57,2.57,0,0,0-1.59.24c-0.39.38-.12,1-0.31,1.48a4.81,4.81,0,0,1-1.18.47c-0.39.16-.74,0.4-1.1,0.53-0.4-.27-0.66-0.92-1.32-0.86a5.09,5.09,0,0,0-2.24,2.25,2.2,2.2,0,0,0,.85,1.34c-0.14.36-.38,0.72-0.55,1.15l-0.33.94a0.25,0.25,0,0,1-.19.2c-1.74,0-1.62.28-1.62,2s0,1.86,1.62,1.86a0.83,0.83,0,0,1,.32.62c0.23,0.72.62,1.31,0.74,1.68a1.8,1.8,0,0,0-.83,1.44,3.44,3.44,0,0,0,1,1.21c1.13,1.13,1.36,1.37,2.56.09,0.35,0.11.72,0.36,1.09,0.51s0.79,0.27,1.2.43a1.84,1.84,0,0,0,.16,1.11c0.78,0.6.61-1.21,0.54-1.65-0.33-.17-1.13-0.35-1.6-0.54a12,12,0,0,0-1.47-.7c-0.53.25-.68,0.76-1.19,1l-1.56-1.61a11.17,11.17,0,0,0,1-1.17,13.93,13.93,0,0,0-.71-1.48,7.68,7.68,0,0,0-.55-1.53c-0.56-.45-1.54.49-1.57-0.68v-1.28c0.06-1.06,1-.15,1.55-0.6a7.62,7.62,0,0,0,.59-1.59,6.54,6.54,0,0,0,.69-1.52l-1-1.09,1.61-1.57C171,3783.21,171.19,3783.73,171.71,3784Z" transform="translate(-154.94 -3773.01)"/><path class="cls-2" d="M176.48,3800.44c-0.23-.62-0.09-6.86-0.1-8.41s-0.28-1.6,1.2-1.58c1.69,0,10.32-.18,11.12.12,0.14,0.55.15,9.4,0,9.77-0.45.38-2.25,0.2-3,.2h-3.07a56.78,56.78,0,0,1-6.16-.09h0Zm12.94,0.08c0.17-.46.08-5.4,0.08-6.32,0-3.61.47-4.46-1.8-4.48h-9.48c-3.22,0-2.54-.15-2.56,7,0,3.67-.45,4.54,1.84,4.53H187C188.06,3801.25,189.08,3801.44,189.42,3800.51Z" transform="translate(-154.94 -3773.01)"/><path class="cls-2" d="M180.68,3788.81a2.84,2.84,0,0,0-1-2.11,5,5,0,0,0-8.15,1.25c-2,4.22,2.42,7.2,3.13,6.82s-0.21-.71-0.49-0.84a4.27,4.27,0,1,1,4.78-6.95,5.62,5.62,0,0,1,1.23,1.92Z" transform="translate(-154.94 -3773.01)"/><path class="cls-2" d="M175.56,3787.41a2.62,2.62,0,0,1,2.66,1.09c0.51,0.76,1,.26.69-0.32a3.47,3.47,0,0,0-6.11.68c-1.09,2.72,2,5.14,2,3.88,0-.33-0.18-0.32-0.47-0.54A2.7,2.7,0,0,1,175.56,3787.41Z" transform="translate(-154.94 -3773.01)"/><path class="cls-2" d="M179.31,3796c-0.3.28-.21,0.38,0.25,0.84,2.27,2.28,2.09,2.48,3,1.54a42.72,42.72,0,0,0,3.42-3.56c0.09-.65-0.55-0.38-0.75-0.18l-0.67.68L181.8,3798c-0.33-.39-0.79-0.8-1.18-1.19S179.75,3795.75,179.31,3796Z" transform="translate(-154.94 -3773.01)"/><path class="cls-2" d="M178.94,3792c-1.3,0-1.9-.2-1.66.65,0.55,0.13,7.75.13,8.28,0,0.14-.48.06-0.64-0.48-0.66h-6.15Z" transform="translate(-154.94 -3773.01)"/><path class="cls-2" d="M187.87,3792.66c0.26-1-1.17-.6-1.36-0.51l0,0.49A2.07,2.07,0,0,0,187.87,3792.66Z" transform="translate(-154.94 -3773.01)"/><polyline class="cls-3" points="3.04 9.76 3.04 2.73 9.63 2.73"/></svg></div>
                        <p>Бесплатная диагностика и	качественный ремонт</p>
                    </div>
                    <div class="mainWhy__items_item">
                        <div class="icon"><svg id="Layer-59" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.29 37.78"><defs><style>.cls-1{fill:#fff;opacity:0.1;}.cls-2,.cls-3{fill:#1c63b8;}.cls-2,.cls-4{fill-rule:evenodd;}.cls-5{fill:#4781c5;}</style>
                        </defs><title>why3</title><rect class="cls-1" width="45.29" height="37.78"/><path class="cls-2" d="M235.3,3785l-1.71-2.4h-3v3.13h4.69V3785h0Zm-2.26.1-0.19-.77,0.4-.2-0.28-.56-0.85.42,0.28,1.11h-1.16v-1.88h2l1.34,1.88H233Z" transform="translate(-207.88 -3773.01)"/><path class="cls-2" d="M224.67,3789.2a0.94,0.94,0,1,0,.94.94,0.94,0.94,0,0,0-.94-0.94h0Zm0,1.25a0.31,0.31,0,1,1,.31-0.31A0.31,0.31,0,0,1,224.67,3790.45Z" transform="translate(-207.88 -3773.01)"/><path class="cls-2" d="M235.3,3789.2a0.94,0.94,0,1,0,.94.94,0.94,0.94,0,0,0-.94-0.94h0Zm0,1.25a0.31,0.31,0,1,1,.31-0.31A0.31,0.31,0,0,1,235.3,3790.45Z" transform="translate(-207.88 -3773.01)"/><path class="cls-2" d="M236.55,3797.33h3.21l-0.09-.38a3.19,3.19,0,0,0-3.12-2.43,3.09,3.09,0,0,0-2.69,1.56H228.3a3.11,3.11,0,0,0-1.35-1.25h1.69l0.94,0.63h2.91v-3.13h6.88v-0.63h-2.54a2.18,2.18,0,0,0,.63-1.25h1.28a0.84,0.84,0,0,0,.94-0.94v-2.81a1.65,1.65,0,0,0-1.17-1.55l-1.25-.31a1.34,1.34,0,0,1-.76-0.5l-1.57-2.2a1.76,1.76,0,0,0-1.5-.75h-5.94a1.77,1.77,0,0,0-1.51.76l-1.54,2.17a1.34,1.34,0,0,1-.75.52l-1.89.31a1.86,1.86,0,0,0-1.5,1.87v2.19a1.27,1.27,0,0,0,1.25,1.25h1a2.19,2.19,0,0,0,2.16,1.88h4.91l-0.94.63H220.3v0.63h8.54l0.94-.63h2.09v1.88h-2.09l-0.94-.63H220.3v0.63h3.93a3.13,3.13,0,0,0-1.73,2.12l-0.09.38h3.2V3798h-3.21l0.09,0.38a3.19,3.19,0,0,0,3.12,2.43,3.09,3.09,0,0,0,2.69-1.56h5.57a3.09,3.09,0,0,0,2.69,1.56,3.19,3.19,0,0,0,3.12-2.43l0.09-.38h-3.21v-0.63h0Zm-1.25-5.63a1.56,1.56,0,1,1,1.56-1.56,1.57,1.57,0,0,1-1.56,1.56h0Zm-12.79-1.88h-1a0.64,0.64,0,0,1-.63-0.63v-1.56h0.63v0.63h0.63v-0.63a0.56,0.56,0,0,0-.63-0.63h-0.63a1.22,1.22,0,0,1,1-1.25l1.89-.31a2,2,0,0,0,1.13-.75l1.56-2.18a1.13,1.13,0,0,1,1-.51h5.94a1.12,1.12,0,0,1,1,.49l1.58,2.21a2,2,0,0,0,1.1.72l1.27,0.32a1,1,0,0,1,.68.94V3787h-0.63v0.63h0.63v1.88c0,0.27,0,.31-0.31.31h-1.28a2.19,2.19,0,0,0-4.33,0h-2.53v-0.71l1.61-.54h0.89V3788h-0.68l-0.26-1.31-0.61.12,0.26,1.29-1.49.5-0.23-.11,0.29-.58-1.36-1-0.21-1.07h1.49v-3.13h-3l-1.72,2.4v0.73h2.56l0.22,1.1-1.13.68-0.77-1-0.5.38,1.11,1.48,1.62-1,0.87,0.66-0.34.67,0.73,0.37v0.74h-3.15a2.19,2.19,0,0,0-4.33,0h0Zm3.8-4.69,1.34-1.88h2v1.88h-3.37Zm-1.64,6.57a1.56,1.56,0,1,1,1.56-1.56,1.57,1.57,0,0,1-1.56,1.56h0Zm1.53,0a2.19,2.19,0,0,0,.63-1.25h6.3a2.18,2.18,0,0,0,.63,1.25H226.2Zm12.74,6.88a2.63,2.63,0,0,1-2.39,1.56,2.47,2.47,0,0,1-2.22-1.39l-0.09-.17h-6.33l-0.09.17a2.47,2.47,0,0,1-2.22,1.39,2.63,2.63,0,0,1-2.39-1.56h3v-1.88h-3a2.63,2.63,0,0,1,2.39-1.56,2.47,2.47,0,0,1,2.22,1.39l0.09,0.17h6.33l0.09-.17a2.47,2.47,0,0,1,2.22-1.39,2.63,2.63,0,0,1,2.39,1.56h-3v1.88h3Z" transform="translate(-207.88 -3773.01)"/><rect class="cls-5" x="20.24" y="24.32" width="0.63" height="0.63"/><rect class="cls-5" x="21.49" y="24.32" width="0.62" height="0.63"/><rect class="cls-5" x="22.74" y="20.57" width="0.63" height="0.63"/><rect class="cls-5" x="13.98" y="18.69" width="0.63" height="0.63"/><rect class="cls-5" x="12.73" y="18.69" width="0.63" height="0.63"/><polyline class="cls-4" points="2.77 9.76 2.77 2.73 9.36 2.73"/></svg></div>
                        <p>Собственный сервисный центр</p>
                    </div>
                    <div class="mainWhy__items_item">
                        <div class="icon"><svg id="Layer-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.29 37.78"><defs><style>.cls-1{fill:#fff;opacity:0.1;}.cls-2,.cls-3{fill:#4781c5;}.cls-2,.cls-4{fill-rule:evenodd;}.cls-4{fill:none;stroke:#1c63b8;stroke-miterlimit:22.93;stroke-width:0.57px;}</style></defs><title>why4</title><rect class="cls-1" width="45.29" height="37.78"/><path class="cls-2" d="M292,3791.46l-0.55-2.21a0.33,0.33,0,0,0,.26-0.33v-0.36a1.41,1.41,0,0,0-1.41-1.41h-2.52v-0.74a0.69,0.69,0,0,0-.69-0.69h-4.69l2.85-1.14A0.33,0.33,0,0,0,285,3784l-2.33.93a7.88,7.88,0,0,0,1.68-1.31,1.56,1.56,0,0,0-2.48-1.89,13.53,13.53,0,0,0-1.21,2.89,13.56,13.56,0,0,0-1.21-2.89,1.56,1.56,0,0,0-2.48,1.89,7.87,7.87,0,0,0,1.68,1.31l-2.33-.93a0.33,0.33,0,0,0-.25.62l2.85,1.14h-4.69a0.69,0.69,0,0,0-.69.69v6.07a0.33,0.33,0,1,0,.67,0v-6.07a0,0,0,0,1,0,0h12.85a0,0,0,0,1,0,0v6.07a0.33,0.33,0,1,0,.67,0v-0.38h4a1.1,1.1,0,0,1,1,.76h-1a0.33,0.33,0,0,0-.33.33v0.71a1,1,0,0,0,1,1h0.38v1.47H292a2.12,2.12,0,0,0-4,0h-0.16v-2.52a0.33,0.33,0,1,0-.67,0v2.52h-6.95a2.12,2.12,0,0,0-4,0h-1.92a0,0,0,0,1,0,0v-0.74h1.45a0.33,0.33,0,1,0,0-.67h-3.21a0.33,0.33,0,1,0,0,.67h1.09v0.74a0.69,0.69,0,0,0,.69.69h1.81v0a2.12,2.12,0,0,0,4.24,0v0h7.54v0a2.12,2.12,0,0,0,4.24,0v0h1.09a0.33,0.33,0,0,0,.33-0.33v-3.57a1.77,1.77,0,0,0-1.5-1.74h0Zm-12.66-6.93a7.74,7.74,0,0,1-1.83-1.35,0.89,0.89,0,0,1,1.41-1.08,14.66,14.66,0,0,1,1.17,2.88l-0.75-.45h0Zm1.9,0.45a14.65,14.65,0,0,1,1.17-2.88,0.89,0.89,0,0,1,1.41,1.08,7.75,7.75,0,0,1-1.83,1.35l-0.75.45h0Zm6.54,2.84h2.52a0.74,0.74,0,0,1,.74.74v0h-3.26v-0.76h0Zm0,3.62v-2.19h3l0.55,2.19h-3.52Zm-9.62,7.14a1.45,1.45,0,1,1,1.45-1.45,1.45,1.45,0,0,1-1.45,1.45h0Zm11.78,0a1.45,1.45,0,1,1,1.45-1.45,1.45,1.45,0,0,1-1.45,1.45h0Zm2.88-4.28h-0.38a0.38,0.38,0,0,1-.38-0.38v-0.38h0.76v0.76h0Z" transform="translate(-260.82 -3773.01)"/><circle class="cls-3" cx="17.37" cy="24.12" r="0.69"/><circle class="cls-3" cx="29.16" cy="24.12" r="0.69"/><path class="cls-2" d="M286,3795h-5a0.33,0.33,0,0,0,0,.67h5A0.33,0.33,0,1,0,286,3795Z" transform="translate(-260.82 -3773.01)"/><path class="cls-2" d="M277.47,3793.58h-4.28a0.33,0.33,0,1,0,0,.67h4.28A0.33,0.33,0,0,0,277.47,3793.58Z" transform="translate(-260.82 -3773.01)"/><path class="cls-2" d="M277.47,3788.58H276a0.33,0.33,0,0,0-.33.33v2.86a0.33,0.33,0,0,0,.67,0v-1.09h0.74a0.33,0.33,0,1,0,0-.67h-0.74v-0.76h1.09A0.33,0.33,0,1,0,277.47,3788.58Z" transform="translate(-260.82 -3773.01)"/><path class="cls-2" d="M280.11,3790.84a1.23,1.23,0,0,0-.67-2.25h-0.89a0.33,0.33,0,0,0-.33.33v2.86a0.33,0.33,0,0,0,.67,0V3791h0.56l0.61,0.92a0.33,0.33,0,1,0,.56-0.37l-0.5-.75h0Zm-0.67-.47h-0.56v-1.12h0.56A0.56,0.56,0,0,1,279.44,3790.37Z" transform="translate(-260.82 -3773.01)"/><path class="cls-2" d="M282.83,3791.44h-1.09v-0.76h0.74a0.33,0.33,0,0,0,0-.67h-0.74v-0.76h1.09a0.33,0.33,0,0,0,0-.67H281.4a0.33,0.33,0,0,0-.33.33v2.86a0.33,0.33,0,0,0,.33.33h1.43A0.33,0.33,0,0,0,282.83,3791.44Z" transform="translate(-260.82 -3773.01)"/><path class="cls-2" d="M285.33,3791.44h-1.09v-0.76h0.38a0.33,0.33,0,0,0,0-.67h-0.38v-0.76h1.09a0.33,0.33,0,1,0,0-.67H283.9a0.33,0.33,0,0,0-.33.33v2.86a0.33,0.33,0,0,0,.33.33h1.43A0.33,0.33,0,1,0,285.33,3791.44Z" transform="translate(-260.82 -3773.01)"/><polyline class="cls-4" points="2.91 9.76 2.91 2.73 9.5 2.73"/></svg></div>
                        <p>Бесплатная <br> доставка <br> по Москве</p>
                    </div>
                    <div class="mainWhy__items_item">
                        <div class="icon"><svg id="Layer-61" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.29 37.78"><defs><style>.cls-1{fill:#fff;opacity:0.1;}.cls-2{fill:#4781c5;}.cls-2,.cls-3{fill-rule:evenodd;}.cls-3{fill:none;stroke:#1c63b8;stroke-miterlimit:22.93;stroke-width:0.57px;}</style></defs><title>why5</title><rect class="cls-1" width="45.29" height="37.78"/><path class="cls-2" d="M343.75,3781.21a0.28,0.28,0,0,0-.25-0.16H338a0.28,0.28,0,0,0-.22.11l-1.6,2-1.6-2a0.28,0.28,0,0,0-.22-0.11h-5.5a0.28,0.28,0,0,0-.22.45l3.72,4.75a0.75,0.75,0,0,0-.15.44v2.74a6,6,0,1,0,7.92,0v-2.74a0.74,0.74,0,0,0-.15-0.44l3.72-4.75a0.28,0.28,0,0,0,0-.29h0Zm-3.84.4h1.23l-3.11,4-0.62-.79,2.49-3.18h0Zm-1.78,0h1.07l-2.14,2.73-0.53-.68,1.6-2h0Zm-3.91,0,4.13,5.27h-1.07l-4.13-5.27h1.07Zm4.43,5.83v1a6,6,0,0,0-4.94,0v-1h4.94Zm-9.21-5.83h1.07l1.47,1.87a0.28,0.28,0,0,0,.39,0h0a0.28,0.28,0,0,0,0-.39l-1.2-1.53h1.23l4.13,5.27h-1.23l-2.1-2.68a0.28,0.28,0,0,0-.39,0h0a0.28,0.28,0,0,0,0,.39l1.83,2.34h-1.07l-4.13-5.27h0Zm3.72,5.65v1.49l-0.37.24v-2.21l0.37,0.48h0Zm8.44,6.64a5.41,5.41,0,1,1-5.41-5.41,5.42,5.42,0,0,1,5.41,5.41h0Zm-2.39-6.77h0v0h0v0h0l0,0h0l0,0h0l-0.38-.48h0.62a0.19,0.19,0,0,1,.19.19v2.3l-0.37-.24v-1.62h0Zm0.31-1.17h-1.06l3.4-4.34h1.07Z" transform="translate(-313.75 -3773.01)"/><path class="cls-2" d="M340.27,3791.93a0.28,0.28,0,0,0-.39-0.12h0a0.28,0.28,0,0,0-.11.36,4,4,0,1,1-.7-1,0.28,0.28,0,0,0,.41-0.38A4.53,4.53,0,1,0,340.27,3791.93Z" transform="translate(-313.75 -3773.01)"/><path class="cls-2" d="M336.4,3790.86a0.29,0.29,0,0,0-.22.09l-0.85.82a0.43,0.43,0,0,0-.17.34,0.34,0.34,0,0,0,.3.35,0.27,0.27,0,0,0,.18-0.08l0.29-.36h0v4.56a0.37,0.37,0,0,0,.43.29,0.38,0.38,0,0,0,.43-0.29v-5.43A0.35,0.35,0,0,0,336.4,3790.86Z" transform="translate(-313.75 -3773.01)"/><polyline class="cls-3" points="3.05 9.76 3.05 2.73 9.64 2.73"/></svg></div>
                        <p>Лучшие <br> бренды</p>
                    </div>
                </div>
                <a href="#" class="more">ПОДРОБНЕЕ О НАС</a>
            </div>
        </div>
    </div>
</div>