<div class="card">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item"><a href="#">Каталог товаров</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Генератор (Название) ALA0787</a></li>
            </ul>
        </div>
        <div class="card__slider">
            <div class="card__slider-nav">
                <div class="card__slider-nav-item"><img src="../upload/catalog/generator.jpg" alt="Генератор"></div>
                <div class="card__slider-nav-item"><img src="../upload/catalog/generator.jpg" alt="Генератор"></div>
                <div class="card__slider-nav-item"><img src="../upload/catalog/generator.jpg" alt="Генератор"></div>
                <div class="card__slider-nav-item"><img src="../upload/catalog/generator.jpg" alt="Генератор"></div>
            </div>
            <div class="card__slider-content">
                <div class="card__slider-content-item"><img src="../upload/catalog/generator.jpg" alt=""></div>
                <div class="card__slider-content-item"><img src="../upload/catalog/generator.jpg" alt=""></div>
                <div class="card__slider-content-item"><img src="../upload/catalog/generator.jpg" alt=""></div>
                <div class="card__slider-content-item"><img src="../upload/catalog/generator.jpg" alt=""></div>
            </div>
        </div>
        <div class="card__description">
            <div class="card__description-head">
                <h2>Генератор (Название бренда) <span class="card__description-head--blue">ALA0787</span></h2>
            </div>
            <div class="card__description-left">
                <div class="card__description-number">Артикул: GDHSG193861</div>
                <ul class="card__description-list">
                    <li>Напряжение [B]: <span class="card__description-list--blue">14</span>
                        <div class="search-icon">
                            <div class="search-icon__description">
                                <button class="search-icon__close"></button>
                                <div class="search-icon__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi beatae corporis debitis distinctio doloribus earum eligendi in incidunt minus modi nesciunt nobis rem repellendus soluta sunt ullam veniam. Fugiat.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>Ток зарядки от генератора (A): <span class="card__description-list--blue">120</span>
                        <div class="search-icon">
                            <div class="search-icon__description">
                                <button class="search-icon__close"></button>
                                <div class="search-icon__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi beatae corporis debitis distinctio doloribus earum eligendi in incidunt minus modi nesciunt nobis rem repellendus soluta sunt ullam veniam. Fugiat.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>Диаметр [мм]: <span class="card__description-list--blue">61,5</span>
                        <div class="search-icon">
                            <div class="search-icon__description">
                                <button class="search-icon__close"></button>
                                <div class="search-icon__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi beatae corporis debitis distinctio doloribus earum eligendi in incidunt minus modi nesciunt nobis rem repellendus soluta sunt ullam veniam. Fugiat.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>Ремневой шкиф: <span class="card__description-list--blue">Свободный ход</span>
                        <div class="search-icon">
                            <div class="search-icon__description">
                                <button class="search-icon__close"></button>
                                <div class="search-icon__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi beatae corporis debitis distinctio doloribus earum eligendi in incidunt minus modi nesciunt nobis rem repellendus soluta sunt ullam veniam. Fugiat.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>Ремневой шкиф: <span class="card__description-list--blue">Многоручейковый</span>
                        <div class="search-icon">
                            <div class="search-icon__description">
                                <button class="search-icon__close"></button>
                                <div class="search-icon__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi beatae corporis debitis distinctio doloribus earum eligendi in incidunt minus modi nesciunt nobis rem repellendus soluta sunt ullam veniam. Fugiat.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>Количество канавок: <span class="card__description-list--blue">6</span>
                        <div class="search-icon">
                            <div class="search-icon__description">
                                <button class="search-icon__close"></button>
                                <div class="search-icon__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi beatae corporis debitis distinctio doloribus earum eligendi in incidunt minus modi nesciunt nobis rem repellendus soluta sunt ullam veniam. Fugiat.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="search__star-container" data-percent="70">
                    <li><a class="search__star" href="#"></a></li>
                    <li><a class="search__star" href="#"></a></li>
                    <li><a class="search__star" href="#"></a></li>
                    <li><a class="search__star" href="#"></a></li>
                    <li><a class="search__star" href="#"></a></li>
                </ul>
                <span class="search__list-commits">5 отзывов</span>
                <a class="card__add-favor" href="#"><span class="card__add-favor--icon"></span>добавить в избранное</a>
            </div>
            <div class="card__description-right">
                <div class="card__description-green">остаток на складе: 3шт</div>
                <div class="card__description-oldprice">2300 руб.</div>
                <div class="card__description-price">1 304.00 Руб.</div>
                <div class="card__description-price-min-descr">При установки в нашем цетре</div>
                <div class="card__description-price-min">1 104.00 Руб.</div>
                <button class="card__add-item">в корзину</button>
                <button class="card__fast-buy">купить в один клик</button>
                <a href="#" class="card__contact">Где забрать? г.Москва, ул. Первая, д.1!</a>
                <a href="#" class="card__contact">Условия доставки по России</a>
                <a href="#" class="card__contact">Условия гарантии</a>
            </div>
        </div>
        <div class="card__description-more-wrap">
            <div class="card__description-more-inner">
                <div class="card__description-more">
                    <div class="card__description-more-head">Совместимые модели авто</div>
                    <ul class="card__description-list card__description-list--checked">
                        <li>HYUNDAI Accent I 1.3i, X3</li>
                        <li>HYUNDAI Accent I 1.3i, X3, 1994-2000 1341ccm G4EH</li>
                        <li>HYUNDAI Accent I 1.3i, X3, 1994-2000</li>
                        <li>HYUNDAI Accent I 1.3i, X3</li>
                        <li>HYUNDAI Accent I 1.3i, X3</li>
                        <li>HYUNDAI Accent I 1.3i, X3, 1994-2000 1341ccm G4EH</li>
                        <li>HYUNDAI Accent I 1.3i, X3, 1994-2000</li>
                        <li>HYUNDAI Accent I 1.3i, X3</li>
                    </ul>
                    <a href="#" class="card__description-more-link">Еще 45...</a>
                </div>
                <div class="card__description-more card__description-more--border">
                    <div class="card__description-more-head">Кросы</div>
                    <ul class="card__description-list">
                        <li>Hyundai: 3730041750, 3730041751</li>
                        <li>KRAUF: ALA0236, ALM0236</li>
                        <li>Mando: AD270365, TA000A31101</li>
                        <li>Motorherz: ALA0236RB, ALA0236WA</li>
                        <li>Valeo: 600820</li>
                        <li>WAI: 1-3506-25W</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card__simples">
            <div class="card__simples-head">Рекомендуем к этому товару:</div>
            <div class="card__simples-slide">
                <div class="card__simples-slide-item">
                    <div class="card__simples-slide-img">
                        <img src="../upload/catalog/generator.jpg" alt="Генератор">
                    </div>
                    <div class="card__simples-content">
                        <div class="card__simples-slide-head">Генератор (Название бренда) ALA0787</div>
                        <div class="card__simples-slide-description card__simples-slide-description--black">Характеристики</div>
                        <div class="card__simples-slide-description">Vo: 12 volt, am: 75 amp, a: 34 mm, b: 13 mm, c: 54.5 mm,<br>
                            gr: 4 pcs, st: L-S</div>
                        <div class="card__simples-slide-price">1 104.00 Руб.</div>
                    </div>
                </div>
                <div class="card__simples-slide-item">
                    <div class="card__simples-slide-img">
                        <img src="../upload/catalog/generator.jpg" alt="Генератор">
                    </div>
                    <div class="card__simples-content">
                        <div class="card__simples-slide-head">Генератор (Название бренда) ALA0787</div>
                        <div class="card__simples-slide-description card__simples-slide-description--black">Характеристики</div>
                        <div class="card__simples-slide-description">Vo: 12 volt, am: 75 amp, a: 34 mm, b: 13 mm, c: 54.5 mm,<br>
                            gr: 4 pcs, st: L-S</div>
                        <div class="card__simples-slide-price">1 104.00 Руб.</div>
                    </div>
                </div>
                <div class="card__simples-slide-item">
                    <div class="card__simples-slide-img">
                        <img src="../upload/catalog/generator.jpg" alt="Генератор">
                    </div>
                    <div class="card__simples-content">
                        <div class="card__simples-slide-head">Генератор (Название бренда) <div class="card__simples-slide-head--blue">ALA0787</div></div>
                        <div class="card__simples-slide-description card__simples-slide-description--black">Характеристики</div>
                        <div class="card__simples-slide-description">Vo: 12 volt, am: 75 amp, a: 34 mm, b: 13 mm, c: 54.5 mm,<br>
                            gr: 4 pcs, st: L-S</div>
                        <div class="card__simples-slide-price">1 104.00 Руб.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>