<div class="catalog">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Каталог товаров</a></li>
            </ul>
        </div>
        <div  class="catalog__header">
            <h2>Каталог товаров</h2>
        </div>
        <div class="catalog__border"></div>
        <div class="catalog__sidebar">
            <ul class="catalog__sidebar-list">
                <li class="catalog__sidebar-menu">
                    Генераторы
                    <div class="catalog__sidebar-menu--ic">
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="11px" height="7px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 658 406"  xmlns:xlink="http://www.w3.org/1999/xlink"> <g><metadata id="CorelCorpID_0Corel-Layer"/><g><g><g><polygon class="fil0" points="658,77 581,0 329,252 77,0 0,77 329,406 "/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></g></g></svg>
                    </div>
                    <ul class="catalog__sidebar-list--small catalog__drop-down">
                        <li><a href="#">Диодные мосты</a></li>
                        <li><a href="#">Диоды</a></li>
                        <li><a href="#">Колекторы</a></li>
                        <li><a href="#">Крышки задние</a></li>
                        <li><a href="#">Крышки переднии</a></li>
                        <li><a href="#">Крышки пласти</a></li>
                    </ul>
                </li>
                <li><a href="#">Диодные мосты</a></li>
                <li><a href="#">Диоды</a></li>
                <li><a href="#">Колекторы</a></li>
                <li><a href="#">Крышки задние</a></li>
                <li><a href="#">Крышки переднии</a></li>
                <li><a href="#">Крышки пласти</a></li>
                <li class="catalog__sidebar-menu">
                    Помпы
                    <div class="catalog__sidebar-menu--ic">
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="11px" height="7px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 658 406"  xmlns:xlink="http://www.w3.org/1999/xlink"> <g><metadata id="CorelCorpID_0Corel-Layer"/><g><g><g><polygon class="fil0" points="658,77 581,0 329,252 77,0 0,77 329,406 "/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></g></g></svg>
                    </div>
                    <ul class="catalog__sidebar-list--small catalog__drop-down">
                        <li><a href="#">Диодные мосты</a></li>
                        <li><a href="#">Диоды</a></li>
                        <li><a href="#">Колекторы</a></li>
                        <li><a href="#">Крышки задние</a></li>
                        <li><a href="#">Крышки переднии</a></li>
                        <li><a href="#">Крышки пласти</a></li>
                    </ul>
                </li>
                <li><a href="#">Диоды</a></li>
                <li><a href="#">Колекторы</a></li>
                <li><a href="#">Крышки задние</a></li>
                <li><a href="#">Крышки переднии</a></li>
            </ul>
            <div class="catalog__sidebar-search">
                <form action="">
                    <input type="text" placeholder="Поиск по каталогу">
                    <button class="catalog__sidebar-search-btn" type="submit"></button>
                </form>
            </div>
        </div>
        <div class="catalog__right-container">
            <div class="catalog__banner">
                <div class="catalog__banner-text">
                    Не можете найти генератор? <br>
                    <span class="catalog__banner-text--blue">Воспользуйтесь онлайн подбором!</span>
                </div>
                <a href="#" class="catalog__banner-btn">найти товар</a>
            </div>
            <div class="catalog__border">
            </div>
            <div class="catalog__filter">
                <h3 class="catalog__filter-header">
                    Генераторы
                    <a href="#" class="catalog__filter-header--count">
                        (890 товаров)
                    </a>
                </h3>
                <div class="catalog__filter-control">
                    <form>
                        <div class="catalog__filter-select">
                            <select>
                                <option>Напряжение (Vo)</option>
                                <option>Hello 1</option>
                                <option>Hello 2</option>
                                <option>Hello 3</option>
                                <option>Hello 4</option>
                            </select>
                            <div class="select_arrow">
                            </div>
                        </div>
                        <div class="catalog__filter-select">
                            <select>
                                <option>Сила тока (Am)</option>
                                <option>Hello 1</option>
                                <option>Hello 2</option>
                                <option>Hello 3</option>
                                <option>Hello 4</option>
                            </select>
                            <div class="select_arrow">
                            </div>
                        </div>
                        <div class="catalog__filter-select">
                            <select>
                                <option>Сила тока (Am)</option>
                                <option>Hello 1</option>
                                <option>Hello 2</option>
                                <option>Hello 3</option>
                                <option>Hello 4</option>
                            </select>
                            <div class="select_arrow">
                            </div>
                        </div>
                        <div class="catalog__filter-select">
                            <select>
                                <option>Еще фильтры</option>
                                <option>Hello 1</option>
                                <option>Hello 2</option>
                                <option>Hello 3</option>
                                <option>Hello 4</option>
                            </select>
                            <div class="select_arrow">
                            </div>
                        </div>
                        <button class="catalog__filter-reset" type="reset">Очистить</button>
                    </form>
                </div>
                <div class="catalog__filter-item">
                    <div class="catalog__filter-item-banner">
                        Акция
                        <span class="catalog__filter-item-banner--descript">
                            3 дня 20% <br>
                            на генераторы!
                        </span>
                    </div>
                    <div class="catalog__filter-item-img">
                        <img src="upload/catalog/generator.jpg" alt="генератор">
                    </div>
                    <div class="catalog__filter-item--right">
                        <h3>Генератор (Название бренда)</h3>
                        <div class="catalog__filter-item-name">ALA0787</div>
                        <div class="catalog__filter-item-description">
                            <div class="catalog__filter-item-text">
                                <h4>Характеристики <span>?</span></h4>
                                <p>Vo: 12 volt, am: 75 amp, a: 34 mm, b: 13 mm,
                                    c: 54.5 mm, gr: 4 pcs, st: L-S</p>
                            </div>
                            <div class="catalog__filter-item-text">
                                <h4>Совместимые модели авто</h4>
                                <p>HYUNDAI Accent I 1.3i, X3, 1994-2000 1341ccm G4EH <br>
                                    HYUNDAI Accent I 1.3i, X3, 1994-2000 1341ccm G4EH <br>
                                    HYUNDAI Accent I 1.3i, X3, 1994-2000 1341ccm G4EH/ <br>
                                    HYUNDAI Accent I 1.3i, X3, 1994-2000 1341ccm G4EH/</p>
                            </div>
                            <a class="catalog__filter-item-more" href="#">Еще <span class="catalog__filter-item-more--count">45...</span></a>
                        </div>
                        <div class="catalog__filter-item-buy">
                            <div class="catalog__filter-item-have">в наличии</div>
                            <span class="catalog__filter-item-oldprice">2300 руб.</span>
                            <div class="catalog__filter-item-newprice">1 304.00 Руб.</div>
                            <a href="#" class="catalog__filter-item-addbasket">в корзину</a>
                            <div class="catalog__filter-item-ranked" data-rank="">
                                <span class="catalog__filter-item-ranked--star catalog__filter-item-ranked--star-active"></span>
                                <span class="catalog__filter-item-ranked--star catalog__filter-item-ranked--star-active"></span>
                                <span class="catalog__filter-item-ranked--star catalog__filter-item-ranked--star-active"></span>
                                <span class="catalog__filter-item-ranked--star catalog__filter-item-ranked--star-active"></span>
                                <span class="catalog__filter-item-ranked--star"></span>
                            </div>
                            <div class="catalog__filter-item-coments">25 отзывов</div>
                        </div>
                    </div>
                </div>
                <div class="catalog__filter-item">
                    <div class="catalog__filter-item-banner">
                        Акция
                        <span class="catalog__filter-item-banner--descript">
                            3 дня 20% <br>
                            на генераторы!
                        </span>
                    </div>
                    <div class="catalog__filter-item-img">
                        <img src="upload/catalog/generator.jpg" alt="генератор">
                    </div>
                    <div class="catalog__filter-item--right">
                        <h3>Генератор (Название бренда)</h3>
                        <div class="catalog__filter-item-name">ALA0787</div>
                        <div class="catalog__filter-item-description">
                            <div class="catalog__filter-item-text">
                                <h4>Характеристики <span>?</span></h4>
                                <p>Vo: 12 volt, am: 75 amp, a: 34 mm, b: 13 mm,
                                    c: 54.5 mm, gr: 4 pcs, st: L-S</p>
                            </div>
                            <div class="catalog__filter-item-text">
                                <h4>Совместимые модели авто</h4>
                                <p>HYUNDAI Accent I 1.3i, X3, 1994-2000 1341ccm G4EH <br>
                                    HYUNDAI Accent I 1.3i, X3, 1994-2000 1341ccm G4EH <br>
                                    HYUNDAI Accent I 1.3i, X3, 1994-2000 1341ccm G4EH/ <br>
                                    HYUNDAI Accent I 1.3i, X3, 1994-2000 1341ccm G4EH/</p>
                            </div>
                            <a class="catalog__filter-item-more" href="#">Еще <span class="catalog__filter-item-more--count">45...</span></a>
                        </div>
                        <div class="catalog__filter-item-buy">
                            <div class="catalog__filter-item-have">в наличии</div>
                            <span class="catalog__filter-item-oldprice">2300 руб.</span>
                            <div class="catalog__filter-item-newprice">1 304.00 Руб.</div>
                            <a href="#" class="catalog__filter-item-addbasket">в корзину</a>
                            <div class="catalog__filter-item-ranked" data-rank="">
                                <span class="catalog__filter-item-ranked--star catalog__filter-item-ranked--star-active"></span>
                                <span class="catalog__filter-item-ranked--star catalog__filter-item-ranked--star-active"></span>
                                <span class="catalog__filter-item-ranked--star catalog__filter-item-ranked--star-active"></span>
                                <span class="catalog__filter-item-ranked--star catalog__filter-item-ranked--star-active"></span>
                                <span class="catalog__filter-item-ranked--star"></span>
                            </div>
                            <div class="catalog__filter-item-coments">25 отзывов</div>
                        </div>
                    </div>
                </div>
                <nav class="shares__nav">
                    <button class="shares__nav-btn shares__nav-btn--prev"></button>
                    <ul class="shares__nav-list">
                        <li class="shares__nav-item"><a href="#">1</a></li>
                        <li class="shares__nav-item"><a href="#">2</a></li>
                        <li class="shares__nav-item shares__nav-item--active"><a href="#">3</a></li>
                        <li class="shares__nav-item"><a href="#">4</a></li>
                        <li class="shares__nav-item"><a href="#">5</a></li>
                    </ul>
                    <button class="shares__nav-btn shares__nav-btn--next"></button>
                </nav>
                <div class="shares__preloader"><span class="shares__preloader--inner"></span></div>
                <a href="#" class="shares__more">
                    смотреть еще
                </a>
            </div>
        </div>
        //= ../part/seo.html
    </div>
</div>