<div class="container">
    <div class="bread-crumbs">
        <ul class="bread-crumbs-container">
            <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
            <li class="bread-crumbs-item"><a href="#">Главная</a></li>
            <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Каталог товаров</a></li>
        </ul>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="contact__content">
            <h2>Контакты</h2>
            <div class="contact__text">
                <div class="contact__text-icon contact__text-icon--house"></div>
                <p>Наш адрес:  г. Москва, Днепропетровский
                    проезд, д. 5, эт. .</p>
            </div>
            <div class="contact__text contact__text--grey">
                <div class="contact__text-icon contact__text-icon--time"></div>
                <p>ПН-ПТ с 10 до 18, СБ с 10 до 17</p>
            </div>
            <div class="contact__number">
                <div class="contact__number-icon contact__number-icon--tel"></div>
                <a href="tel:+79099079839">+7 (909) 907-98-39</a>
            </div>
            <div class="contact__number">
                <div class="contact__number-icon contact__number-icon--viber"></div>
                <a href="tel:+79253584493">+7 (925) 358-44-93</a>
                <div class="contact__number-description">
                    Для связи в Viber и WhatsApp
                </div>
            </div>
            <div class="contact__mail">
                <div class="contact__mail-icon"></div>
                <a href="mailto:info@bendiks-shop.ru">info@bendiks-shop.ru</a>
            </div>
            <a href="#" class="contact__callback">прошу перезвонить</a>
        </div>
        <div class="contact__form contact__form--border">
            <form>
                <div class="contact__form-head">
                    <h3>Или напишите нам!</h3>
                </div>
                <input class="contact__form-input" type="text" required placeholder="Имя">
                <input class="contact__form-input" type="tel" required placeholder="Номер телефона">
                <textarea class="contact__form-textarea" name="msg" id="" cols="30" rows="10" placeholder="Текст сообщения" required></textarea>
                <button class="contact__form-submit" type="submit">отправить сообщение</button>
            </form>
        </div>
    </div>
</div>