<div class="delivery">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--marker"></div>
            Доставка товара осуществляется любым способом, который выберет покупатель при
            оформлении заказа. Мы предлагаем большое количество различных вариантов
            доставки по всей России.
        </div>

        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--box"></div>
            <h4 class="delivery__item-head">Самовывоз из магазина в г.Москве: Днепропетровский проезд, д.5, эт.3</h4>
            <ul class="delivery__list">
                <li>Время работы пункта выдачи ПН-ПТ с 10.00 до 19.00 часов, СБ-ВСК выходной.</li>
                <li>Убедительная  просьба заранее предупреждать о вашем визите.</li>
            </ul>
        </div>

        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--moto"></div>
            <h4 class="delivery__item-head">Доставка собственной курьерской службой</h4>
            <ul class="delivery__list">
                <li>Бесплатная доставка по Москве, в пределах МКАД осуществляется на следующий день
                    после заказа, при условии стоимости заказа от 15000 рублей. Стоимость доставки
                    в Подмосковье уточняется по телефону.
                </li>
                <li>После оформления заказа с Вами свяжется наш менеджер и согласует условия доставки.</li>
                <li>Доставка в день обращения +500 рублей.</li>
            </ul>
        </div>

        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--travel"></div>
            <h4 class="delivery__item-head">Доставка транспортной компанией</h4>
            <ul class="delivery__list">
                <li>В настоящее время существует огромное количество транспортных компаний,
                    осуществляющих доставку грузов в любую точку России. Например ЖелДорЭкспедиция,
                    Автотрейдинг, Деловые линии, Байкал сервис и многие другие.
                </li>
                <li>При получении груза вы оплачиваете доставку.</li>
            </ul>
        </div>

        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--car"></div>
            <h4 class="delivery__item-head">Срочная Доставка</h4>
           <ul class="delivery__list">
               <li>Есть несколько транспортных перевозчиков, которые доставят груз в любую точку России
                   за 2-3 дня, такие как DHL, UPS. Но мы рекомендуем Pony Express. Средняя стоимость срочной
                   доставки по России составляет 1500 рублей.</li>
           </ul>
        </div>

        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--post"></div>
            <h4 class="delivery__item-head">Доставка «Почтой России»</h4>
            <ul class="delivery__list">
                <li>Доставка почтой возможна, только при условии удаленности вашего населенного пункта от
                    крупного города более чем на 100 км. Доставка осуществляется после 100% предоплаты.</li>
                <li>Как правило, срок доставки составляет от 7 дней  до 3 недель.</li>
                <li>После доставки посылки в почтовое отделение, Вы получите извещение.</li>
            </ul>
        </div>
    </div>
    <div class="garant__footer">
        <div class="garant__footer-bg"></div>
        <div class="garant__footer--blur"></div>
        <div class="delivery__footer-ic"></div>
        <div class="garant__footer-content">
            <span class="garant__footer--blue">У Вас есть вопросы</span> по условиям <br>
            доставки товара?
            <div><a class="garant__footer-btn" href="#">отправить сообщение</a></div>
        </div>
    </div>
</div>