<div class="delivery">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--rub"></div>
            Оплата товара осуществляется любым способом, который выберет покупатель при <br>
            оформлении заказа. <br>
            Мы предлагаем большое количество различных вариантов оплаты Вашего заказа.
        </div>

        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--visa"></div>
            <h4 class="delivery__item-head">Visa, MasterCard, Maestro</h4>
            <p>Время работы пункта выдачи ПН-ПТ с 10.00 до 19.00 часов, СБ-ВСК выходной. <br>
                Убедительная  просьба заранее предупреждать о вашем визите.</p>
        </div>

        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--wm"></div>
            <div class="delivery__item-head">WebMoney</div>
            <p>Бесплатная доставка по Москве, в пределах МКАД осуществляется на следующий день после заказа,
                при условии стоимости заказа от 15000 рублей.  Стоимость доставки в Подмосковье уточняется по
                телефону. После оформления заказа с Вами свяжется наш менеджер и согласует условия доставки.
                Доставка в день обращения +500 рублей.
            </p>
        </div>

        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--yandex"></div>
            <div class="delivery__item-head">Яндекс Деньги</div>
            <p> Время работы пункта выдачи ПН-ПТ с 10.00 до 19.00 часов, СБ-ВСК выходной.
                Убедительная  просьба заранее предупреждать о вашем визите.
            </p>
        </div>

        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--bank"></div>
            <div class="delivery__item-head">Банковский перевод</div>
            <p>
                Время работы пункта выдачи ПН-ПТ с 10.00 до 19.00 часов, СБ-ВСК выходной.
                Убедительная  просьба заранее предупреждать о вашем визите.</p>
        </div>

        <div class="delivery__item">
            <div class="delivery__item-ic delivery__item-ic--qiwi"></div>
            <div class="delivery__item-head">QIWI</div>
            <p>
                Время работы пункта выдачи ПН-ПТ с 10.00 до 19.00 часов, СБ-ВСК выходной.
                Убедительная  просьба заранее предупреждать о вашем визите.
            </p>
        </div>
    </div>
    <div class="garant__footer">
        <div class="garant__footer-bg"></div>
        <div class="garant__footer--blur"></div>
        <div class="delivery__footer-ic"></div>
        <div class="garant__footer-content">
            <span class="garant__footer--blue">У Вас есть вопросы</span> по условиям <br>
            доставки товара?
            <div><a class="garant__footer-btn" href="#">отправить сообщение</a></div>
        </div>
    </div>
</div>