<div class="garant">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Контакты</a></li>
            </ul>
        </div>
        <h3 class="garant__header">Гарантии и возврат</h3>
        <h3 class="garant__sheld">Гарантия – это право приобретенное покупателем в момент заключения договора <br>
            купли – продажи на бесплатный обмен запчастей, в случае выявления <br> дефектов детали
            дефектов детали.</h3>
        <p class="garant__calend">Гарантия на все приобретенные запчасти составляет 6 месяцев <br>
            со дня покупки.</p>
        <div class="garant__dabble-line">
            В случае, если деталь неисправна Вы можете вернуть ее при наличии <br>
            следующих документов:
        </div>
        <ul class="garant__list garant__list--tick">
            <li>Наличие документа, подтверждающего приобретение запчастей у Bendiks-Shop – кассовый чек</li>
            <li>Сохранение товарного вида запчасти и упаковки</li>
            <li>Сохранение защитных пломб</li>
            <li>Сохранение маркировки</li>
            <li>Наличие полного комплекта</li>
        </ul>
        <div class="garant__dabble-line">
            Гарантия на запчасти не распространяется <br>
            в следующих случаях:
        </div>
        <ul class="garant__list garant__list--iks">
            <li> На повреждения, происшедшие по причине неправильной эксплуатации</li>
            <li>Износ запчасти</li>
            <li>На неисправности, происшедшие по причине несоблюдения клиентом рекомендаций сервиса</li>
            <li>На неисправности, которые произошли по причине выхода из строя запчастей купленных не в нашем интернет-магазине</li>
        </ul>

        <div class="garant__warning">ВНИМАНИЕ! 6 МЕСЯЦЕВ ОБЯЗАТЕЛЬНО СОХРАНЯТЬ <br>
            ДОКУМЕНТЫ И ЧЕК О ПРОДАЖЕ.</div>
    </div>
    <div class="garant__footer">
        <div class="garant__footer-bg"></div>
        <div class="garant__footer--blur"></div>
        <div class="garant__footer-ic"></div>
        <div class="garant__footer-content">
            <span class="garant__footer--blue">У Вас есть вопросы</span> по гарантии <br>
            или возврату товара?
            <div><a class="garant__footer-btn" href="#">отправить сообщение</a></div>
        </div>
    </div>
</div>