<div class="answer">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home.png" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Вопросы и ответы</a></li>
            </ul>
        </div>
        <div class="answer__question">
            <h3 class="answer__header">Вопросы и ответы</h3>
            <div class="answer__question-item">
                <p>Как оформить заказ на сайте?</p>
                <div class="answer__question-item--more">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, tenetur.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quia reprehenderit similique!</p>
                </div>
            </div>
            <div class="answer__question-item">
                <p>Как оформить заказ на сайте?</p>
                <div class="answer__question-item--more">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, tenetur.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quia reprehenderit similique!</p>
                </div>
            </div>
            <div class="answer__question-item">
                <p>Как оформить заказ на сайте?</p>
                <div class="answer__question-item--more">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, tenetur.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quia reprehenderit similique!</p>
                </div>
            </div>
            <div class="answer__question-contact">
                <h5 class="answer__question-header">Остались вопросы?</h5>
                <div class="answer__question-tel">Позвоните: <a href="tel:+79099079839">+7(909)907-98-39</a> или <a class="answer__question-tel--underline" href="#">напишите нам</a></div>
            </div>
        </div>
        <div class="answer__form">
            <div class="answer__form-border"></div>
            <h4 class="answer__form-header">Не нашли ответ<br>на свой вопрос?</h4>
            <div class="answer__form-description">Напишите нам!</div>
            <form action="#">
                <input class="answer__form-input" type="text" placeholder="Имя" required>
                <input class="answer__form-input" type="email" placeholder="Электронная почта" required>
                <textarea class="answer__form-textarea" name="message" id="question-msg" cols="30" rows="10" placeholder="Ваш вопрос"></textarea>
                <input class="answer__form-input answer__form-submit" type="submit" value="задать вопрос">
            </form>
        </div>
    </div>
</div>