<header id="main-header">
    <div class="header__top-wrap">
        <div class="container">
            <div class="header__top">
                <div class="address"><a href="about_2.html#map">Наш адрес: г. Москва, Днепропетровский проезд, д. 5, эт.</a></div>
                <div class="workTime">ПН-ПТ с 10 до 18, СБ с 10 до 17</div>
                <ul class="social">
                    <? if ($social_facebookid) { ?>
                    <li><a href="<? echo $social_facebookid ?>">
                        <svg id="Layer-175" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.83 8.83">
                            <defs>
                                <style>.cls-1 {
                                    fill: #999;
                                    fill-rule: evenodd;
                                }</style>
                            </defs>
                            <title>soc1</title>
                            <path class="cls-1"
                                  d="M322.39,4680.95a4.42,4.42,0,1,0,4.42,4.42,4.42,4.42,0,0,0-4.42-4.42h0Zm1.14,4.41h-0.72V4688h-1v-2.65h-0.66v-0.91h0.66v-0.54a1,1,0,0,1,1.08-1.2h0.73v0.91h-0.46c-0.34,0-.36.13-0.36,0.37v0.46h0.82Z"
                                  transform="translate(-317.97 -4680.95)"/>
                        </svg>
                    </a></li>
                    <? } ?>

                    <li><a href="#">
                        <svg id="Layer-177" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.83 8.83">
                            <defs>
                                <style>.cls-1 {
                                    fill: #999;
                                    fill-rule: evenodd;
                                }</style>
                            </defs>
                            <title>soc2</title>
                            <path class="cls-1"
                                  d="M332.49,4681a4.42,4.42,0,1,0,4.42,4.42,4.42,4.42,0,0,0-4.42-4.42h0Zm2.2,3.42v0.14a3.09,3.09,0,0,1-4.76,2.6l0.26,0a2.18,2.18,0,0,0,1.35-.47,1.09,1.09,0,0,1-1-.76l0.2,0a1.08,1.08,0,0,0,.29,0,1.09,1.09,0,0,1-.87-1.07h0a1.08,1.08,0,0,0,.49.14,1.09,1.09,0,0,1-.34-1.45,3.09,3.09,0,0,0,2.24,1.14,1.09,1.09,0,0,1,1.85-1,2.2,2.2,0,0,0,.69-0.26,1.09,1.09,0,0,1-.48.6,2.18,2.18,0,0,0,.62-0.17A2.2,2.2,0,0,1,334.68,4684.46Z"
                                  transform="translate(-328.07 -4681.04)"/>
                        </svg>
                    </a></li>
                    <li><a href="#">
                        <svg id="Layer-176" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.78 8.78">
                            <defs>
                                <style>.cls-1 {
                                    fill: #999;
                                    fill-rule: evenodd;
                                }</style>
                            </defs>
                            <title>soc3</title>
                            <path class="cls-1"
                                  d="M341.63,4685.95l-0.09-.06a1,1,0,0,0-.28,0h0a0.76,0.76,0,0,0-.83.58,0.69,0.69,0,0,0,.76.6c0.56,0,.85-0.19.85-0.58a0.5,0.5,0,0,0,0-.11,0.78,0.78,0,0,0-.38-0.38h0Zm0.59-5.12a4.39,4.39,0,1,1-4.39,4.39,4.4,4.4,0,0,1,4.39-4.39h0Zm-0.51,6.53a1.92,1.92,0,0,1-.53.07,2.45,2.45,0,0,1-.6-0.07,1.16,1.16,0,0,1-.76-0.49,0.62,0.62,0,0,1-.08-0.31,0.78,0.78,0,0,1,.08-0.33,1.43,1.43,0,0,1,1.31-.71h0a0.52,0.52,0,0,1-.07-0.26,0.55,0.55,0,0,1,0-.14,1,1,0,0,1-1.07-1.05,1.12,1.12,0,0,1,.81-1,1.31,1.31,0,0,1,.43-0.07h1.31a0.1,0.1,0,0,1,.06.19l-0.29.21-0.06,0h-0.1a1,1,0,0,1,.21.65,1,1,0,0,1-.41.76,0.33,0.33,0,0,0-.21.29,0.87,0.87,0,0,0,.3.32,1,1,0,0,1,.5.93,1.06,1.06,0,0,1-.85,1h0Zm2.95-2.24h0v-0.21a0.1,0.1,0,0,0-.1-0.1h-0.74v-0.74a0.1,0.1,0,0,0-.1-0.1h-0.21a0.1,0.1,0,0,0-.1.1v0.74h-0.74a0.1,0.1,0,0,0-.1.1v0.21a0.1,0.1,0,0,0,.1.1h0.74V4686a0.1,0.1,0,0,0,.1.1h0.21a0.1,0.1,0,0,0,.1-0.1v-0.74h0.74a0.1,0.1,0,0,0,.1-0.1h0Zm-3.35-.34h0a0.34,0.34,0,0,0,.27-0.12,0.7,0.7,0,0,0,.13-0.54,0.77,0.77,0,0,0-.62-0.72h0a0.34,0.34,0,0,0-.26.12,0.68,0.68,0,0,0-.12.53,0.79,0.79,0,0,0,.62.73h0Z"
                                  transform="translate(-337.83 -4680.83)"/>
                        </svg>
                    </a></li>
                    <li><a href="#">
                        <svg id="Layer-174" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.68 8.68">
                            <defs>
                                <style>.cls-1 {
                                    fill: #999;
                                    fill-rule: evenodd;
                                }</style>
                            </defs>
                            <title>soc4</title>
                            <path class="cls-1"
                                  d="M-10.17,2.93a0.53,0.53,0,0,0-.53.53,0.53,0.53,0,0,0,.53.53,0.53,0.53,0,0,0,.53-0.53,0.53,0.53,0,0,0-.52-0.53h0Zm0,0.79a0.27,0.27,0,0,1-.27-0.27,0.27,0.27,0,0,1,.27-0.27,0.27,0.27,0,0,1,.27.27A0.27,0.27,0,0,1-10.17,3.73Z"
                                  transform="translate(16.14 1.16)"/>
                            <path class="cls-1"
                                  d="M-13.43,2.17a1.3,1.3,0,0,0-1.3,1.32,1.3,1.3,0,0,0,1.32,1.28,1.3,1.3,0,0,0,1.29-1.3,1.3,1.3,0,0,0-1.3-1.31h0Zm0,2.09a0.81,0.81,0,0,1-.85-0.81,0.8,0.8,0,0,1,.81-0.81,0.8,0.8,0,0,1,.81.81A0.81,0.81,0,0,1-13.41,4.27Z"
                                  transform="translate(16.14 1.16)"/>
                            <path class="cls-1"
                                  d="M-11.8-1.16a4.34,4.34,0,0,0-4.34,4.34A4.34,4.34,0,0,0-11.8,7.52,4.34,4.34,0,0,0-7.46,3.18,4.34,4.34,0,0,0-11.8-1.16h0Zm2.5,6a1.61,1.61,0,0,1-.87.25,1.51,1.51,0,0,1-.39,0,1.64,1.64,0,0,1-.8-0.47l-0.09-.1L-11.81,5l-0.34-.51h0a1.62,1.62,0,0,1-1,.57,1.58,1.58,0,0,1-.68,0,1.61,1.61,0,0,1-.8-0.5A1.61,1.61,0,0,1-15,3.72a1.59,1.59,0,0,1,0-.65,1.65,1.65,0,0,1,.25-0.55,0.06,0.06,0,0,0,0,0A1.83,1.83,0,0,0-15,2l-0.08-.11h1a3.54,3.54,0,0,1,.73-0.36,4,4,0,0,1,.57-0.15,4.54,4.54,0,0,1,.57-0.07,4.81,4.81,0,0,1,1.08,0,3.47,3.47,0,0,1,.54.13,3.67,3.67,0,0,1,.87.4l0.07,0h1l0,0.07a2,2,0,0,0-.26.53,0.06,0.06,0,0,0,0,.06,1.6,1.6,0,0,1,.26,1.35A1.59,1.59,0,0,1-9.31,4.87Z"
                                  transform="translate(16.14 1.16)"/>
                            <path class="cls-1"
                                  d="M-13.46,2.93a0.53,0.53,0,0,0-.52.53,0.53,0.53,0,0,0,.53.53,0.53,0.53,0,0,0,.53-0.53,0.53,0.53,0,0,0-.53-0.53h0Zm0,0.8a0.27,0.27,0,0,1-.27-0.27,0.27,0.27,0,0,1,.27-0.27,0.27,0.27,0,0,1,.27.27A0.27,0.27,0,0,1-13.45,3.73Z"
                                  transform="translate(16.14 1.16)"/>
                            <path class="cls-1"
                                  d="M-10.2,2.18a1.3,1.3,0,0,0-1.28,1.3,1.31,1.31,0,0,0,1.3,1.31,1.3,1.3,0,0,0,1.3-1.3,1.3,1.3,0,0,0-1.33-1.3h0Zm0.06,2.09A0.81,0.81,0,0,1-11,3.46a0.8,0.8,0,0,1,.81-0.81,0.8,0.8,0,0,1,.81.8A0.81,0.81,0,0,1-10.14,4.27Z"
                                  transform="translate(16.14 1.16)"/>
                            <path class="cls-1"
                                  d="M-11.28,2.27a1.65,1.65,0,0,1,1-.43,3.71,3.71,0,0,0-1.45-.3,4,4,0,0,0-1.66.3,1.65,1.65,0,0,1,1,.43,1.65,1.65,0,0,1,.53,1A1.66,1.66,0,0,1-11.28,2.27Z"
                                  transform="translate(16.14 1.16)"/>
                        </svg>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__logo">
                <a href="index.html" class="header__logo-inner">
                    <span class="header__logo-header">bendiks<span
                            class="header__logo-header--black">-shop</span></span>
                    <span class="header__logo-description">Магазин стартеров и генераторов</span>
                </a>
            </div>
            <div class="header__contact">
                <i class="header__contact-phoneIcon"></i>
                <a href="tel:+7 9099079839" class="header__contact-number">+7 (909) 907-98-39</a>
                <button class="callback_popup-show header__contact-callback">прошу перезвонить</button>
            </div>
            <div class="pull-right">
                <div class="header__notify">
                    <div class="header__notify-icon"><span class="header__notify-count">1</span></div>
                </div>
                <div class="header__basket header__basket--icon">
                    <div class="header__basket-count">1&nbsp;товар</div>
                    <div class="header__basket-price">850.000&nbsp;Руб.</div>
                </div>
            </div>
        </div>
    </div>
    <nav class="header__nav">
        <div class="container">
            <div class="header__show-menu">меню</div>
            <ul class="header__nav-menu">
                <li class="header__catalog">
                    <span class="header__catalog-btn">категории товаров</span>
                    <ul class="header__catalog-sub-menu">
                        <li><a href="#">some one category</a></li>
                        <li><a href="#">some one category</a></li>
                        <li><a href="#">some one category</a></li>
                        <li><a href="#">some one category</a></li>
                    </ul>
                </li>
                <li class="header__nav-link"><a href="#">наша мастерская</a></li>
                <li class="header__nav-link"><a href="#">оплата</a></li>
                <li class="header__nav-link"><a href="#">доставка</a></li>
                <li class="header__nav-link"><a href="#">гарантия и возврат</a></li>
                <li class="header__nav-link"><a href="#">контакты</a></li>
            </ul>
            <div class="header__search">
                <input type="text" placeholder="Введите для поиска по сайту" class="header__search-input">
                <button type="submit" class="header__search-submit"></button>
            </div>
        </div>
    </nav>
    <div class="popup popup-callback" id="popup_callback">
        <div class="popup-background callback_popup-hide"></div>
        <div class="popup-content">
            <button class="popup-close callback_popup-hide"></button>
            <div class="popup-logo"></div>
            <div class="popup-header">прошу перезвонить</div>
            <p class="popup-text">Просто заполните форму ниже и наш менеджер<br>
                перезвонит вам в ближайшее время</p>
            <form action="#">
                <input class="popup-input" type="email" placeholder="Email" required>
                <input class="popup-input" type="password" placeholder="Пароль" required>
                <input class="popup-input popup-submit" type="submit" value="отправить">
            </form>
        </div>
    </div>
</header>