<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
<link rel="stylesheet" href="vender/slick/css/slick.css">
<link rel="stylesheet" href="fonts/fonts.css">
<link href="css/style.css" rel="stylesheet" type="text/css">
