<div class="news-detail">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item"><a href="#">Акции и новости</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Новое поступление генераторов!</a></li>
            </ul>
        </div>
        <div class="news-detail__date news-detail__date--icon">07 мая 2016</div>
        <div class="news-detail__header">
            <h2>День российских автомобилей и генераторов.</h2>
        </div>
        <div class="news-detail__img">
            <img src="upload/news-img.jpg" alt="Генератор">
        </div>
        <div class="news-detail__text">
            <p>Камень и древесина — прекрасный материал для создания напольных покрытий. Но, используясь по отдельности, дерево, к примеру, подвержено короблению из-за изменений влажности и требует создание искусственного микроклимата с поддержанием в помещении влажности в диапазоне 45-60%. Напольные покрытия из чистого камня, а именно каменные модули с инкрустацией камнем, производятся с помощью гидрорезки, при которой не возможно идеальное сопряжение фрагментов, что приводит к образованию щелей. Кроме того, пол из чистого камня достаточно холодный, что не очень комфортно.
                В результате многолетнего опыта работы с паркетом и камнем, разработана уникальная технология изготовления нового вида экологичных напольных покрытий в виде каменных модулей, художественно инкрустированных деревом и металлом. Дерево, запрессованное в камень и дополнительно покрытое специальным экологичным маслом, не подвержено короблению и абсолютно </p>
        </div>
        <div class="news-detail__text news-detail__text--blue">
            <p>Каменные модули за счет художественной инкрустации деревом получают теплоту и особую эстетическую привлекательность.
                Линии рисунка идеальны, размеры модулей выдержаны с погрешностью не более 50 микрон и точное сопряжение всех модулей
                обеспечивает впечатление монолитности пола. Модули могут иметь любые размеры исходя из потребностей и пожеланий клиента,
                как и рисунок инкрустации, который также может задаваться самим клиентом и сочетаться, например, с его семейными традициями,
                памятной символикой, художественными пристрастиями. Такие инкрустированные каменные модули с учетом высочайшей
                точности их размеров могут укладываться прямо на качественную бетонную стяжку, что значительно удешевляет работу по
                сборке и финишной отделке. По желанию клиента, модули могут дополняться изготовленными по данной технологии бордюрами,
                розетками и другими декоративными элементами оформления из камня, инкрустированного деревом. Приглашаем Вас
                в наши  Villa di Parchetti!</p>
        </div>
        <div class="news-detail__text">
            <p>Камень и древесина — прекрасный материал для создания напольных покрытий.
                Но, используясь по отдельности, дерево, к примеру, подвержено короблению из-за изменений влажности и требует
                создание искусственного микроклимата с поддержанием в помещении влажности в диапазоне 45-60%. Напольные покрытия
                из чистого камня, а именно каменные модули с инкрустацией камнем, производятся с помощью гидрорезки, при которой
                не возможно идеальное сопряжение фрагментов, что приводит к образованию щелей. Кроме того, пол из чистого камня
                достаточно холодный, что не очень комфортно.
            </p>
        </div>
        <div class="news-detail__text news-detail__text--suffix">
            Камень и древесина — прекрасный материал для создания напольных покрытий. Но, используясь по отдельности, дерево, к примеру, подвержено короблению из-за изменений влажности и требует создание искусственного микроклимата с поддержанием в помещении влажности в диапазоне 45-60%. Напольные покрытия из чистого камня, а именно каменные модули с инкрустацией камнем, производятся с помощью гидрорезки, при которой не возможно идеальное сопряжение фрагментов, что приводит к образованию щелей. Кроме того, пол из чистого камня достаточно холодный, что не очень комфортно.
        </div>
        <a href="#" class="news-detail__btn-back">возврат к списку</a>
    </div>
</div>