<div class="order">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home.png" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Корзина</a></li>
            </ul>
        </div>
        <div class="order-success__header">
            Спасибо!<br>
            Ваш заказ <span class="order-success__header-number">#38290112</span> успешно оформлен
        </div>
        <p class="order-success__description">
            В ближайшее время мы свяжемся с Вами<br>и обсудим детали заказа.
        </p>
        <div class="order-success__back-wrap">
            <a class="order-success__back" href="index.html">вернуться на главную</a>
        </div>
    </div>
</div>