<div class="order">
    <form>
        <div class="container">
            <div class="bread-crumbs">
                <ul class="bread-crumbs-container">
                    <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                    <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                    <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Корзина</a></li>
                </ul>
            </div>
            <div class="order__header"><span class="order__header--count">1.</span>Проверьте товары в Вашем заказе</div>
            <div class="order__table">
                <table>
                    <thead>
                    <tr>
                        <td class="hidden-800">фото</td>
                        <td>товар</td>
                        <td>количество</td>
                        <td class="hidden-600">цена за шт.</td>
                        <td>итого</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="hidden-800">
                            <div class="order__table-img">
                                <img src="../upload/catalog/generator.jpg" alt="Генератор">
                            </div>
                        </td>
                        <td>
                            <div class="order__table-head">Генератор (Название бренда) <span
                                    class="order__table-head--blue">ALA0787</span>
                            </div>
                            <div class="order__table-charter-head">Характеристики <span>?</span></div>
                            <div class="order__table-charter">
                                Vo: 12 volt, am: 75 amp, a: 34 mm, b: 13 mm,
                                c: 54.5 mm, gr: 4 pcs, st: L-S
                            </div>
                        </td>
                        <td>
                            <div class="order__table-input">
                                <input type="text">
                            </div>
                        </td>
                        <td class="hidden-600">
                            <div class="order__table-price">
                                <div class="order__table-price--old">2500&nbsp;руб.</div>
                                1104.00&nbsp;<span class="order__rub-ic"></span></div>
                        </td>
                        <td>
                            <div class="order__table-price">
                                <div class="order__table-total">
                                    <div class="order__table-price--old">2500&nbsp;руб.</div>
                                    121.004.00&nbsp;<span class="order__rub-ic"></span>&nbsp;<button class="order__table-remove">Удалить</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="hidden-800">
                            <div class="order__table-img">
                                <img src="../upload/catalog/generator.jpg" alt="Генератор">
                            </div>
                        </td>
                        <td>
                            <div class="order__table-head">Генератор (Название бренда) <span
                                    class="order__table-head--blue">ALA0787</span>
                            </div>
                            <div class="order__table-charter-head">Характеристики <span>?</span></div>
                            <div class="order__table-charter">
                                Vo: 12 volt, am: 75 amp, a: 34 mm, b: 13 mm,
                                c: 54.5 mm, gr: 4 pcs, st: L-S
                            </div>
                        </td>
                        <td>
                            <div class="order__table-input">
                                <input type="text">
                            </div>
                        </td>
                        <td class="hidden-600">
                            <div class="order__table-price">
                                <div class="order__table-price--old">2500&nbsp;руб.</div>
                                1104.00&nbsp;<span class="order__rub-ic"></span></div>
                        </td>
                        <td>
                            <div class="order__table-price">
                                <div class="order__table-total">
                                    <div class="order__table-price--old">2500&nbsp;руб.</div>
                                    121.004.00&nbsp;<span class="order__rub-ic"></span>&nbsp;<button class="order__table-remove">Удалить</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <input type="text" class="order__promo-code" placeholder="У Вас есть промо-код?">
            <button type="text" class="order__promo-success">применить</button>
            <div class="order__total">итого товаров на сумму: <span class="order__total--blue">8.900.000 <span
                    class="order__rub-ic"></span></span></div>
            <div class="order__total-description">(с учетом скидок, без доставки)</div>
        </div>
        <div class="order__delivery">
            <div class="container">
                <div class="order__header"><span class="order__header--count">2.</span>Оформление заказа</div>
                <div class="order__delivery-container">
                    <div class="order__delivery-header">
                        Выберите способ доставки <span class="order__delivery-header--icon"></span>
                    </div>
                    <div class="order__delivery-radio order__delivery-radio--border">
                        <label>
                        <span class="order__delivery-radio-wrap">
                            <input type="radio" required name="delivery-type" value="himself">
                            <span class="checkmark"></span>
                        </span>
                            Самовывоз из нашего магазина в Москве
                            <a href="#">Посмотреть адрес и схему проезда</a>
                        </label>
                    </div>
                    <div class="order__delivery-radio order__delivery-radio--border">
                        <label>
                        <span class="order__delivery-radio-wrap">
                            <input type="radio" required name="delivery-type" value="russia">
                            <span class="checkmark"></span>
                        </span>
                            Доставка по России
                            <a href="#">Посмотреть все условия</a>
                        </label>
                    </div>
                    <div class="order__delivery-radio">
                        <label>
                        <span class="order__delivery-radio-wrap">
                            <input type="radio" required name="delivery-type" value="moscow">
                            <span class="checkmark"></span>
                        </span>
                            Доставка по Москве <span
                                class="order__delivery-radio--blue">в пределах МКАД (500Руб.)</span>
                        </label>
                    </div>
                    <div class="order__delivery-select--wrap">
                        <select name="adress" id="" class="order__delivery-select">
                            <option value="moscow">Москва</option>
                            <option value="spb">Санктпитербург</option>
                        </select>
                    </div>
                    <input type="text" class="order__delivery-input" required placeholder="Улица">
                    <input type="text" class="order__delivery-input order__delivery-input--small" required
                           placeholder="Дом">
                    <input type="text" class="order__delivery-input order__delivery-input--small"
                           placeholder="Квартира">
                    <input type="text" class="order__delivery-input order__delivery-input--small" placeholder="Этаж">
                    <input type="text" class="order__delivery-input order__delivery-input--small" placeholder="Подьезд">
                    <div class="order__delivery-radio">
                        <label>
                        <span class="order__delivery-radio-wrap">
                            <input type="radio" required name="delivery-type" value="moscow">
                            <span class="checkmark"></span>
                        </span>
                            Доставка за МКАД (10Р/км)
                        </label>
                    </div>
                    <div class="order__delivery-radio">
                        <label>
                         <span class="order__delivery-radio-wrap">
                             <input type="radio" required name="delivery-type" value="moscow">
                            <span class="checkmark"></span>
                        </span>
                            Доставка транспортной компанией по России
                        </label>
                    </div>
                </div>
                <div class="order__delivery-container">
                    <div class="order__delivery-header">
                        Укажите контактные данные получателя
                    </div>
                    <input type="text" class="order__delivery-input" required placeholder="Ваше имя">
                    <input type="text" class="order__delivery-input" required placeholder="Номер телефона">
                    <input type="text" class="order__delivery-input" required placeholder="Электронная почта">
                </div>
            </div>
            <div class="container">
                <div class="order__footer">
                    <div class="order__footer-total">
                        <div class="order__header order__header--total"><span class="order__header--count">✓</span>итого<span class="order__footer-total--black">8.900.000<span class="order__rub-ic"></span></span></div>
                        <span class="order__footer-description">(с учетом скидок и выбранной доставки)</span>
                        <button class="order__footer-submit" type="submit">оформить заказ</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>