<div class="search">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Поиск товаров</a></li>
            </ul>
        </div>
        <div class="search__header">Результаты поиска <span class="search__header-count">Найдено: 48 товаров</span></div>
        <div class="search__input"><input type="text" placeholder="Поиск по артикулу">
            <button class="search__input-submit"></button>
        </div>
        <div class="search__list">
            <div class="search__list-item">
                <div class="search__list-discount">-30%</div>
                <div class="search__list-img">
                    <img src="upload/catalog/generator.jpg" alt="Генератор">
                </div>
                <div class="search__list-content">
                    <div class="search__list-head">Генератор (Название бренда) <span class="search__list-head--blue">ALA0787</span>
                    </div>
                    <div class="search__list-price">1104.00 <span class="order__rub-ic"></span><span
                            class="search__list-oldprice">2500 руб.</span></div>
                    <div class="search__list-charter">
                        <div class="search__list-charter-head">Характеристики</div>
                        Vo: 12 volt, am: 75 amp, a: 34 mm, b: 13 mm, c: 54.5 mm, gr: 4 pcs, st: L-S
                        <div class="search__list-rate">
                            <ul class="search__star-container" data-percent="70">
                                <li><a class="search__star" href="#"></a></li>
                                <li><a class="search__star" href="#"></a></li>
                                <li><a class="search__star" href="#"></a></li>
                                <li><a class="search__star" href="#"></a></li>
                                <li><a class="search__star" href="#"></a></li>
                            </ul>
                            <span class="search__list-commits">5 отзывов</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search__list-item">
                <div class="search__list-img">
                    <img src="upload/catalog/generator.jpg" alt="Генератор">
                </div>
                <div class="search__list-content">
                    <div class="search__list-head">Генератор (Название бренда) <span class="search__list-head--blue">ALA0787</span>
                    </div>
                    <div class="search__list-price">1104.00 <span class="order__rub-ic"></span><span
                            class="search__list-oldprice">2500 руб.</span></div>
                    <div class="search__list-charter">
                        <div class="search__list-charter-head">Характеристики</div>
                        Vo: 12 volt, am: 75 amp, a: 34 mm, b: 13 mm, c: 54.5 mm, gr: 4 pcs, st: L-S
                        <div class="search__list-rate">
                            <ul class="search__star-container" data-percent="50">
                                <li><a class="search__star" href="#"></a></li>
                                <li><a class="search__star" href="#"></a></li>
                                <li><a class="search__star" href="#"></a></li>
                                <li><a class="search__star" href="#"></a></li>
                                <li><a class="search__star" href="#"></a></li>
                            </ul>
                            <span class="search__list-commits">5 отзывов</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>