<div class="search">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Поиск товаров</a></li>
            </ul>
        </div>
        <div class="search__online">
            <div class="search__online-header">
                <h2>Онлайн поиск генератора</h2>
                <p>Для подбора подходящего генератора для Вашего автомобиля заполните <br>необходимые данные.</p>
            </div>
            <div class="online-search">
                <div class="online-search__nav">
                    <ul>
                        <li class="online-search__nav-item"><span class="online-search__nav-item--count">1 шаг.</span> Тип генератора</li>
                        <li class="online-search__nav-item"><span class="online-search__nav-item--count">2 шаг.</span> Марка автомобиля</li>
                        <li class="online-search__nav-item"><span class="online-search__nav-item--count">3 шаг.</span> Модель автомобиля</li>
                        <li class="online-search__nav-item active"><span class="online-search__nav-item--count">4 шаг.</span> Модификация</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="online-search__wrap">
        <div class="container">
            <div class="online-search__item">
                <div class="online-search__model">
                    <div class="online-search__model-head">
                        Для перехода на следующий шаг подбора выберите двигатель автомобиля
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <td>Двигатель</td>
                            <td>Л.С.</td>
                            <td>Год выпуска</td>
                            <td class="hidden-600">Двигатель и кол-во цилиндров</td>
                            <td>Маркировка двигателя</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="icon-car"></span>3.6 Carrera</td>
                            <td>250</td>
                            <td>07/1989-09/1993</td>
                            <td class="hidden-600">Бензиновый двигатель, 6 целиндров</td>
                            <td>M64,01,M64.02
                                <button class="online-search__success">Выбрать</button></td>
                        </tr>
                        <tr>
                            <td><span class="icon-car"></span>3.6 Carrera</td>
                            <td>250</td>
                            <td>07/1989-09/1993</td>
                            <td class="hidden-600">Бензиновый двигатель, 6 целиндров</td>
                            <td>M64,01,M64.02
                                <button class="online-search__success">Выбрать</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="online-search__brand-back">Вернуться к выбору модели автомобиля</button>
                </div>
            </div>
        </div>
    </div>
</div>