<div class="search">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Поиск товаров</a></li>
            </ul>
        </div>
        <div class="search__online">
            <div class="search__online-header">
                <h2>Онлайн поиск генератора</h2>
                <p>Для подбора подходящего генератора для Вашего автомобиля заполните <br>необходимые данные.</p>
            </div>
            <div class="online-search">
                <div class="online-search__nav">
                    <ul>
                        <li class="online-search__nav-item"><span class="online-search__nav-item--count">1 шаг.</span> Тип генератора</li>
                        <li class="online-search__nav-item active"><span class="online-search__nav-item--count">2 шаг.</span> Марка автомобиля</li>
                        <li class="online-search__nav-item"><span class="online-search__nav-item--count">3 шаг.</span> Модель автомобиля</li>
                        <li class="online-search__nav-item"><span class="online-search__nav-item--count">4 шаг.</span> Модификация</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="online-search__wrap">
        <div class="container">
            <div class="online-search__item">
                <div class="online-search__brand">
                    <div class="online-search__brand-item">
                        <div class="online-search__brand-img"><img
                                src="upload/LOGOS/1.png" height="159" width="208"/></div>
                        <button class="online-search__brand-btn">chevrolet</button>
                    </div>
                    <div class="online-search__brand-item">
                        <div class="online-search__brand-img"><img
                                src="upload/LOGOS/2.png" height="159" width="208"/></div>
                        <button class="online-search__brand-btn">chevrolet</button>
                    </div>
                    <div class="online-search__brand-item">
                        <div class="online-search__brand-img"><img
                                src="upload/LOGOS/3.png" height="159" width="208"/></div>
                        <button class="online-search__brand-btn">chevrolet</button>
                    </div>
                    <div class="online-search__brand-item">
                        <div class="online-search__brand-img"><img
                                src="upload/LOGOS/4.png" height="159" width="208"/></div>
                        <button class="online-search__brand-btn">chevrolet</button>
                    </div>
                    <div class="online-search__brand-item">
                        <div class="online-search__brand-img"><img
                                src="upload/LOGOS/5.png" height="159" width="208"/></div>
                        <button class="online-search__brand-btn">chevrolet</button>
                    </div>
                    <div class="online-search__brand-item">
                        <div class="online-search__brand-img"><img
                                src="upload/LOGOS/1.png" height="159" width="208"/></div>
                        <button class="online-search__brand-btn">chevrolet</button>
                    </div>
                    <div class="online-search__brand-item">
                        <div class="online-search__brand-img"><img
                                src="upload/LOGOS/2.png" height="159" width="208"/></div>
                        <button class="online-search__brand-btn">chevrolet</button>
                    </div>
                    <div class="online-search__brand-item">
                        <div class="online-search__brand-img"><img
                                src="upload/LOGOS/3.png" height="159" width="208"/></div>
                        <button class="online-search__brand-btn">chevrolet</button>
                    </div>
                    <div class="online-search__brand-item">
                        <div class="online-search__brand-img"><img
                                src="upload/LOGOS/4.png" height="159" width="208"/></div>
                        <button class="online-search__brand-btn">chevrolet</button>
                    </div>
                    <div class="online-search__brand-item">
                        <div class="online-search__brand-img"><img
                                src="upload/LOGOS/5.png" height="159" width="208"/></div>
                        <button class="online-search__brand-btn">chevrolet</button>
                    </div>
                </div>
                <button class="online-search__brand-back">Вернуться к выбору типа генераторов</button>
            </div>
        </div>
    </div>
</div>