<div class="search">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home-bread-crumbs.svg" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Поиск товаров</a></li>
            </ul>
        </div>
        <div class="search__online">
            <div class="search__online-header">
                <h2>Онлайн поиск генератора</h2>
                <p>Для подбора подходящего генератора для Вашего автомобиля заполните <br>необходимые данные.</p>
            </div>
            <div class="online-search">
                <div class="online-search__nav">
                    <ul>
                        <li class="online-search__nav-item active"><span class="online-search__nav-item--count">1 шаг.</span> Тип генератора</li>
                        <li class="online-search__nav-item"><span class="online-search__nav-item--count">2 шаг.</span> Марка автомобиля</li>
                        <li class="online-search__nav-item"><span class="online-search__nav-item--count">3 шаг.</span> Модель автомобиля</li>
                        <li class="online-search__nav-item"><span class="online-search__nav-item--count">4 шаг.</span> Модификация</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="online-search__wrap">
        <div class="container">
            <div class="online-search__item">
                <div class="online-search__type">
                    <div class="online-search__type-option">
                        <div class="online-search__type-option-img">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="238px" height="157px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 52856 35013"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                    <style type="text/css">
                                    <![CDATA[
                                    .str0 {stroke:#4781C5;stroke-width:525.425;stroke-opacity:0.501961}
                                    .fil2 {fill:none}
                                    .fil1 {fill:#1C63B8}
                                    .fil0 {fill:white;fill-opacity:0.949020}
                                    ]]>
                                    </style>
                                    </defs>
                                    <g id="Слой_x0020_1">
                                    <metadata id="CorelCorpID_0Corel-Layer"/>
                                    <polygon class="fil0" points="0,0 52856,0 52856,35013 0,35013 "/>
                                    <g id="_1589731544176">
                                    <g>
                                    <g>
                                    <path class="fil1" d="M19646 22186c-219,0 -396,177 -396,396 0,483 -393,875 -875,875 -483,0 -875,-392 -875,-875 0,-482 392,-875 875,-875 219,0 396,-177 396,-396 0,-219 -177,-397 -396,-397 -920,0 -1668,748 -1668,1668 0,920 748,1668 1668,1668 920,0 1668,-748 1668,-1668 0,-219 -178,-396 -397,-396z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil1" d="M35753 22186c-219,0 -397,177 -397,396 0,483 -392,875 -875,875 -482,0 -875,-392 -875,-875 0,-482 393,-875 875,-875 219,0 397,-177 397,-396 0,-219 -178,-397 -397,-397 -920,0 -1668,748 -1668,1668 0,920 748,1668 1668,1668 920,0 1668,-748 1668,-1668 0,-219 -177,-396 -396,-396z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil1" d="M39964 15959c0,-557 -377,-1044 -917,-1184 -1013,-263 -3082,-570 -7261,-632l-2186 -2428c-257,-286 -566,-515 -906,-679 157,-208 250,-466 250,-746 0,-686 -558,-1244 -1244,-1244l-8054 0c-686,0 -1244,558 -1244,1244 0,273 88,525 238,731 -263,150 -494,358 -673,613l-1748 2498 -1614 0c-629,0 -1176,447 -1273,1039 -56,348 35,701 250,975 -418,303 -690,795 -690,1350l0 2243c0,861 516,1623 1315,1942l852 341c-31,182 -48,369 -48,560 0,1036 471,1963 1209,2581l-812 0c-219,0 -397,177 -397,396 0,219 178,397 397,397l5934 0c219,0 396,-178 396,-397 0,-219 -177,-396 -396,-396l-812 0c738,-618 1208,-1545 1208,-2581 0,-9 0,-18 0,-27l9381 0c0,9 -1,18 -1,27 0,1036 470,1963 1208,2581l-812 0c-219,0 -396,177 -396,396 0,219 177,397 396,397l5934 0c219,0 397,-178 397,-397 0,-219 -178,-396 -397,-396l-812 0c739,-618 1209,-1545 1209,-2581 0,-161 -12,-319 -34,-474l1179 -263c573,-127 974,-627 974,-1214l0 -2622c0,-423 -162,-818 -431,-1117 274,-233 431,-571 431,-933zm-10067 -2729l812 904c-152,-1 -308,-1 -466,-1l-4690 0 0 -903 4344 0zm-10251 -3391l8054 0c248,0 451,203 451,452 0,248 -203,451 -451,451l-285 0 -7734 0 -35 0c-248,0 -451,-203 -451,-451 0,-249 203,-452 451,-452zm-1029 2250c243,-347 641,-554 1064,-554l7734 0c607,0 1189,259 1595,710l173 192 -8219 0c-432,0 -826,219 -1055,585l-694 1111 -2028 0 1430 -2044zm6143 1141l0 903 -4610 0 431 -691c83,-132 226,-212 383,-212l3796 0zm-11075 4266c0,-482 392,-875 875,-875l1054 0 -327 653c-76,154 -231,249 -403,249l-1199 0 0 -27zm4690 7657c-1418,0 -2571,-1153 -2571,-2571 0,-1417 1153,-2570 2571,-2570 1417,0 2570,1153 2570,2570 0,1418 -1153,2571 -2570,2571zm16106 0c-1417,0 -2570,-1153 -2570,-2571 0,-1417 1153,-2570 2570,-2570 1418,0 2571,1153 2571,2570 0,1418 -1153,2571 -2571,2571zm4531 -8858c-59,47 -182,121 -353,85 -5,-1 -10,-2 -15,-3 -2,0 -3,-1 -5,-1 -1,0 -2,0 -3,-1 -908,-190 -2155,-333 -3707,-426 -219,-12 -407,154 -420,373 -13,218 154,406 373,419 265,16 514,33 749,51l683 1139c300,499 848,810 1430,810l1427 0 0 1890c0,213 -145,394 -353,440l-1212 269c-495,-1241 -1708,-2121 -3125,-2121 -1571,0 -2894,1084 -3262,2543l-9582 0c-368,-1459 -1691,-2543 -3262,-2543 -1385,0 -2576,841 -3092,2039l-782 -313c-496,-198 -816,-672 -816,-1206l0 -1422 1199 0c474,0 901,-264 1113,-688l503 -1008 13743 0c1053,0 2047,15 2954,44 221,7 402,-165 409,-383 7,-219 -165,-403 -384,-409 -915,-30 -1917,-45 -2979,-45l-15683 0c-133,0 -258,-58 -344,-159 -87,-103 -123,-234 -101,-371 34,-209 250,-372 490,-372l15638 0c5416,0 7716,386 8605,617 190,49 323,221 323,417 0,131 -58,253 -159,335zm156 1652l-1424 0c-305,0 -593,-163 -750,-425l-386 -643c881,91 1481,192 1869,273 382,81 664,410 691,795z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil1" d="M34481 17523l-13987 0c-219,0 -397,178 -397,397 0,219 178,397 397,397l13987 0c219,0 397,-178 397,-397 0,-219 -178,-397 -397,-397z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil1" d="M18799 17523l-848 0c-219,0 -397,178 -397,397 0,219 178,397 397,397l848 0c219,0 396,-178 396,-397 0,-219 -177,-397 -396,-397z"/>
                                    </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    </g>
                                    <line class="fil2 str0" x1="12611" y1="2675" x2="39852" y2= "2675" />
                                    <line class="fil2 str0" x1="12611" y1="32328" x2="39852" y2= "32328" />
                                    </g>
                                    </svg>
                        </div>
                        <p>Для легковых авто</p>
                        <button class="online-search__type-btn">выбрать</button>
                    </div>
                    <div class="online-search__type-option">
                        <div class="online-search__type-option-img">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="238px" height="157px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 109939 72827"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                    <style type="text/css">
                                    <![CDATA[
                                    .str02 {stroke:#4781C5;stroke-width:1092.88;stroke-opacity:0.501961}
                                    .fil22 {fill:none}
                                    .fil12 {fill:#1C63B8}
                                    .fil02 {fill:white;fill-opacity:0.949020}
                                    ]]>
                                    </style>
                                    </defs>
                                    <g id="Слой_x0020_1">
                                    <metadata id="CorelCorpID_0Corel-Layer"/>
                                    <polygon class="fil02" points="0,0 109939,0 109939,72827 0,72827 "/>
                                    <g id="_1590577970912">
                                    <g>
                                    <g>
                                    <path class="fil12" d="M48881 38682l-7845 -2615c-1336,-445 -2758,-228 -3901,596 -1143,823 -1798,2104 -1798,3512l0 7586c0,387 314,701 701,701l12621 0c387,0 701,-314 701,-701l0 -8414c0,-302 -193,-569 -479,-665zm-923 8378l-11219 0 0 -6885c0,-952 443,-1818 1216,-2375 773,-557 1733,-704 2638,-402l7365 2455 0 7207 0 0z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M72799 36669c-1147,-826 -2573,-1043 -3913,-596l-7828 2609c-286,96 -479,363 -479,665l0 8414c0,387 314,701 701,701l12621 0c387,0 701,-314 701,-701l0 -7568c0,-1414 -657,-2698 -1803,-3524zm401 10391l-11219 0 0 -7207 7349 -2449c908,-304 1874,-156 2649,404 776,559 1221,1428 1221,2385l0 6867z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M61280 38646l-12621 0c-387,0 -701,314 -701,701l0 8414c0,387 314,701 701,701l12621 0c387,0 701,-314 701,-701l0 -8414c0,-387 -314,-701 -701,-701zm-701 8414l-11219 0 0 -7012 11219 0 0 7012 0 0z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M64786 25324l-19633 0c-1547,0 -2805,1258 -2805,2804l0 4909c0,1547 1258,2804 2805,2804l19633 0c1547,0 2805,-1257 2805,-2804l0 -4909c0,-1547 -1258,-2804 -2805,-2804zm1402 7713c0,773 -629,1402 -1402,1402l-19633 0c-773,0 -1402,-629 -1402,-1402l0 -4909c0,-773 629,-1402 1402,-1402l19633 0c773,0 1402,629 1402,1402l0 4909z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M66889 22519l-23840 0c-1933,0 -3505,1573 -3505,3506l0 10572c0,343 249,636 587,692 154,26 308,58 462,109l7844 2615c72,23 147,35 222,35l12621 0c75,0 150,-12 222,-35l7827 -2610c136,-45 287,-81 477,-111 340,-54 589,-348 589,-692l0 -10575c0,-1933 -1572,-3506 -3506,-3506zm2103 13520c-35,11 -71,22 -106,34l-7720 2573 -12394 0 -7736 -2579c-30,-10 -60,-20 -90,-29l0 -10013c0,-1160 944,-2104 2103,-2104l23840 0c1159,0 2103,944 2103,2104l0 10014z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M58475 41451l-7011 0c-387,0 -702,314 -702,701 0,387 315,701 702,701l7011 0c387,0 702,-314 702,-701 0,-387 -315,-701 -702,-701z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M58475 44255l-7011 0c-387,0 -702,315 -702,702 0,386 315,701 702,701l7011 0c387,0 702,-315 702,-701 0,-387 -315,-702 -702,-702z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M73901 47060l-37863 0c-1160,0 -2104,944 -2104,2104l0 1402c0,1160 944,2104 2104,2104l37863 0c1160,0 2104,-944 2104,-2104l0 -1402c0,-1160 -944,-2104 -2104,-2104zm701 3506c0,387 -314,701 -701,701l-37863 0c-387,0 -701,-314 -701,-701l0 -1402c0,-387 314,-702 701,-702l37863 0c387,0 701,315 701,702l0 1402z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M72499 51267l-7012 0c-387,0 -701,315 -701,701l0 2805c0,1547 1258,2805 2805,2805l2804 0c1547,0 2805,-1258 2805,-2805l0 -2805c0,-386 -314,-701 -701,-701zm-701 3506c0,774 -629,1402 -1403,1402l-2804 0c-774,0 -1403,-628 -1403,-1402l0 -2103 5610 0 0 2103z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M44452 51267l-7012 0c-387,0 -701,315 -701,701l0 2805c0,1547 1258,2805 2805,2805l2804 0c1547,0 2805,-1258 2805,-2805l0 -2805c0,-386 -314,-701 -701,-701zm-701 3506c0,774 -629,1402 -1403,1402l-2804 0c-774,0 -1403,-628 -1403,-1402l0 -2103 5610 0 0 2103z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M45153 40048l-5609 0c-774,0 -1403,629 -1403,1403l0 2804c0,774 629,1403 1403,1403l5609 0c773,0 1402,-629 1402,-1403l0 -2804c0,-774 -629,-1403 -1402,-1403zm-5609 4207l0 -2804 5609 0 1 2804 -5610 0z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M70395 40048l-5609 0c-774,0 -1402,629 -1402,1403l0 2804c0,774 628,1403 1402,1403l5609 0c774,0 1403,-629 1403,-1403l0 -2804c0,-774 -629,-1403 -1403,-1403zm-5609 4207l0 -2804 5609 0 1 2804 -5610 0z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M50374 31709c-345,-174 -767,-33 -940,313l-1403 2805c-173,346 -32,767 313,941 102,49 209,73 314,73 257,0 505,-141 627,-386l1403 -2805c173,-347 33,-768 -314,-941z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M60191 31709c-346,-174 -768,-33 -941,313l-1402 2805c-174,346 -33,767 313,941 101,49 208,73 313,73 258,0 505,-141 628,-386l1402 -2805c174,-347 34,-768 -313,-941z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M52866 31634l-5609 0c-387,0 -702,315 -702,701 0,387 315,702 702,702l5609 0c387,0 701,-315 701,-702 0,-386 -314,-701 -701,-701z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M62682 31634l-5609 0c-387,0 -701,315 -701,701 0,387 314,702 701,702l5609 0c387,0 702,-315 702,-702 0,-386 -315,-701 -702,-701z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M75304 28830l-2805 0c-387,0 -701,314 -701,701l0 4207c0,387 314,701 701,701l2805 0c386,0 701,-314 701,-701l0 -4207c0,-387 -315,-701 -701,-701zm-702 4207l-1402 0 0 -2805 1402 0 0 2805z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M37440 28830l-2805 0c-386,0 -701,314 -701,701l0 4207c0,387 315,701 701,701l2805 0c387,0 701,-314 701,-701l0 -4207c0,-387 -314,-701 -701,-701zm-701 4207l-1402 0 0 -2805 1402 0 0 2805 0 0z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M73901 33037l-701 0 0 -2805 665 0c193,0 377,-78 508,-217 133,-139 202,-327 193,-518 -389,-7845 -6841,-13990 -14688,-13990l-9817 0c-7847,0 -14299,6145 -14687,13989 -10,192 60,378 192,518 132,140 315,218 508,218l665 0 0 2805 -701 0c-387,0 -701,314 -701,701l0 6310c0,387 321,702 709,702 377,0 687,-300 700,-677 33,-931 490,-1770 1257,-2304 762,-531 1706,-666 2590,-371l7844 2614c72,24 147,36 222,36l12621 0c75,0 150,-12 222,-36l7827 -2609c884,-295 1831,-160 2596,370 769,532 1231,1371 1267,2303 14,376 332,674 709,674 387,0 701,-315 701,-702l0 -6310c0,-387 -314,-701 -701,-701zm-702 3963c-148,-136 -307,-263 -477,-380 -1132,-783 -2529,-982 -3836,-547l-7720 2573 -12394 0 -7736 -2579c-1306,-435 -2703,-235 -3833,550 -164,115 -320,239 -464,371l0 -2549 701 0c387,0 701,-314 701,-701l0 -4207c0,-387 -314,-701 -701,-701l-610 0c703,-6741 6380,-11920 13231,-11920l9817 0c6851,0 12527,5179 13230,11920l-610 0c-387,0 -701,314 -701,701l0 4207c0,387 314,701 701,701l701 0 0 2561z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M72499 30933l-2805 0c-387,0 -701,315 -701,701 0,387 314,701 701,701l2805 0c387,0 701,-314 701,-701 0,-386 -314,-701 -701,-701z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil12" d="M40245 30933l-2805 0c-387,0 -701,315 -701,701 0,387 314,701 701,701l2805 0c387,0 701,-314 701,-701 0,-386 -314,-701 -701,-701z"/>
                                    </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    </g>
                                    <line class="fil22 str02" x1="26200" y1="5563" x2="82860" y2= "5563" />
                                    <line class="fil22 str02" x1="26200" y1="67242" x2="82860" y2= "67242" />
                                    </g>
                                    </svg>
                        </div>
                        <p>Для груовых авто <br>и спец. техники</p>
                        <button class="online-search__type-btn">выбрать</button>
                    </div>
                    <div class="online-search__type-option">
                        <div class="online-search__type-option-img">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="240px" height="157px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1397148 918195"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                    <style type="text/css">
                                    <![CDATA[
                                    .str13 {stroke:#4781C5;stroke-width:13778.8;stroke-opacity:0.501961}
                                    .str03 {stroke:white;stroke-width:13778.8}
                                    .fil13 {fill:none}
                                    .fil33 {fill:none}
                                    .fil43 {fill:#1C63B8}
                                    .fil23 {fill:white}
                                    .fil03 {fill:white;fill-opacity:0.949020}
                                    ]]>
                                    </style>
                                    </defs>
                                    <g id="Слой_x0020_1">
                                    <metadata id="CorelCorpID_0Corel-Layer"/>
                                    <polygon class="fil03" points="0,0 1386104,0 1386104,918195 0,918195 "/>
                                    <polyline class="fil13 str03" points="689907,237230 689907,66435 850203,66435 "/>
                                    <g id="_1590287878000">
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1227362" y="573511" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1170767" y="601809" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1191990" y="580586" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil23" d="M1382542 312022c-9418,-9370 -21956,-14351 -35198,-14413l-13951 76c-7757,48 -14068,6394 -14068,14151l0 17106 -16735 8254c-3561,-6676 -10534,-11285 -18635,-11285l-28295 0c-11699,0 -21227,9521 -21227,21220l0 6999c-22390,-22349 -52917,-35294 -84891,-35294 -66311,0 -120262,53944 -120262,120261 0,66318 53951,120262 120262,120262 31974,0 62501,-12945 84891,-35287l0 6992c0,11706 9528,21227 21227,21227l28301 0c8054,0 14985,-4568 18581,-11189l16790 8178 0 17155c0,7764 6310,14109 14061,14151l13958 75c90,0 186,0 282,0 13173,0 25560,-5105 34909,-14405 9418,-9363 14606,-21833 14606,-35116l0 -184009c0,-13276 -5188,-25753 -14606,-35109zm-133958 35109c0,-3900 3176,-7076 7076,-7076l28295 0c2528,0 4753,1330 6007,3390l-19345 9548c-2198,1096 -3948,2729 -5285,4644 -144,207 -351,358 -475,572 -517,826 -847,1750 -1185,2666 -103,303 -296,565 -386,875 -358,1247 -551,2570 -551,3927l0 30975c0,833 69,1639 214,2439 -3507,-9845 -8309,-19263 -14365,-28040l0 -23920zm15701 55955c83,173 228,304 317,462 455,799 972,1543 1557,2239 172,193 310,400 489,586 779,820 1647,1543 2598,2156 199,131 420,221 627,345 806,461 1646,847 2542,1143 303,104 599,207 916,283 1144,296 2322,503 3555,503l28295 0c7806,0 14151,6345 14151,14144l0 28301c0,7799 -6345,14144 -14151,14144l-28295 0c-1233,0 -2404,207 -3541,503 -317,90 -613,186 -923,290 -896,303 -1737,682 -2543,1143 -213,117 -434,214 -633,345 -958,613 -1819,1336 -2598,2156 -179,186 -324,400 -489,600 -585,688 -1109,1433 -1557,2225 -89,165 -234,289 -317,461 3652,-11567 5526,-23672 5526,-36018 0,-12345 -1874,-24450 -5526,-36011zm-28515 97706c-19952,27813 -52181,44423 -86228,44423 -58512,0 -106111,-47606 -106111,-106118 0,-58511 47599,-106117 106111,-106117 34047,0 66276,16610 86228,44423 13007,18160 19890,39490 19890,61694 0,22205 -6883,43535 -19890,61695zm48191 37348l-28301 0c-3900,0 -7076,-3176 -7076,-7076l0 -23913c6049,-8784 10858,-18195 14365,-28040 -145,793 -214,1599 -214,2432l0 31326c0,1344 200,2667 565,3927 1102,3783 3762,7035 7385,8798l19194 9349c-1260,1922 -3437,3197 -5918,3197zm99036 -7000c0,9487 -3700,18395 -10424,25085 -6731,6682 -15432,10582 -25146,10292l-13951 -82 0 -21585c0,-2707 -1544,-5167 -3975,-6359l-52615 -25622 0 -31326 28295 0c15604,0 28295,-12690 28295,-28295l0 -28301c0,-15605 -12691,-28295 -28295,-28295l-28295 0 0 -30968 13944 -6890 10403 -5132c0,0 7,0 7,-7l28295 -13965c2411,-1199 3941,-3658 3941,-6345l0 -21509 13951 -76c76,0 144,0 206,0 9411,0 18257,3652 24940,10293 6724,6683 10424,15591 10424,25078l0 184009z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil23" d="M1292807 565443c-36279,41088 -88494,64664 -143265,64664 -105319,0 -191009,-85684 -191009,-191010 0,-105325 85690,-191009 191009,-191009 54771,0 106979,23576 143259,64664l10602 -9362c-38959,-44134 -95032,-69446 -153861,-69446 -113125,0 -205153,92029 -205153,205153 0,113125 92028,205161 205153,205161 58829,0 114909,-25319 153868,-69460l-10603 -9355z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil23" d="M1007482 380937l-13007 -5539c-8591,20179 -12946,41605 -12946,63699 0,20414 3735,40317 11092,59174l13180 -5154c-6724,-17202 -10128,-35377 -10128,-54020 0,-20179 3983,-39745 11809,-58160z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil23" d="M1347627 354206c-11699,0 -21227,9521 -21227,21219 0,11706 9528,21227 21227,21227 11698,0 21226,-9521 21226,-21227 0,-11698 -9528,-21219 -21226,-21219zm0 28295c-3900,0 -7076,-3176 -7076,-7076 0,-3892 3176,-7068 7076,-7068 3899,0 7075,3176 7075,7068 0,3900 -3176,7076 -7075,7076z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil23" d="M1347627 481543c-11699,0 -21227,9521 -21227,21227 0,11698 9528,21219 21227,21219 11698,0 21226,-9521 21226,-21219 0,-11706 -9528,-21227 -21226,-21227zm0 28302c-3900,0 -7076,-3183 -7076,-7075 0,-3900 3176,-7076 7076,-7076 3899,0 7075,3176 7075,7076 0,3892 -3176,7075 -7075,7075z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1347627" y="410801" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1347627" y="453247" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1227362" y="290536" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1029280" y="311759" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1008057" y="340057" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1029280" y="552288" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1008057" y="523991" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1170767" y="262239" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1191990" y="283462" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1283957" y="432024" width="21223" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil23" d="M1149542 396652c-23410,0 -42446,19035 -42446,42445 0,23411 19036,42446 42446,42446 23410,0 42446,-19035 42446,-42446 0,-23410 -19036,-42445 -42446,-42445zm0 70740c-15605,0 -28295,-12690 -28295,-28295 0,-15604 12690,-28294 28295,-28294 15611,0 28302,12690 28302,28294 0,15605 -12691,28295 -28302,28295z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil23" d="M1156204 361564l-1206 14096c12821,1081 24871,5980 34847,14151l8963 -10948c-12194,-9989 -26931,-15969 -42604,-17299z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil23" d="M1224230 417175l-13579 3976c1695,5800 2563,11842 2563,17946 0,12911 -3837,25333 -11099,35936l11671 7998c8880,-12966 13579,-28164 13579,-43934 0,-7454 -1054,-14826 -3135,-21922z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil23" d="M1111264 371333c-13710,7758 -24616,19311 -31567,33428l12690 6255c5691,-11546 14626,-21013 25856,-27365l-6979 -12318z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil23" d="M1172649 498443c-11857,4623 -25167,5539 -37527,2694l-3196 13779c5738,1329 11670,1998 17616,1998 9741,0 19242,-1771 28253,-5292l-5146 -13179z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil23" d="M1086524 448178l-14013 1991c2212,15563 9032,29927 19711,41557l10417 -9570c-8729,-9514 -14303,-21260 -16115,-33978z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <rect class="fil23" x="1142470" y="432024" width="14149" height="14149"/>
                                    </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    </g>
                                    <line class="fil33 str13" x1="319780" y1="70141" x2="1044003" y2= "70141" />
                                    <line class="fil33 str13" x1="319780" y1="847778" x2="1044003" y2= "847778" />
                                    <g id="_1590287899760">
                                    <g>
                                    <g>
                                    <g>
                                    <path class="fil43" d="M679173 612194c-6331,0 -11464,5133 -11464,11464l0 276c0,6331 5133,11464 11464,11464 6332,0 11471,-5133 11471,-11464l0 -276c0,-6331 -5132,-11464 -11471,-11464z"/>
                                    <path class="fil43" d="M932925 709735c-16790,0 -32429,-9025 -40820,-23562 -2046,-3548 -5836,-5739 -9928,-5739 -4099,0 -7881,2191 -9934,5739 -7730,13393 -21620,22087 -36880,23383 21826,-42267 41585,-95832 57458,-144995 214,-538 400,-1089 531,-1647 5263,-16369 10100,-32229 14426,-46999 97,-269 172,-552 241,-820 5085,-17362 9466,-33180 13035,-46511 1061,-3961 -69,-8184 -2962,-11078 -30121,-30114 -66614,-59724 -105057,-85890l-2722 -88109c-440,-14096 -11636,-25140 -25484,-25140l-47943 0 -4933 -53351c-14,-262 -34,-524 -69,-779l-3541 -38264c-1075,-11657 -10300,-20441 -21447,-20441l-55439 0c-11147,0 -20372,8784 -21447,20441l-3541 38278c-34,241 -55,496 -69,751l-4939 53365 -47937 0c-13855,0 -25050,11044 -25484,25140l-2721 88109c-38443,26166 -74937,55769 -105057,85890 -2894,2894 -4024,7117 -2963,11078 3555,13269 7909,29012 12966,46270 83,365 193,737 317,1095 4327,14750 9149,30589 14413,46931 131,578 317,1143 544,1695 15873,49169 35625,102721 57451,144974 -15260,-1289 -29149,-9983 -36879,-23376 -2046,-3548 -5835,-5739 -9935,-5739 -4092,0 -7881,2191 -9927,5739 -8392,14530 -24031,23562 -40820,23562 -6332,0 -11464,5132 -11464,11471 0,6331 5132,11464 11464,11464 19352,0 37678,-8068 50747,-21771 13076,13703 31402,21778 50755,21778 5739,0 11388,-724 16838,-2081 268,-55 537,-124 799,-200 12607,-3300 24106,-10065 33110,-19504 13070,13703 31395,21785 50748,21785 19352,0 37678,-8075 50747,-21778 13076,13703 31402,21778 50755,21778 19345,0 37671,-8082 50747,-21785 8943,9377 20352,16121 32863,19442 399,124 813,227 1219,310 5395,1330 10989,2033 16666,2033 19352,0 37678,-8075 50754,-21778 13069,13703 31395,21771 50748,21771 6331,0 11464,-5133 11464,-11464 0,-6339 -5133,-11471 -11464,-11471zm-136549 -321736c36604,24609 71554,52525 100792,81074 -1915,7069 -4037,14737 -6345,22873 -50382,-41681 -139297,-104554 -200179,-132428l0 -30534c33793,14833 69487,34798 103789,57713 600,496 1247,930 1943,1302zm-143569 -219532l52739 0 2384 25794 -57506 0 2383 -25794zm-4505 48729l61750 0 3803 41171 -69356 0 3803 -41171zm-77334 67020c41,-1433 1013,-2914 2556,-2914l58395 0 94516 0 20 0 58374 0c1544,0 2515,1481 2556,2914l2226 72043c-35536,-22432 -71953,-41529 -105939,-55060 -34,-21 -69,-28 -103,-48 -55,-21 -104,-42 -159,-62 -96,-42 -200,-69 -296,-104 -220,-76 -441,-158 -668,-227 -138,-41 -276,-69 -421,-110 -213,-56 -427,-111 -647,-152 -179,-34 -365,-62 -551,-83 -179,-27 -352,-62 -538,-75 -737,-76 -1488,-76 -2232,0 -179,13 -358,48 -537,75 -186,21 -365,49 -551,83 -221,41 -434,96 -648,152 -138,41 -282,69 -413,110 -235,69 -455,151 -675,227 -97,35 -200,69 -297,104 -48,20 -103,41 -158,62 -35,13 -69,27 -104,48 -33985,13531 -70396,32628 -105931,55060l2225 -72043zm-109783 184857c29225,-28536 64161,-56445 100758,-81047 709,-379 1364,-827 1977,-1336 34303,-22915 69990,-42873 103789,-57706l0 30534c-60882,27874 -149790,90747 -200179,132428 -2308,-8136 -4423,-15804 -6345,-22873zm350472 236273c-8688,-4023 -16121,-10644 -21054,-19173 -14,-35 -42,-69 -62,-103 -124,-214 -262,-421 -407,-620 -75,-118 -144,-228 -227,-338 -131,-186 -276,-358 -420,-531 -104,-124 -200,-248 -310,-365 -124,-137 -262,-268 -393,-406 -138,-138 -276,-283 -420,-414 -110,-96 -234,-192 -352,-289 -179,-145 -358,-296 -544,-434 -103,-76 -220,-151 -324,-220 -213,-145 -420,-283 -633,-414 -35,-20 -69,-41 -104,-62 -89,-55 -186,-96 -275,-144 -200,-111 -407,-214 -614,-310 -165,-76 -323,-145 -489,-214 -172,-69 -344,-138 -523,-207 -193,-62 -393,-124 -586,-186 -158,-41 -310,-89 -462,-124 -213,-55 -427,-96 -640,-138 -145,-34 -296,-62 -448,-82 -207,-28 -420,-55 -634,-76 -158,-14 -324,-28 -489,-34 -193,-7 -386,-14 -579,-14 -186,0 -372,7 -558,14 -172,6 -344,20 -510,41 -206,14 -413,41 -613,69 -158,27 -310,55 -468,82 -207,42 -414,83 -620,138 -166,42 -317,83 -476,131 -193,55 -385,117 -578,179 -179,69 -359,138 -531,214 -165,62 -324,131 -482,207 -207,96 -413,206 -620,310 -90,55 -179,89 -269,144 -34,21 -69,42 -103,62 -221,131 -427,269 -634,414 -110,75 -220,144 -324,220 -186,138 -372,289 -551,441 -117,96 -234,186 -344,289 -145,131 -283,269 -421,414 -137,131 -268,262 -399,399 -104,117 -200,241 -303,365 -145,173 -290,352 -421,531 -82,110 -158,227 -234,338 -138,206 -275,406 -399,620 -21,34 -49,68 -69,103 -8392,14537 -24031,23569 -40820,23569 -16783,0 -32422,-9032 -40820,-23569 -2046,-3548 -5829,-5732 -9928,-5732 -4099,0 -7881,2184 -9934,5732 -8392,14537 -24031,23562 -40813,23562 -16783,0 -32429,-9025 -40820,-23562 -21,-35 -41,-69 -62,-103 -131,-214 -269,-421 -413,-634 -76,-110 -145,-221 -221,-324 -138,-186 -282,-365 -434,-544 -96,-117 -193,-241 -296,-352 -124,-144 -262,-275 -400,-413 -138,-138 -275,-276 -413,-407 -117,-96 -234,-192 -351,-289 -180,-151 -359,-296 -545,-434 -110,-83 -220,-151 -330,-227 -207,-138 -414,-283 -634,-407 -35,-20 -62,-48 -97,-69 -89,-48 -186,-89 -275,-137 -207,-111 -407,-221 -613,-317 -166,-76 -324,-138 -483,-207 -179,-69 -358,-145 -537,-207 -193,-69 -379,-124 -572,-186 -158,-48 -317,-89 -475,-131 -207,-48 -414,-96 -620,-137 -159,-28 -317,-56 -476,-83 -200,-28 -399,-48 -599,-69 -172,-14 -351,-28 -524,-41 -186,-7 -365,-7 -544,-7 -200,0 -400,0 -599,14 -159,6 -310,20 -469,34 -220,14 -441,41 -654,76 -145,20 -283,48 -421,76 -227,41 -447,89 -668,144 -145,35 -282,76 -427,117 -207,62 -413,124 -620,200 -165,55 -331,124 -489,186 -179,76 -352,145 -517,228 -200,89 -399,192 -592,296 -97,55 -200,96 -297,151 -34,21 -69,49 -103,69 -207,124 -406,262 -613,393 -117,83 -234,158 -345,241 -179,131 -351,276 -523,420 -124,97 -255,200 -372,303 -138,124 -269,262 -400,393 -138,145 -282,283 -413,427 -104,111 -193,228 -290,345 -151,179 -303,358 -440,551 -76,103 -145,214 -221,324 -145,206 -282,413 -406,634 -21,34 -49,62 -69,96 -4926,8536 -12360,15150 -21047,19173 -21557,-40103 -41275,-92532 -57279,-141453l9797 -8585c6910,-6062 14302,-12277 21963,-18463 4933,-3982 5698,-11202 1722,-16128 -3975,-4926 -11195,-5698 -16128,-1716 -7902,6380 -15535,12794 -22680,19056l-2280 1998c-2556,-8219 -4995,-16259 -7303,-24030 45773,-39015 132945,-101226 193193,-131085l7 205780c0,6331 5133,11464 11464,11464 6332,0 11471,-5133 11471,-11464l0 -205780c60255,29859 147427,92077 193193,131092 -2308,7771 -4740,15804 -7302,24023l-2274 -1991c-14791,-12973 -30995,-26028 -49528,-39931 -5071,-3796 -12256,-2769 -16052,2294 -3803,5064 -2777,12257 2287,16053 17816,13358 34027,26427 48171,38828l9797 8585c-16005,48921 -35722,101350 -57279,141460z"/>
                                    <path class="fil43" d="M548123 498732c-4472,-3975 -11182,-3816 -15460,200 -992,930 -1819,2033 -2432,3252 -2832,5670 -538,12552 5132,15384 1647,827 3397,1219 5119,1219 3238,0 6387,-1384 8584,-3858 0,0 7,-7 14,-7 4203,-4739 3776,-11987 -957,-16190z"/>
                                    </g>
                                    </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    </g>
                                    </g>
                                    </svg>
                        </div>
                        <p>Плавательные <br> средства</p>
                        <button class="online-search__type-btn">выбрать</button>
                    </div>
                    <div class="online-search__type-option">
                        <div class="online-search__type-option-img">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="238px" height="157px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 94778 62784"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                    <style type="text/css">
                                    <![CDATA[
                                    .str04 {stroke:#4781C5;stroke-width:942.16;stroke-opacity:0.501961}
                                    .fil14 {fill:none}
                                    .fil24 {fill:#1C63B8}
                                    .fil04 {fill:white}
                                    ]]>
                                    </style>
                                    </defs>
                                    <g id="Слой_x0020_1">
                                    <metadata id="CorelCorpID_0Corel-Layer"/>
                                    <rect class="fil04" width="94778" height="62783"/>
                                    <line class="fil14 str04" x1="21683" y1="4796" x2="71204" y2= "4796" />
                                    <line class="fil14 str04" x1="21683" y1="57969" x2="71204" y2= "57969" />
                                    <g id="_1589839757232">
                                    <g>
                                    <g>
                                    <path class="fil24" d="M28218 40840c-216,-246 -416,-509 -594,-783 -197,-302 -601,-388 -904,-191 -302,197 -388,601 -191,903 212,327 451,641 710,934 129,147 566,382 921,58 267,-242 297,-651 58,-921z"/>
                                    </g>
                                    </g>
                                    <g>
                                    <g>
                                    <path class="fil24" d="M63329 28557c155,-384 256,-741 319,-1067 952,-467 1764,-1211 2308,-2159l572 -999c304,-528 708,-978 1201,-1335l511 -371c420,-305 619,-810 519,-1320 -100,-509 -475,-902 -980,-1026l-2193 -535c-1364,-333 -2813,16 -3876,934l-877 756c-1074,927 -2383,1528 -3786,1740 -356,53 -602,386 -548,743 54,356 387,603 743,548 1521,-229 2948,-850 4151,-1801 -460,2206 -2348,3418 -4039,4072l-3720 0 1641 -1151c560,-393 806,-1074 625,-1734 -181,-661 -739,-1121 -1422,-1174l-9570 -736c-487,-37 -967,42 -1407,227l-5168 -723 279 -1011c130,-473 13,-974 -322,-1332 -573,-614 -1362,-419 -1396,-412 -271,-624 -892,-1061 -1614,-1061 -970,0 -1760,789 -1760,1760l0 479c-2637,1373 -4624,3650 -5758,6601 -307,798 -152,1661 332,2294 -1306,791 -2200,1996 -2894,3402 -355,718 413,1631 457,1664 -279,825 -421,1688 -421,2571 0,898 148,1781 438,2622 94,271 506,522 831,404 339,-123 522,-490 404,-830 -244,-705 -367,-1443 -367,-2196 0,-817 145,-1611 430,-2365 43,-16 1846,-852 1846,-852 -657,904 -1046,2016 -1046,3217 0,3025 2460,5485 5484,5485 1430,0 2784,-549 3812,-1545 417,-402 761,-861 1027,-1358 136,461 390,862 725,1177 -1242,1834 -3333,2956 -5564,2956 -1383,0 -2712,-418 -3841,-1207 -296,-207 -703,-135 -909,161 -207,296 -135,703 161,909 1350,944 2937,1442 4589,1442 2704,0 5235,-1378 6710,-3626 214,55 437,85 665,85l9987 0c700,0 1370,-203 1940,-569l2090 0c1419,2540 4086,4110 7003,4110 4422,0 8020,-3597 8020,-8020 0,-3809 -2682,-7065 -6342,-7844zm-2265 -2656c1190,-1223 1774,-2708 1740,-4420 714,-501 1617,-676 2473,-467l2198 536c2,3 4,12 -2,19l-510 370c-644,467 -1171,1053 -1567,1744l-573 998c-727,1268 -2086,2056 -3548,2056l-1184 0c337,-245 667,-521 973,-836zm211 2141c297,0 590,-24 878,-72 -403,1049 -1369,2515 -3621,4190 -651,-1585 -2211,-2704 -4027,-2704 -1247,0 -2434,542 -3255,1466l-1012 -685c-186,-126 -295,-328 -296,-553 -2,-225 102,-429 287,-559 0,0 1565,-1082 1576,-1082l9470 0 0 -1zm-2012 10351l0 -232 414 0c499,558 1220,886 1974,886 530,0 1042,-157 1480,-452 730,-494 1166,-1314 1166,-2194 0,-210 -25,-418 -74,-621 228,-409 254,-898 57,-1345 -247,-560 -780,-907 -1392,-907l-4019 0c543,-384 1028,-762 1460,-1131l0 1c407,-129 892,-176 1322,-176 2304,0 4179,1875 4179,4179 0,2304 -1875,4179 -4179,4179 -1021,0 -2003,-378 -2764,-1049 236,-318 376,-712 376,-1138zm-851 -2668c138,-281 247,-580 322,-891l4154 0c122,0 176,80 197,128 21,48 44,142 -38,231l-582 638c-594,651 -1440,1024 -2322,1024l-937 0c-116,-465 -400,-866 -794,-1130zm-3412 -2267l-2655 -1796c568,-569 1346,-900 2160,-900 1680,0 3046,1367 3046,3046 0,1412 -964,2602 -2269,2946l285 -430c626,-945 372,-2231 -567,-2866zm-17258 -9867l241 -876 3976 555 -1364 1112c-104,84 -240,123 -373,104l-2079 -286c-189,-26 -294,-145 -339,-214 -46,-68 -114,-211 -62,-395zm-702 -3597c65,-14 131,-27 195,-39 14,-2 55,-10 93,32 27,29 35,63 25,101l-313 1135 0 -1229zm-2214 -604c0,-246 208,-454 454,-454 246,0 454,208 454,454l0 2276c0,246 -208,454 -454,454 -246,0 -454,-208 -454,-454l0 -2276zm-1306 1977c0,0 -12,793 233,1170 -953,862 -2092,1107 -2918,1154 757,-927 1654,-1703 2685,-2324zm-6969 11432c-20,9 -66,31 -118,-19 -53,-51 -33,-99 -25,-118 573,-1393 1544,-2421 2887,-3064l2254 873 -4998 2328zm10881 3751c-79,2259 -1913,4030 -4176,4030 -2304,0 -4179,-1875 -4179,-4179 0,-2080 1529,-3810 3521,-4126l-152 1608c-1079,347 -1835,1364 -1835,2518 0,1459 1186,2646 2645,2646 1220,0 2287,-845 2572,-2022l1598 -504 7 24c0,2 -1,3 -1,5zm-3693 1062c32,0 64,-2 96,-4 -176,85 -373,133 -579,133 -738,0 -1339,-601 -1339,-1340 0,-357 143,-688 379,-932l-50 517c0,4 0,7 -1,11 -38,497 172,979 562,1289 269,213 598,326 932,326zm-192 -1510l444 -4685 812 315c0,0 1,0 1,0 928,360 1637,1148 1897,2109l384 1419 -3288 1036c-85,27 -147,-9 -177,-33 -30,-23 -78,-75 -73,-161zm18978 2448c-425,642 -1138,1024 -1907,1024l-9987 0c-604,0 -1135,-407 -1293,-989l-1376 -5086c-125,-461 -325,-893 -583,-1284l15363 3850c430,70 718,-178 792,-474 88,-350 -124,-705 -474,-793l-19048 -4773 -4430 -1716c-541,-210 -810,-824 -601,-1371 270,-700 586,-1353 950,-1958 158,13 2736,300 4859,-1625 707,140 1484,-160 1807,-525l-114 413c-138,498 -53,1031 231,1462 284,431 740,719 1252,789l2079 286c490,68 992,-73 1375,-386l2170 -1769c343,-280 775,-415 1218,-381l9570 736c181,14 242,142 263,217 20,74 32,216 -116,320l-5046 3539c-533,374 -848,987 -843,1639 5,652 331,1259 871,1624l4761 3221c349,235 443,712 211,1062l-1954 2948zm1265 455l563 -849c51,1 2200,-105 3310,-1358 177,111 294,307 294,520l0 1075c0,337 -275,612 -612,612l-3555 0zm7861 4111c-2188,0 -4208,-1056 -5460,-2805l1154 0c143,0 282,-16 416,-46 1028,1034 2429,1621 3890,1621 3025,0 5485,-2460 5485,-5485 0,-2965 -2365,-5386 -5307,-5480 345,-399 632,-784 868,-1152 3246,507 5668,3320 5668,6632 0,3703 -3012,6715 -6714,6715z"/>
                                    </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    </g>
                                    </g>
                                    </svg>
                        </div>
                        <p>Мототехника</p>
                        <button class="online-search__type-btn">выбрать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>