<div class="seo">
    <h3>SEO текст</h3>
    <p>
        Текст (от лат. textus — «ткань; сплетение, связь, паутина, сочетание»)
        — зафиксированная на каком-либо материальном носителе человеческая мысль;
        в общем плане связная и полная последовательность символов.</p>
    <p>
        Существуют две основные трактовки понятия «текст»: «имманентная»
        (расширенная, философски нагруженная) и «репрезентативная»
        (более частная). Имманентный подход подразумевает отношение
        к тексту как к автономной реальности, нацеленность на выявление
        его внутренней структуры. Репрезентативный — рассмотрение текста
        как особой формы представления знаний о внешней тексту действительности.
    </p>
    <p>
        В лингвистике термин текст используется в широком значении,
        включая и образцы устной речи. Восприятие текста изучается в
        рамках лингвистики текста и психолингвистики. Так, например,
        И. Р. Гальперин определяет текст следующим образом: «это письменное сообщение,
        объективированное в виде письменного документа, состоящее из ряда
    </p>
</div>