<div class="shares">
    <div class="container">
        <div class="bread-crumbs">
            <ul class="bread-crumbs-container">
                <li class="bread-crumbs-item"><a href="#"><img src="img/home.png" alt=""></a></li>
                <li class="bread-crumbs-item"><a href="#">Главная</a></li>
                <li class="bread-crumbs-item bread-crumbs-item--active"><a href="#">Акции и новости</a></li>
            </ul>
        </div>
        <h2 class="shares__header">акции и новости магазина</h2>
        <div class="shares__item-wrap">
            <div class="shares__item">
                <div class="shares__img">
                    <img src="upload/shares/img-shares-1.jpg" alt="">
                </div>
                <h4 class="shares__item-header">Видео отчет с выставки
                    «АВТО Пром 2018" </h4>
                <div class="shares__item-date">
                    <svg class="shares__item-icon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="20px" height="20px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 366 366" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Слой_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"/>
                        <g id="_1590094647184">
                        <g>
                        <path d="M183 366c-101,0 -183,-82 -183,-183 0,-101 82,-183 183,-183 101,0 183,82 183,183 0,101 -82,183 -183,183zm0 -354c-94,0 -171,77 -171,171 0,95 77,171 171,171 95,0 171,-76 171,-171 0,-94 -76,-171 -171,-171z"/>
                        </g>
                        <g>
                        <polygon points="177,197 177,58 189,58 189,169 231,127 239,135 "/>
                        </g>
                        </g>
                        </g>
                    </svg>
                    07 мая 2016
                </div>
                <a href="#" class="shares__item-read-more">подробнее</a>
            </div>
            <div class="shares__item shares__item--orange">
                <div class="shares__item-notify">Акция!</div>
                <div class="shares__img">
                    <img src="upload/shares/img-shares-1.jpg" alt="">
                </div>
                <h4 class="shares__item-header">Видео отчет с выставки
                    «АВТО Пром 2018" </h4>
                <div class="shares__item-date">
                    <svg class="shares__item-icon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="20px" height="20px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 366 366" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Слой_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"/>
                        <g id="_1590094647184">
                        <g>
                        <path d="M183 366c-101,0 -183,-82 -183,-183 0,-101 82,-183 183,-183 101,0 183,82 183,183 0,101 -82,183 -183,183zm0 -354c-94,0 -171,77 -171,171 0,95 77,171 171,171 95,0 171,-76 171,-171 0,-94 -76,-171 -171,-171z"/>
                        </g>
                        <g>
                        <polygon points="177,197 177,58 189,58 189,169 231,127 239,135 "/>
                        </g>
                        </g>
                        </g>
                    </svg>
                    07 мая 2016
                </div>
                <a href="#" class="shares__item-read-more">подробнее</a>
            </div>
            <div class="shares__item">
                <div class="shares__img">
                    <img src="upload/shares/img-shares-1.jpg" alt="">
                </div>
                <h4 class="shares__item-header">Видео отчет с выставки
                    «АВТО Пром 2018" </h4>
                <div class="shares__item-date">
                    <svg class="shares__item-icon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="20px" height="20px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 366 366" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Слой_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"/>
                        <g id="_1590094647184">
                        <g>
                        <path d="M183 366c-101,0 -183,-82 -183,-183 0,-101 82,-183 183,-183 101,0 183,82 183,183 0,101 -82,183 -183,183zm0 -354c-94,0 -171,77 -171,171 0,95 77,171 171,171 95,0 171,-76 171,-171 0,-94 -76,-171 -171,-171z"/>
                        </g>
                        <g>
                        <polygon points="177,197 177,58 189,58 189,169 231,127 239,135 "/>
                        </g>
                        </g>
                        </g>
                    </svg>
                    07 мая 2016
                </div>
                <a href="#" class="shares__item-read-more">подробнее</a>
            </div>
            <div class="shares__item">
                <div class="shares__img">
                    <img src="upload/shares/img-shares-1.jpg" alt="">
                </div>
                <h4 class="shares__item-header">Видео отчет с выставки
                    «АВТО Пром 2018" </h4>
                <div class="shares__item-date">
                    <svg class="shares__item-icon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="20px" height="20px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 366 366" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Слой_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"/>
                        <g id="_1590094647184">
                        <g>
                        <path d="M183 366c-101,0 -183,-82 -183,-183 0,-101 82,-183 183,-183 101,0 183,82 183,183 0,101 -82,183 -183,183zm0 -354c-94,0 -171,77 -171,171 0,95 77,171 171,171 95,0 171,-76 171,-171 0,-94 -76,-171 -171,-171z"/>
                        </g>
                        <g>
                        <polygon points="177,197 177,58 189,58 189,169 231,127 239,135 "/>
                        </g>
                        </g>
                        </g>
                    </svg>
                    07 мая 2016
                </div>
                <a href="#" class="shares__item-read-more">подробнее</a>
            </div>
            <div class="shares__item shares__item--orange">
                <div class="shares__item-notify">Акция!</div>
                <div class="shares__img">
                    <img src="upload/shares/img-shares-1.jpg" alt="">
                </div>
                <h4 class="shares__item-header">Видео отчет с выставки
                    «АВТО Пром 2018" </h4>
                <div class="shares__item-date">
                    <svg class="shares__item-icon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="20px" height="20px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 366 366" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Слой_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"/>
                        <g id="_1590094647184">
                        <g>
                        <path d="M183 366c-101,0 -183,-82 -183,-183 0,-101 82,-183 183,-183 101,0 183,82 183,183 0,101 -82,183 -183,183zm0 -354c-94,0 -171,77 -171,171 0,95 77,171 171,171 95,0 171,-76 171,-171 0,-94 -76,-171 -171,-171z"/>
                        </g>
                        <g>
                        <polygon points="177,197 177,58 189,58 189,169 231,127 239,135 "/>
                        </g>
                        </g>
                        </g>
                    </svg>
                    07 мая 2016
                </div>
                <a href="#" class="shares__item-read-more">подробнее</a>
            </div>
            <div class="shares__item">
                <div class="shares__img">
                    <img src="upload/shares/img-shares-1.jpg" alt="">
                </div>
                <h4 class="shares__item-header">Видео отчет с выставки
                    «АВТО Пром 2018" </h4>
                <div class="shares__item-date">
                    <svg class="shares__item-icon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="20px" height="20px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 366 366" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Слой_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"/>
                        <g id="_1590094647184">
                        <g>
                        <path d="M183 366c-101,0 -183,-82 -183,-183 0,-101 82,-183 183,-183 101,0 183,82 183,183 0,101 -82,183 -183,183zm0 -354c-94,0 -171,77 -171,171 0,95 77,171 171,171 95,0 171,-76 171,-171 0,-94 -76,-171 -171,-171z"/>
                        </g>
                        <g>
                        <polygon points="177,197 177,58 189,58 189,169 231,127 239,135 "/>
                        </g>
                        </g>
                        </g>
                    </svg>
                    07 мая 2016
                </div>
                <a href="#" class="shares__item-read-more">подробнее</a>
            </div>
        </div>
        <nav class="shares__nav">
            <button class="shares__nav-btn shares__nav-btn--prev"></button>
            <ul class="shares__nav-list">
                <li class="shares__nav-item"><a href="#">1</a></li>
                <li class="shares__nav-item"><a href="#">2</a></li>
                <li class="shares__nav-item shares__nav-item--active"><a href="#">3</a></li>
                <li class="shares__nav-item"><a href="#">4</a></li>
                <li class="shares__nav-item"><a href="#">5</a></li>
            </ul>
            <button class="shares__nav-btn shares__nav-btn--next"></button>
        </nav>
        <div class="shares__preloader"><span class="shares__preloader--inner"></span></div>
        <a href="#" class="shares__more">
          смотреть еще
        </a>
    </div>
    <div class="container">
        //= ../part/seo.html
    </div>
</div>