@import global/reset
@import global/mixins
@import global/veriable
//header imports
@import partial/header
@import partial/shares
@import partial/order
@import partial/answer
@import partial/garant
@import partial/delivery
@import partial/catalog
@import partial/news-detail
@import partial/contact
@import partial/search
@import partial/about
@import partial/card

html, body
  height: 100%
  min-height: 100%

body
  font-family: 'Roboto', sans-serif
  font-size: 14px
  line-height: 1.2
  min-width: 320px
  color: #000
  background: #fff

.container
  padding: 0 15px
  max-width: 1200px
  position: relative
  box-sizing: border-box
  margin: 0 auto
  +clearfix

.containerBig
  max-width: 1326px
  position: relative
  box-sizing: border-box
  margin: 0 auto
  +clearfix

.mainSlider
  &__slide
    height: 519px
    background: url("../upload/main-slider.png") no-repeat center
    -webkit-background-size: cover
    background-size: cover
    .containerBig
      display: flex
      flex-flow: wrap row
      justify-content: flex-end
    &_inner
      width: 719px
      color: #ffffff
      padding: 73px 0 0
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      h1
        font-size: 49px
        font-weight: 900
        margin-bottom: -4px
        padding-left: 6px
      h3
        font-size: 36px
        font-weight: 500
        padding-left: 6px
      .searchBlock
        margin-top: 34px
        width: 568px
        height: 56px
        margin-bottom: 22px
        border-radius: 30px
        background: #ffffff
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: space-between
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding: 7px
        input
          display: block
          font-size: 15px
          color: #3e3e3e
          background: none
          border: none
          flex-grow: 1
          -webkit-box-sizing: border-box
          -moz-box-sizing: border-box
          box-sizing: border-box
          padding: 0 17px
        button
          display: block
          width: 204px
          height: 42px
          border-radius: 25px
          border: none
          background: #ff6600
          font-size: 17px
          text-transform: uppercase
          color: #ffffff
          font-weight: 500
          position: relative
          &::before
            content: ""
            width: 20px
            height: 20px
            background: url('../img/header/search.svg') no-repeat center
            position: absolute
            right: 10px
            top: 50%
            +transformY
      p
        font-size: 20px
        color: #ffffff
        padding-left: 9px
        a
          color: #ffffff
          display: inline-block
          width: 191px
          height: 38px
          background: url("../img/border.svg") no-repeat center
          line-height: 38px
          text-align: center

  .slick-dots
    position: absolute
    width: 100%
    left: 0
    bottom: 25px
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: center
    li
      margin-right: 8px
      &:last-child
        margin-right: 0
      button
        width: 19px
        height: 19px
        display: block
        border-radius: 50%
        background: #ff6600
        font-size: 0
        border: none
    li.slick-active button
      background: #ffffff

.slick-arrow
  position: absolute
  top: 50%
  +transformY
  font-size: 0
  border: none
  width: 32px
  height: 55px
  z-index: 20

.slick-prev
  left: 50%
  margin-left: -600px
  background: url("../img/prev.svg") no-repeat center

.slick-next
  right: 50%
  margin-right: -600px
  background: url('../img/next.svg') no-repeat center

.mainCatalog
  padding: 48px 0 21px
  background: #ececec
  .mainCatalog__items
    display: flex
    flex-flow: wrap row
    justify-content: space-between
    .mainCatalog__items_item
      overflow: hidden
      border: 3px solid #1c63b8
      width: 252px
      height: 245px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      margin-bottom: 34px
      position: relative
      &:hover
        border-color: #ff6600
      img
        display: block
        width: 100%
        height: auto
      .descr
        position: absolute
        bottom: 21px
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        left: 0
        width: 100%
        padding-left: 25px
        z-index: 21
        h3
          color: #ffffff
          font-size: 23px
          line-height: 1
          margin-bottom: 3px
        span
          display: block
          font-size: 20px
          color: #01cbfd
      .showHover
        display: none
        position: absolute
        width: 100%
        height: 100%
        background: rgba(28, 99, 184, 0.5)
        top: 0
        left: 0
        z-index: 20
        flex-direction: column
        align-items: center
        justify-content: center
        a.buy
          width: 107px
          height: 39px
          display: block
          border-radius: 20px
          background: #ff6600
          color: #fff
          text-transform: uppercase
          font-size: 16px
          font-weight: bold
          line-height: 39px
          text-align: center
          position: relative
          &::before, &::after
            content: ""
            width: 69px
            height: 1px
            background: #fff
            opacity: 0.5
            position: absolute
            top: 50%
            +transformY
          &::before
            left: -80px
          &::after
            right: -80px
      &:hover
        .descr
          padding: 0
          text-align: center
        .showHover
          display: flex
    .mainCatalog__items_item--big
      width: 343px
      height: 245px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box

h2
  color: #ffffff
  text-align: center
  text-transform: uppercase
  font-size: 34px
  font-weight: 900
  padding-bottom: 22px
  position: relative
  margin-bottom: 46px
  &::before
    content: ""
    background: #1C63B8
    height: 4px
    width: 50px
    position: absolute
    bottom: 0
    left: 50%
    border-radius: 5px
    +transformX

.mainWhy
  background: url('../upload/bgWhy.png') no-repeat center
  -webkit-background-size: cover
  background-size: cover
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 52px 0 53px
  a.more
    display: block
    margin: 0 auto
    width: 228px
    height: 42px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    border: 2px solid #ff6600
    border-radius: 20px
    color: #ffffff
    text-transform: uppercase
    font-size: 17px
    font-weight: bold
    text-align: center
    line-height: 38px
    &:hover
      background: #ff6600

.mainWhy__items
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  .mainWhy__items_item
    width: 189px
    margin-bottom: 26px
    .icon
      margin-bottom: 17px
    p
      color: #ffffff
      font-size: 18px
      text-align: center
    &:hover
      .cls-2, .cls-5
        fill: #fff
      .cls-3, .cls-4
        stroke: #fff
      .cls-1
        opacity: 1
        fill: #1c63b8

.promo-block
  display: flex
  flex-flow: wrap row
  .left, .right
    width: 50%
    height: 305px
  .left
    background: url('../upload/left.png') no-repeat center right
    -webkit-background-size: cover
    background-size: cover
    display: flex
    justify-content: flex-end
    .inner
      width: 406px
      padding-top: 62px
      h3
        font-size: 30px
        font-weight: 900
        color: #ffffff
        margin-bottom: 14px
      p
        font-size: 20px
        color: #ffffff
        margin-bottom: 19px
  a.more
    display: block
    background: $orange
    color: #ffffff
    text-transform: uppercase
    text-align: center
    width: 143px
    height: 39px
    line-height: 39px
    border-radius: 20px
  .right
    background: url('../upload/right.png') no-repeat center left
    -webkit-background-size: cover
    background-size: cover
    display: flex
    justify-content: flex-start
    .inner
      width: 670px
      padding: 50px 0 0 328px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
    span.attention
      display: block
      color: #ffffff
      font-size: 31px
      font-weight: 900
      margin-bottom: 14px
      line-height: 1
    span.sale
      display: block
      font-weight: 900
      color: $orange
      font-size: 56px
      line-height: 1
      margin-bottom: 6px
    p
      font-size: 20px
      color: #ffffff
      margin-bottom: 18px

.weTrust
  background: #ececec
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 60px 0 9px
  .container
    max-width: 1187px
  h2
    color: #000
    margin-bottom: 12px
  p.top
    text-align: center
    font-size: 19px
    color: #525252
    margin-bottom: 35px

.weTrust__items
  display: flex
  flex-flow: wrap row
  justify-content: space-between
  max-width: 1187px
  .slick-list.draggable
    padding-top: 57px
  .slick-dots
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    width: 100%
    padding: 48px 0
    li
      margin: 0 6px
      display: block
      button
        font-size: 0
        border: none
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        width: 16px
        height: 16px
        display: block
        background: #b3b3b3
        border-radius: 50%
      &.slick-active button
        background: #1c63b8
  .weTrust__items_item
    margin: 0 9px
    width: 378px
    background: #ffffff
    padding: 93px 20px 50px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    position: relative
    display: flex
    flex-flow: column wrap
    justify-content: space-between
    .photo
      width: 115px
      height: 115px
      overflow: hidden
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      border-radius: 50%
      border: 7px solid #ffffff
      position: absolute
      top: -57px
      left: 50%
      +transformX
      img
        display: block
        width: 100%
        height: auto
    .text
      text-align: center
      margin-bottom: 65px
      position: relative
      &::before, &::after
        content: ""
        width: 33px
        height: 28px
        position: absolute
        background: url('../img/ii.svg') no-repeat center
      &::before
        top: -11px
        left: 2px
      &::after
        bottom: -36px
        right: 16px
      p
        margin-bottom: 22px
        font-size: 19px
        color: #525252
        font-style: italic
        &:last-of-type
          margin-bottom: 0
    span
      display: block
      text-align: center
      &.name
        font-size: 21px
        color: #000
        text-transform: uppercase
      &.city
        font-size: 21px
        color: #1c63b8
        font-style: italic

.ourPartners
  background: url('../upload/ourPartners.png') no-repeat center
  -webkit-background-size: cover
  background-size: cover
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 49px 0 80px 0
  h2
    margin-bottom: 21px
    &::before
      background: #ffffff
  p
    text-align: center
    color: #ffffff
    font-size: 19px
    margin-bottom: 30px
  &__items
    display: flex !important
    flex-flow: row wrap
    align-items: center
    justify-content: space-between
    &_item
      width: 206px
      height: 125px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      border: 2px solid rgba(255, 255, 255, 0.17)
      display: flex
      align-items: center
      justify-content: center
      padding: 5px
      margin-bottom: 11px
      &:hover
        background: $orange
        border: none
      img
        display: block
        max-width: 100%
        max-height: 100%

.promotions
  background: url('../upload/promotions.jpg') no-repeat center
  -webkit-background-size: cover
  background-size: cover
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 57px 0 58px 0
  p.top
    text-align: center
    color: #525252
    font-size: 19px
    margin-bottom: 54px
  h2
    color: #000
    margin-bottom: 13px
    &::before
      background: $orange

.promotions__items
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  &_item
    width: 340px
    cursor: pointer
    margin-bottom: 48px
    .image
      width: 100%
      height: 192px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      border: 4px solid transparent
      overflow: hidden
      margin-bottom: 26px
      position: relative
      &::before
        content: none
        width: 125px
        height: 34px
        position: absolute
        z-index: 20
        left: -2px
        top: 25px
        background: url('../img/promotions.svg') no-repeat center
      img
        display: block
        width: 100%
        height: auto
    p.title
      display: block
      margin-bottom: 9px
      font-size: 21px
      font-weight: 500
      border-left: 4px solid $blue
      padding: 2px 0 5px 13px
    span.date
      display: block
      margin-bottom: 15px
      padding-left: 24px
      position: relative
      color: #2d2d2d
      font-size: 19px
      &::before
        content: ""
        position: absolute
        top: 50%
        left: 0
        +transformY
        width: 20px
        height: 20px
        background: url('../img/clock.svg') no-repeat center
    a.more
      display: block
      width: 123px
      height: 33px
      border-radius: 30px
      background: $orange
      text-transform: uppercase
      color: #FFFFFF
      font-size: 14px
      text-align: center
      line-height: 33px
    &:hover
      .image, p
        border-color: $orange
        &::before
          content: ""

.seo
  padding: 25px 0 26px
  h3
    font-size: 34px
    font-weight: 900
    margin-bottom: 15px
    padding-bottom: 10px
    padding-left: 4px
    position: relative
    &::before
      content: ""
      width: 50px
      height: 4px
      border-radius: 4px
      background: $orange
      position: absolute
      bottom: 0
      left: 7px
  p
    font-size: 18px
    padding-left: 7px
    margin-bottom: 22px

footer
  background: url('../upload/footer.jpg') no-repeat center
  -webkit-background-size: cover
  background-size: cover
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 37px 0 0
  .footer__top
    border-bottom: 1px solid #666666
    padding-bottom: 28px
    margin-bottom: 20px
    .container
      display: flex
      flex-flow: row wrap
      justify-content: space-between
    a
      display: block
    h3
      color: #FFFFFF
      font-weight: bold
      padding-left: 5px
      font-size: 21px
      padding-bottom: 15px
      margin-bottom: 14px
      position: relative
      &::before
        content: ""
        position: absolute
        bottom: 0
        left: 5px
        width: 26px
        height: 4px
        border-radius: 4px
        background: $orange
    ul li
      margin-bottom: 2px
      a
        color: #FFFFFF
        font-size: 16px
        display: inline-block
        padding: 1px 10px
        border-radius: 20px
        border: 1px solid transparent
        &:hover
          border-color: $orange
    a.email
      position: relative
      padding-left: 36px
      color: #FFFFFF
      font-size: 16px
      margin-bottom: 17px
      &::before
        content: ""
        width: 26px
        height: 19px
        position: absolute
        left: 0
        top: 50%
        +transformY
        background: url('../img/email.svg') no-repeat center
    a.phone
      position: relative
      padding-left: 46px
      color: #4781c5
      font-size: 22px
      font-weight: bold
      margin-bottom: 18px
      &::before
        content: ""
        width: 37px
        height: 41px
        position: absolute
        top: 50%
        left: 0
        +transformY
        background: url('../img/header/mobile.svg') no-repeat center
    a.viber
      position: relative
      padding-left: 50px
      color: #FFFFFF
      font-size: 22px
      font-weight: bold
      margin-bottom: 13px
      &::before
        content: ""
        position: absolute
        top: 50%
        left: 0
        +transformY
        width: 37px
        height: 42px
        background: url('../img/viber.svg') no-repeat center
      span
        display: block
        font-size: 13px
        font-weight: normal
    a.all_contacts
      font-size: 16px
      color: $orange
      text-decoration: underline
      text-align: center
    .location
      color: #FFFFFF
      font-size: 16px
      padding-left: 29px
      position: relative
      margin-bottom: 10px
      &::before
        content: ""
        position: absolute
        top: 50%
        left: 0
        +transformY
        width: 20px
        height: 37px
        background: url('../img/marker.svg') no-repeat center
    .workTime
      font-size: 16px
      color: #FFFFFF
      padding-left: 26px
      position: relative
      margin-bottom: 20px
      &::before
        content: ""
        position: absolute
        top: 50%
        left: 0
        +transformY
        background: url('../img/workTime.svg') no-repeat center
        width: 21px
        height: 21px
    a.showCallBack
      display: block
      width: 189px
      height: 44px
      border-radius: 22px
      border: 3px solid $orange
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      text-align: center
      line-height: 38px
      color: #FFFFFF
      font-size: 14px
      font-weight: 500
      text-transform: uppercase
  .footer__bottom
    .container
      display: flex
      flex-flow: row wrap
      align-items: center
      justify-content: space-between
    p.copyright
      text-align: center
      color: #FFFFFF
      font-size: 16px
      max-width: 350px
    ul.social
      display: flex
      flex-flow: wrap row
      align-items: center
      li
        margin: 0 2px
        a
          display: block
          width: 38px
          height: 38px
          .cls-1
            opacity: 1
          &:hover
            .cls-1
              fill: #4781c5

.main__logo
  display: flex
  flex-flow: row wrap
  align-items: center
  img
    display: block
    margin-right: 8px
  span:not(.right)
    display: block
    line-height: 1
    font-family: 'AGLettericaCondensed'
    font-size: 37px
    color: #FFFFFF
    b
      font-weight: normal
      color: #4781c5
  p
    color: #FFFFFF
    font-size: 16px
    line-height: 1
    letter-spacing: -1.1px
.popup
  z-index: 999999
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: auto
  &-callback
    display: none
  &-background
    background: #000
    opacity: 0
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
  &-content
    position: relative
    left: 50%
    top: 20%
    width: 410px
    margin-left: -205px
    background: #FFFFFF
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5)
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5)
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5)
    padding: 20px 35px
    box-sizing: border-box
    text-align: center
    margin-bottom: 30px
  &-logo
    background: url("../img/popup-logo.png") no-repeat center center
    -webkit-background-size: contain
    background-size: contain
    width: 100%
    height: 70px
  &-close
    width: 35px
    height: 35px
    position: absolute
    top: -35px
    right: 0
    border: none
    box-sizing: border-box
    background: #1760ad
    &:before,&:after
      content: ''
      width: 30px
      height: 3px
      border-radius: 1.5px
      position: absolute
      top: 16px
      left: 3px
      background-color: #fff
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)
  &-header
    font-size: 28px
    color: #000000
    font-family: Roboto
    font-weight: bold
    text-transform: uppercase
    padding: 10px 0
  &-text
    font-size: 15px
    color: #525252
    padding: 10px 0
  &-input
    width: 100%
    height: 44px
    box-sizing: border-box
    padding: 0 20px
    border-radius: 22px
    border: 1px solid #bebfbf
    color: #525252
    font-family: Roboto
    font-size: 16px
    margin: 3px 0
  &-submit
    color: #FFFFFF
    background: #1760ad
    text-transform: uppercase
    font-size: 18px
    font-family: Roboto
    font-weight: bold
    border: none
    margin: 6px 0

.bread-crumbs
  display: block
  &-container
  padding-top: 10px
  &-item
    position: relative
    display: inline-block
    padding-right: 20px
    height: 30px
    vertical-align: middle
    color: #2d2d2d
    font-size: 15px
    line-height: 30px
    text-decoration: underline
    & a
      height: inherit
      font-size: inherit
      color: inherit
    &--active
      color: #ff6600
    & a:hover
      color: #ff6600
    &:before
      content: ""
      display: block
      position: absolute
      width: 14px
      height: 12px
      background: url("../img/srelka.svg") no-repeat center center
      -webkit-background-size: contain
      background-size: contain
      top: 50%
      right: 0
      margin-top: -6px
    &:last-child:before
      display: none

.main
  overflow: hidden

.pull-right
  padding-top: 10px
  float: right
  display: inline-block

.order__table-total .order__table-price--old
  display: none

.online-search__type-option
  margin-bottom: 15px
.online-search__success
  float: right

.header__show-menu
  display: none
  background: url("../img/header/burger-blue-menu.svg") no-repeat, url("../img/header/arow-menu.svg") no-repeat right 15px center
  background-color: #4781c5
  -webkit-background-size: contain, 20px
  background-size: contain, 20px
  padding: 10px 20px 10px 70px
  text-transform: uppercase
  font-size: 26px
  text-align: left
  margin: 0 -15px
  
.search-icon
  position: relative
  display: inline-block
  width: 20px
  height: 20px
  border-radius: 50%
  background: #cccccc
  &.active
    background: #1C63B8
  &:before
    content: '?'
    color: #ffffff
    display: inline-block
    width: 20px
    text-align: center
    padding-top: 2px
  &__close
    background: transparent
    border: none
    width: 20px
    height: 20px
    position: absolute
    top: 40px
    right: 0
    &:before,&:after
      content: ''
      width: 15px
      height: 2px
      border-radius: 1.5px
      position: absolute
      top: 10px
      left: 3px
      background-color: #fff
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)
  &__description
    display: none
    position: absolute
    top: 0
    left: -40px
    width: 300px
    padding: 40px 0 0 0
    z-index: 100
  &__content
    background: #333333
    color: #ffffff
    padding: 15px
    &:before
      content: ''
      position: absolute
      top: 25px
      left: 40px
      width: 0
      height: 0
      border-style: solid
      border-width: 0 10px 15px 10px
      border-color: transparent transparent #333333 transparent

>>>>>>> 6c24c57f9b1c63384b7eab2056c8b82338f91ba0
//footer imports
@import partial/media
